[2019-05-14 10:56] luxas opened #1 "Implement `ignite build`"
It should:
 - import a tar file or docker image
 - generate a unique (8-char random string to begin with) sha for the VM
 - build a 4GB (customizable with a flag) disk image, with that content tar/docker included to `/var/lib/firecracker/images/{sha}/image.ext4`
 - write a `metadata.json` file with info to `/var/lib/firecracker/images/{sha}/metadata.json`
 - have a `--kernel` flag which specifies

[2019-05-14 11:00] luxas opened #2 "Implement `ignite images`"
It should list the images based on the filesystem structure in `/var/lib/firecracker/images` in the same way as e.g. `kubeadm token` does: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/token.go#L288

Initial columns:
 - ID
 - NAME
 - SIZE
 - CREATED
 - KERNEL

[2019-05-14 11:02] luxas opened #3 "Implement `ignite kernels`"
It should do a nice list of `/var/lib/firecracker/kernels`.
The default kernel should be a symlink in `/var/lib/firecracker/kernels/default`.
Output similar to `ignite images`:
 - NAME
 - SIZE
 - CREATED

[2019-05-14 11:17] luxas opened #4 "Implement `ignite ps`"
It should iterate through the `/var/lib/firecracker/vms` folder and list the running VMs.
With the `-a` option it also shows stopped containers.

Columns:
 - ID
 - IMAGE
 - STATE
 - CREATED
 - CPUS
 - MEMORY
 - DISK

[2019-05-27 14:13] luxas opened #5 "`ignite build` should allow docker images without the latest suffix"

[2019-05-27 14:15] luxas opened #6 "`ignite images` should output size in a human-readable way"

[2019-05-27 14:25] luxas opened #7 "Implement stop `ignite stop -f` for force-kill"

[2019-05-27 14:25] #4 closed, assigned to nobody

[2019-05-27 14:25] #3 closed, assigned to nobody

[2019-05-27 14:25] #2 closed, assigned to nobody

[2019-05-27 14:26] #1 closed, assigned to nobody

[2019-05-27 14:37] luxas opened #8 "Restructure `ignite kernels`"
Subcommands to `kernels`:
 - `import/add`
 - `rm`
 - `list/ls`

[2019-05-27 14:40] luxas opened #9 "Remove the exec command"
Too complex to implement atm

[2019-05-27 14:43] luxas opened #10 "Structure of `ignite images`"
Subcommands:
 - `import`
 - `ls/list`
 - `rm`
 - `build`

[2019-05-27 14:51] luxas opened #11 "Structure of `ignite vms`:"
Alias: `vm`
Subcommand:
 - `ls/list` => same as `ps`
 - `start` => toplevel too
 - `stop` => toplevel too
 - `create` => toplevel too
 - `logs` => toplevel too
 - `attach` => toplevel too
 - `rm` => toplevel too
- `run` => toplevel too
- `kill` => toplevel too

[2019-05-27 14:52] twelho opened #12 "`ignite run` -> `create` + `start`"
Currently does `start` + `attach`

[2019-05-27 14:52] luxas opened #13 "Generate random names everywhere, and move the name arg to a flag"
Flag name is `--name` or `-n`, and is optional.
Use e.g. https://github.com/goombaio/namegenerator

[2019-05-27 14:53] twelho opened #14 "Add -i flag to `ignite start`"
start -i would start and attach.

[2019-05-27 14:55] luxas opened #15 "Provide a good config file for `ignite create`"
Flags should override config ideally, but later

[2019-05-27 14:55] twelho opened #16 "Add -a filtering to `ps`"
List only running VMs by default.

[2019-05-27 14:59] luxas opened #17 "`ignite ps` should lookup the names for the image and kernel"

[2019-05-28 08:57] #16 closed, assigned to nobody

[2019-05-28 08:59] #9 closed, assigned to nobody

[2019-05-28 09:06] #17 closed, assigned to nobody

[2019-05-28 09:14] #14 closed, assigned to nobody

[2019-05-28 09:56] #6 closed, assigned to nobody

[2019-05-28 10:05] #5 closed, assigned to nobody

[2019-05-28 11:07] luxas opened #18 "Image import should import the kernel too (opt-in)"

[2019-05-28 11:31] luxas opened #19 "PoC: Footloose + Ignite"
Footloose will `os.Exec` out to Ignite [here](https://github.com/weaveworks/footloose/blob/master/pkg/cluster/cluster.go#L161) initially.

It will do basically:
[code]

[2019-05-28 13:00] luxas opened #20 "Auto-create /var/lib/firecracker/*"
Use the root command's PersistentPreRun

[2019-05-28 13:06] luxas opened #21 "Implement fmt.Stringer for printing values"
And `metav1.Time` and `metav1.Duration` from https://github.com/kubernetes/apimachinery/blob/master/pkg/apis/meta/v1/time.go

Also (a stretch): implement `type FooCollection []Type` and `func (fc *FooCollection) PrintCollection()`

[2019-05-28 13:07] luxas opened #22 "Implement ComponentConfig using k8s.io/apimachinery"
Like here: https://speakerdeck.com/luxas/configuring-your-kubernetes-cluster-on-the-next-level
Sample project: https://github.com/luxas/sample-config

[2019-05-29 11:04] #20 closed, assigned to nobody

[2019-05-29 11:51] #10 closed, assigned to nobody

[2019-05-29 12:10] #13 closed, assigned to nobody

[2019-05-29 12:11] #8 closed, assigned to nobody

[2019-05-29 12:42] #11 closed, assigned to nobody

[2019-05-29 12:45] #12 closed, assigned to nobody

[2019-05-29 13:00] #7 closed, assigned to nobody

[2019-05-31 11:19] #19 closed, assigned to nobody

[2019-05-31 12:30] twelho opened #23 "Sensible match error messages"
- [x] VMs
- [x] Images
- [x] Kernels

[2019-05-31 12:38] twelho opened #24 "Operate without root"
- [ ] Replace `mount` with https://github.com/nerd2/gexto
- [ ] User/group management of saved data

[2019-05-31 12:41] twelho opened #25 "`rm{i,k}` should check that the object to be deleted is not in use"

[2019-05-31 14:31] #23 closed, assigned to nobody

[2019-05-31 14:46] #25 closed, assigned to nobody

[2019-05-31 14:47] twelho opened #26 "Descriptive help texts"
- [x] `ignite` root command
- [ ] Long descriptions for subcommands

[2019-05-31 16:01] #18 closed, assigned to nobody

[2019-05-31 17:26] #26 closed, assigned to nobody

[2019-05-31 17:29] twelho opened #27 "Failed commands should undo created directories/metadata"

[2019-05-31 18:18] luxas opened #28 "Release v0.1.0"
This is the PoC targeted version

[2019-06-03 11:17] #28 closed, assigned to luxas

[2019-06-03 11:32] luxas opened #29 "Operations like `build` should error if the specified name already exists"
Otherwise you'll run into a situation where you can build many e.g. images with the same name, and ignite will error afterwards

[2019-06-03 11:32] luxas opened #30 "Size should be configurable when building an image"

[2019-06-03 11:46] luxas opened #31 "Multiple arguments to rm/kill/etc. commands should be honored"

[2019-06-03 11:57] luxas opened #32 "Show IP address of the VM in `ignite ps`"
You can get this through `docker inspect b7ac57cfd9ec | jq -r .[].NetworkSettings.IPAddress`, or just save it at some point earlier

[2019-06-03 12:09] twelho opened #33 "Refactor Ignite into a client-server model"
Currently ignite operates as a single-call binary, which is problematic for VM state handling, devicemapper cleanups and future rootless usablility. Providing a `daemon` mode for Ignite (like Docker does it) would keep a forked instance of Ignite running in the background while VMs are running.

[2019-06-03 12:23] twelho opened #34 "Security: run without --privileged"

[2019-06-03 12:38] twelho opened #35 "devicemapper snapshot overlaying of VM images"

[2019-06-03 13:44] luxas opened #37 "ignite build should allow for adding files on demand"
Like `--copy-files hostpath:targetpath`

[2019-06-03 14:24] luxas opened #38 "Add a `ignite run -p [hostport]:[vmport]` option"
Like `docker run`

[2019-06-03 14:35] #34 closed, assigned to nobody

[2019-06-03 14:35] #35 closed, assigned to nobody

[2019-06-03 15:09] #31 closed, assigned to nobody

[2019-06-03 15:16] #38 closed, assigned to luxas

[2019-06-03 16:29] #32 closed, assigned to nobody

[2019-06-04 12:07] #37 closed, assigned to nobody

[2019-06-04 12:19] #30 closed, assigned to nobody

[2019-06-05 11:09] luxas opened #39 "ignite leaks devicemapper loop devices"
[code]

[2019-06-05 15:40] luxas opened #40 "Ignite images should show the docker image it was created from"
Or just something like `<tar-file>` in the other case.

[2019-06-05 15:47] luxas opened #41 "Notes on Firecracker requirements"
`CONFIG_VIRTIO_BLK=y` and `CONFIG_VIRTIO_NET=y` are needed to be compiled into the kernel. Without virtio-block stock kernels can't boot xref https://github.com/firecracker-microvm/firecracker/issues/208

Something is needed for `ip=dhcp` to work in the kernel I suppose.

In this thread we will collect "known issues"

[2019-06-06 10:52] luxas opened #42 "Don't store a tar file when building the image"
For speed & disk usage reasons. Now we duplicate disk space more or less instead of just streaming the inputs directly to the file system.

[2019-06-06 11:52] #42 closed, assigned to luxas

[2019-06-06 13:02] #39 closed, assigned to nobody

[2019-06-07 09:49] luxas opened #44 "Make the Ignite image name always be the same as the docker image name"
and support `ignite run -i weaveworks/ignite-ubuntu` which will do build, create, start and attach.

[2019-06-07 10:48] #44 closed, assigned to luxas

[2019-06-07 10:49] #29 closed, assigned to nobody

[2019-06-07 10:55] #40 closed, assigned to luxas

[2019-06-07 11:00] luxas opened #45 "Show port mappings in `ignite ps`"

[2019-06-07 11:06] luxas opened #46 "Error out if the user is not root"
Add this to persistentprerun for the time being? It's sad, but maybe will be better for users to begin with, other than having to figure that out after some time of failing b/c of permissions.

[2019-06-07 11:41] luxas opened #47 "`ignite vms` should list vms as `ps`"
In the same way as we do for `images` and `kernels`

[2019-06-07 11:52] luxas opened #48 "`run`, `build`, `create` should output user-friendly messages"
and if you specify `-q` you get machine-readable output

[2019-06-07 11:53] luxas opened #49 "ignite outputs machine-readable IDs twice"
this is true for at least `run`, `rm -f` and some other commands

[2019-06-07 12:00] luxas opened #50 "ignite ps should output IPs as a comma-separated list"
instead of `[ ]` as we don't use that pattern anywhere else in the UX

[2019-06-07 14:15] twelho opened #51 "`ignite ssh <match>` for SSH access into VMs"

[2019-06-07 14:15] twelho opened #52 "`export` commands for images and kernels"

[2019-06-07 14:16] twelho opened #53 "Input validation for image and kernel `import`"

[2019-06-07 14:17] twelho opened #54 "A better way to track success/failure of object creation commands"
For removal of the generated object directory in case the process failed.

[2019-06-07 14:19] twelho opened #55 "Common "resource importers" to remove duplicate code in cmd package"

[2019-06-07 14:20] twelho opened #56 "Better way to track if VM has a base overlay for proper cleanup"
The current implementation just queries `dmsetup` which is noticeably slow.

[2019-06-07 14:59] #51 closed, assigned to nobody

[2019-06-07 16:08] #49 closed, assigned to luxas

[2019-06-07 16:08] #50 closed, assigned to luxas

[2019-06-07 16:18] #47 closed, assigned to luxas

[2019-06-07 16:31] #41 closed, assigned to luxas

[2019-06-10 09:24] twelho opened #57 "Manage kernels as OCI images, reuse image framework for kernels"
Kernels should contain `vmlinux`, modules and `config`.
Mount the kernel ext4 as read only on top of the image and below the overlay.

[2019-06-10 09:41] twelho opened #58 "Support combined images with kernels built in"
- Combined kernel and image package
- `-k` flag disallowed

[2019-06-10 09:52] twelho opened #59 "Drop tar file importing support"

[2019-06-10 10:47] twelho opened #60 "`run --rm` support for removing the VM after running"

[2019-06-10 11:42] luxas opened #61 "Remove import/export commands"

[2019-06-10 12:04] #61 closed, assigned to nobody

[2019-06-10 12:05] luxas opened #62 "Perform a `docker pull` if the image is not available locally"

[2019-06-10 12:23] #59 closed, assigned to nobody

[2019-06-10 12:23] twelho opened #63 "Logging everywhere"
- [x] `errutils` removed

[2019-06-10 12:28] #62 closed, assigned to luxas

[2019-06-10 12:30] #48 closed, assigned to luxas

[2019-06-10 12:30] #52 closed, assigned to nobody

[2019-06-10 12:31] #53 closed, assigned to nobody

[2019-06-10 12:37] luxas opened #64 "Support copying directories with `run --copy-files`, too"

[2019-06-10 12:52] luxas opened #65 "Consider adding `ignite exec [vm] [command]`"
It would:
a) use ssh internally
b) require a command, unlike `ssh`

Don't know if we want to do this or not

[2019-06-10 12:55] luxas opened #66 "Implement CNI"
Currently we only support docker networks. Instead we should support both normal docker networks, and CNI like the kubelet does.

[2019-06-10 13:01] luxas opened #67 "Use docker's official golang client"
Or something similar: https://github.com/kubernetes-sigs/kind/blob/master/pkg/container/docker/run.go
Don't know if we can use it as-is or would need to fork it

[2019-06-10 13:03] luxas opened #68 "Set up the Jailer configuration inside of the container"
For added security

[2019-06-10 13:13] luxas opened #69 "Print kernel version in `ignite kernels`"
Doable with the command:

[code]

Also a C variant available here: https://stackoverflow.com/questions/3180029/how-can-i-determine-the-build-version-of-linux-kernel-uimage

[2019-06-10 13:19] #45 closed, assigned to nobody

[2019-06-10 16:18] #46 closed, assigned to nobody

[2019-06-11 17:11] #55 closed, assigned to nobody

[2019-06-17 18:41] luxas opened #71 "Add CI integration tests"
With Travis, Circle, Drone or similar

[2019-06-17 18:44] luxas opened #72 "Add misc files around contributing"
e.g.
 - CODE_OF_CONDUCT.md
 - CONTRIBUTING.md
 - CHANGELOG.md
 - MAINTAINERS.md
 - ROADMAP.md

[2019-06-18 09:40] luxas opened #73 "Factor out `ignite container` into `cmd/ignite-spawn`"
Only a minimal wrapper binary with the networking bits, DHCP and config file support, and firecracker Go SDK should spawn Firecracker inside of the binary. This will improve VM startup time and RAM usage.

This also allows us to bundle `ignite-spawn` inside the Docker image.

[2019-06-18 13:05] luxas commented on #72
Fixed

[2019-06-18 13:05] #72 closed

[2019-06-18 13:14] luxas opened #74 "Release v0.3.0"
Finalize this release

[2019-06-18 13:33] luxas commented on #74
Release has been cut

[2019-06-18 13:33] #74 closed

[2019-06-18 17:09] luxas opened #75 "Integrate Ignite with Footloose"
Footloose currently supports "booting VMs" in docker containers, just running `/sbin/init` in a slightly modified container. We should create the integrations in Footloose to allow spinning up real VMs with Ignite as an option instead.

Most of this code is already created in my fork here, just need to formalize it: https://github.com/luxas/footloose/tree/ignite_v2, and do a new Footloose release.

[2019-06-18 17:12] luxas opened #76 "Add support for adding volumes to `ignite run`"
Firecracker supports attaching any block device to `/dev/vdX` in the VM.
We should integrate with CSI (https://github.com/container-storage-interface/spec) or similar software to easily expose attaching additional storage to VMs for persistence (we should also document that we shall treat each VM as ephemeral more or less)

[2019-06-18 17:15] luxas opened #77 "Add support for the metadata service in `ignite run`"
Firecracker has a [metadata service](https://github.com/firecracker-microvm/firecracker/blob/master/docs/mmds.md) that allows for passing arbitrary JSON data to the VM, where it client-side can be fetched from a hardcoded `169.254.169.254` IP endpoint.

We should allow the user to specify this metadata at runtime.

[2019-06-28 15:32] luxas commented on #66
Done, in #80

Some outstanding TODOs:
 - Both the client and networkPlugin variables should be constructed once, and accessible throughout the program.
 - Right now IP addresses aren't reclaimed when the VM is removed. networkPlugin.RemoveContainerNetwork need to be called when removing the VM.
 - CNIBinDir and CNIConfDir should maybe be globally configurable?
 - Documentation on how to use this w

[2019-06-28 15:52] luxas commented on #66
Closing this issue, and opening a new for further improvements.

[2019-06-28 15:52] #66 closed

[2019-06-28 15:53] luxas opened #81 "Improve the CNI implementations"
For context see https://github.com/weaveworks/ignite/issues/66#issuecomment-506777308

[2019-06-28 15:54] luxas opened #82 "Provide debs/rpms"
We maybe could use https://packagecloud.io?

[2019-06-28 16:26] luxas commented on #21
this is now done

[2019-06-28 16:26] #21 closed

[2019-06-28 16:30] luxas commented on #67
Going the other way, we're gonna use the official docker golang client.

[2019-07-01 12:17] luxas opened #83 "Add initial Prometheus support"
This means: in `ignite-spawn`, listen on unix socket `/var/lib/firecracker/vm/$id/prometheus.sock`, and serve metrics over the `/metrics` endpoint of the HTTP server.

Metrics can be accessed via:

[code]

Eventually these metrics will contain converted information from the FC sockets, but initially only the normal Go/Process and BuildInfo collectors: https://godoc.org/github.com/prometheus/client

[2019-07-01 12:17] luxas commented on #83
Fixed with https://github.com/weaveworks/ignite/commit/94abc529972873db3fa3ee954099a4f62d67b6f3

[2019-07-01 12:17] #83 closed

[2019-07-01 12:24] luxas opened #84 "Expose Firecracker metrics over the Prometheus socket"
This issue builds upon #83, but aim to port the Firecracker metrics, as per the [spec](https://github.com/firecracker-microvm/firecracker/blob/master/SPECIFICATION.md) to Prometheus metrics

Inside of the container, these metrics are written to a FIFO at path `/tmp/firecracker_metrics.fifo`, and they look something like this:

[code]

[2019-07-01 12:29] luxas opened #85 "Use github.com/vishvananda/netlink instead of execing to `ip`"
https://github.com/vishvananda/netlink is the de-facto Go package to use for manipulating network interfaces.

[2019-07-01 12:38] luxas opened #86 "Upgrade Firecracker version to v0.17.0"
ref: https://github.com/firecracker-microvm/firecracker/releases/tag/v0.17.0

[2019-07-01 12:39] luxas commented on #86
Fixed with 41e3595b9e8d35c24e8cd97037cc1c7045779ee9

[2019-07-01 12:39] #86 closed

[2019-07-01 12:41] luxas commented on #73
This is fixed with 0a1965e7203877c591dc79504ce257a57fd00480, 887543c4e93209067a15ca3c2ddd5c286dabeb81 and bce9fde9a00ea9a9f208ee7954aee439cacf4f2c

[2019-07-01 12:41] #73 closed

[2019-07-01 19:42] luxas commented on #84
The formatted metrics JSON looks like this:
[code]

before looking at it, I had hoped to see a way to get VM CPU/memory usage, but that's not accessible here at least.

block read/write stats, and rx/tx network stats seem useful. maybe also dirty pages for memory

[2019-07-01 19:44] luxas opened #87 "Add a `ignite gitops` command or similar"
Something that syncs declarative state from a git repo. This might eventually become a separate binary, but for now we can stage this under a subcommand.
Based on changes in the git repo, ignite will start and stop VMs accordingly when active.

[2019-07-01 20:21] luxas opened #88 "Save the contents of the FC fifos to files"
Firecracker emits one fifo for metrics and one for VMM logs. Both of these are by nature very ephemeral. `ignite-spawn` should read the fifos periodically (or better, stream) and write the contents to persistent log files in `/var/lib/firecracker/vm/$id/{vmm,metrics}.log`

[2019-07-01 20:29] luxas commented on #68
This is a bit problematic, as Jailer does a lot of stuff which is already done by the container runtime (e.g. docker). For example, during the first try of this, I realized that jailer needs to write to cgroups:

[code]

we _could_ do something like `--privileged` on the container, but to some extent that defeats the original purpose. running with non-zero uid/gid and doing syscall filtering would

[2019-07-02 15:53] luxas opened #90 "Generate API documentation and OpenAPI files"
API documentation can go to `docs/api` and the OpenAPI spec to e.g. `docs/openapi`

[2019-07-02 15:54] luxas commented on #22
This was fixed with #89 :tada:

[2019-07-02 15:54] #22 closed

[2019-07-02 16:37] #15 closed

[2019-07-04 18:54] #90 closed

[2019-07-04 18:56] luxas opened #98 "Generate OpenAPI specs in JSON/YAML"
And fix all/most violations present in `api/openapi/violations.txt`.
This is a follow-up of #90

[2019-07-05 12:16] #87 closed

[2019-07-05 16:57] luxas commented on #67
Part of this is done, part of this for later

[2019-07-05 16:58] luxas commented on #63
Part of this is done, part of this is for later

[2019-07-06 21:44] twelho opened #102 "Prometheus causes panic when re-starting stopped VM"
Tested by calling `ignite run -i weaveworks/ignite-ubuntu` -> `reboot` and then trying to start the VM again using `ignite start -id <name>`. `ignite-spawn` crashes with the following:
[code]

[2019-07-08 14:04] #69 closed

[2019-07-08 14:05] luxas commented on #57
Fixed with https://github.com/weaveworks/ignite/pull/105

[2019-07-08 14:05] #57 closed

[2019-07-09 08:20] luxas opened #109 "Add structured logging"
Should register a global `--log-level` flag and respect that.

[2019-07-09 08:23] #109 closed

[2019-07-09 08:34] luxas commented on #102
Fixed with ef49edd5397390c0f0606364dc608b5b3fd4a186

[2019-07-09 08:34] #102 closed

[2019-07-10 10:23] alexellis opened #116 "Help command could pin to a specific Ubuntu version?"
I guess that `weaveworks/ignite-ubuntu` corresponds to `weaveworks/ignite-ubuntu:latest`, but it'd be better I think for DX if it was: "weaveworks/ignite-ubuntu-bionic" or "weaveworks/ignite-ubuntu:bionic" or similar.

[code]

[2019-07-10 10:25] alexellis opened #117 "Container ID outputted at `start` time confusing on the first pull"
I may be doing something wrong?

[code]

[2019-07-10 10:26] alexellis commented on #117
This is after running the help command:

[code]

[2019-07-10 10:42] twelho opened #119 "Checksum/timestamp based cache invalidation"
Currently the cache invalidates only on a differing file count. To support detecting configuration changes, the cache needs to track file checksums/timestamps for invalidation.

[2019-07-10 10:59] twelho commented on #117
Could I see the output of `ignite version`?

[2019-07-10 11:04] alexellis commented on #117
[code]

Perhaps the instructions are missing a step to "pull a kernel"?

[2019-07-10 11:04] alexellis commented on #117
[code]

[2019-07-10 11:39] twelho commented on #117
In Ignite v0.4.0 the kernel is separated into it's own container unlike in previous versions, which have the filesystem and kernel bundled together. The `weaveworks/ignite-ubuntu:latest` image is already updated for v0.4.0, which means it doesn't contain a kernel anymore like v0.3.0 expects. Two options:
- Using your current version, add the tag `v0.2.0` to the `run` command like so:
[code]
- Use

[2019-07-10 12:44] alexellis commented on #117
New error using the version just pushed by @luxas

[code]

[2019-07-10 12:45] alexellis commented on #117
Very odd error! ^

2nd time:

[code]

ssh is not working however?

[code]

[2019-07-10 12:49] alexellis opened #121 "Can't ssh to machine with prefixed name"
This isn't an ambiguous name, it is an exact match, but I can't use "my-vm" because I have "my-vm-2"

Hope this is enough info

[code]

[2019-07-10 12:53] alexellis commented on #121
Even when I did correct the name, it still failed to log in with centos - connection refused.

Ubuntu worked though:

[code]

Might be worth updating the `ignite run` example to use the above in that case?

[2019-07-10 12:55] luxas commented on #117
Ugh, I thought I had fixed this... @twelho can you take a look?
Context is https://github.com/weaveworks/ignite/blob/master/pkg/operations/start.go#L70-L82

TL;DR; it's not an error, it just outputs stuff it shouldn't

@alexellis it's expected that `centos:7` does not support ssh, as the package is not installed by default in that docker image. Use `weaveworks/ignite-centos` instead and it works

[2019-07-10 12:57] twelho opened #122 "GitOps mode doesn't update existing VMs unless changing UID"
When running Ignite in GitOps mode with a VM specification, if changing e.g. the memory amount or CPU count in that specification, the change is checked out but not applied. Only if changing the UID of the VM the spec is re-read and the change is applied. The UID change should not be necessary.

[2019-07-10 13:02] luxas commented on #116
Good suggestion. Let's fix it!

[2019-07-10 13:03] luxas commented on #122
Creation of a VM object only happens one time, and after that, the spec is immutable.
We should document this better, and provide the necessary validation messages.

[2019-07-10 13:06] luxas commented on #121
Right, I think the code that also respected exact matches was unintentionally refactored away :sweat_smile:. Let's fix it!

I've experienced that centos takes some more time than Ubuntu to initialize SSH. I'll open a new issue for better SSH UX (retries and custom error messages)

[2019-07-10 13:13] luxas opened #123 "Improve the SSH UX on errors"
Ref #121
Make so that:
 - SSH retries a couple of times (e.g. 10 or similar), notifying the user every `n` seconds.
 - If the container is down, say that
 - If the IP isn't reachable (i.e. can't be pinged or similar), say that

probably more...

[2019-07-10 13:17] luxas opened #124 "Actually check that the container started when running `ignite start`"
Check e.g. that the `prometheus.sock` file appears, and first then exit.
Have a timeout of e.g. 5-10 seconds (other than that is very strange for the container to start).
In general, we need some kind of communication channel between the CLI and `ignite-spawn`

[2019-07-10 14:46] Strum355 commented on #33
Is this asking for something like the Docker socket? If so +1 to that

[2019-07-10 14:49] twelho commented on #123
Also if the user shuts down the VM by issuing `reboot`, `ignite ssh` will throw an error. This might be difficult to fix properly though.

[2019-07-10 15:32] twelho commented on #117
Fixed with c5922ea, eventually we want to move to using `pkg/runtime` only and do any pulling required automatically, separating the output from the actual command output.

[2019-07-10 15:32] #117 closed

[2019-07-10 15:37] twelho commented on #121
The code doing exact matches wasn't removed, but since it's called for each object individually and not tracked in the filters, it has no effect. Will move it to the IDNameFilter so we get it working again.

[2019-07-10 15:42] twelho commented on #121
In the meantime, you can use the VM's ID (or a prefix of it) to select the correct VM.

[2019-07-10 18:16] alexellis opened #127 ""ignite images" -> Object 'Kind' is missing in"
Despite being able to run an image, I did get this error when running `ignite images`:

[code]

Is there a reset or a fix for this?

Alex

[2019-07-10 21:07] andrelop opened #129 "Cannot start VMs on WSL2"
Using a Debian 10/buster VM running under WSL2 here :

[code]

Also, `dmes` gives me this error while the previous command is tried :

[code]

These are all the devicemapper related kernel config options provided by the Microsoft WSL2 kernel :

[code]

My guess is that the WSL2 kernel is not enabling some devicemapper related config.

[2019-07-11 05:20] junaid18183 opened #130 "Can not import image"
The import image command is failing.

[code]

[2019-07-11 05:26] junaid18183 commented on #130
Manual running the command fails with error invalid blocks
[code]

[2019-07-11 05:40] patrobinson commented on #77
Wouldn't it be better to expose `firecracker.sock` say at `/var/lib/firecracker/vm/$id/firecracker.sock`?
This way you could dynamically update the metadata and access other features of the Firecracker API.

[2019-07-11 06:02] junaid18183 commented on #130
created a PR - https://github.com/weaveworks/ignite/pull/131

[2019-07-11 06:20] jiangpengcheng commented on #130
met the same problem

[2019-07-11 09:25] danielcb opened #133 "network setup failed: timed out waiting for the condition"
Just tried following the startup guide, but it errors out without any further information. Debug logs show nothing helpful. I'm on gentoo, current kernel 5.1.16, kvm + docker setup and running, so it shouldn't be a missing config option or something like that.

[code]

[2019-07-11 10:14] pditommaso commented on #76
I would love to see host volume mounts à la Docker.

[2019-07-11 10:25] debianmaster opened #134 "exited with "mke2fs 1.42.9"
[code]

[2019-07-11 12:12] twelho commented on #127
Try to remove the `/var/lib/firecracker` directory and run the VM again, the file formats have changed between v0.3.0 and v0.4.0 causing these kinds of issues.

[2019-07-11 12:16] twelho commented on #129
Try to run `modprobe dm_zero` and see if it fixes the issue, but based on the Kconfig you most likely need `CONFIG_DM_ZERO` and `CONFIG_DM_SNAPSHOT` set. I don't know if the WSL2 kernel can be recompiled to enable these options.

[2019-07-11 14:10] junaid18183 opened #135 "ignite run is failing on ssh key gen on FIPS enabled machine"
The failure is happening if the host machine is fips enabled

[code]

[2019-07-11 14:52] luxas commented on #127
Hi @alexellis :wave:, thanks for trying Ignite out!

Yes, echoing what @twelho said, sorry that we hadn't updated the installation docs to point installing to v0.4.0 at the point you did the installation. The underlying data format changed in an inbackwards-compatible way between v0.3.0 -> v0.4.0. Now from v0.4.0 and onwards, we have a plan to automatically support upgrading between versions.

The

[2019-07-11 14:52] #127 closed

[2019-07-11 14:54] luxas commented on #130
Hi @junaid18183 and @jiangpengcheng :wave:!
Thanks for trying Ignite out, and for the PR :smile:
It's true, we haven't tested it on RHEL, so this needs to get fixed.

Will check out the PR, and get this fix into v0.4.1

[2019-07-11 16:08] luxas opened #137 "Ignite should check if it has root privileges instead of if uid=0"
As reported by @arun-gupta

More a generic problem but this is stalling me from trying `ignite`
Created an EC2 Ubuntu instance, added `ubuntu` to `sudo` and `root` group but invoking `ignite version` still gives the error:

[code]

`sudo ignite version` works

Let's fix this for v0.4.1

[2019-07-11 16:33] twelho commented on #121
Fixed in PR https://github.com/weaveworks/ignite/pull/138, thanks for noticing this @alexellis!

[2019-07-11 17:14] twelho commented on #124
This is now implemented in https://github.com/weaveworks/ignite/pull/139.

[2019-07-11 17:24] twelho commented on #137
Ignite currently needs to call `mount`, which requires UID to be 0. Adding the user to the `sudo` or `root` groups is unfortunately not enough, Ignite needs to be actually called with `sudo` or from a root shell to elevate privileges, which is why this check exists.

We could implement on-demand privilege checking (so that `version` wouldn't need root), but IMO that isn't very useful as the user w

[2019-07-11 17:52] arun-gupta commented on #137
So either all commands have to run as `sudo` or in a root shell?

[2019-07-11 18:17] #121 closed

[2019-07-11 18:23] #124 closed

[2019-07-11 18:32] luxas commented on #135
Thanks for the report. Commented on the PR, we can target this for v0.4.1

[2019-07-11 18:53] luxas commented on #137
@arun-gupta For the time being, yes.
What is stopping you from using `sudo` or being root?

I had forgot about this (`call mount, which requires UID to be 0.`) when submitting the issue, thanks for reminding @twelho!

[2019-07-11 18:57] luxas commented on #130
Fixed with https://github.com/weaveworks/ignite/pull/131 :tada:

[2019-07-11 18:57] #130 closed

[2019-07-11 18:59] luxas commented on #134
Thanks for the issue report. This was fixed with #131 thanks to @junaid18183 :tada:

[2019-07-11 18:59] #134 closed

[2019-07-11 19:03] luxas commented on #133
Hi @danielcb :wave:
Can you let me know how the docker networking is configured?
Ignite doesn't seem to be able to find an IP address inside the container somehow.

Can you let me know what `ip addr` in the container says?

[code]

Thanks for the issue report

[2019-07-11 19:06] luxas commented on #129
Most probably you need those kernel options. If you can reproduce with a new kernel (as per https://github.com/microsoft/WSL/issues/4165#issuecomment-510316933), we can add it to https://github.com/weaveworks/ignite/blob/master/docs/dependencies.md#host-requirements

Would be super exciting to get Ignite working on WSL :smile:

[2019-07-11 21:19] luxas opened #141 "Mention kvm-ok / the `cpu-checker` package in installation docs"
ref: https://github.com/weaveworks/ignite/pull/118#issuecomment-510657373

From @alexellis:

From @luxas:

We should add a step to do `apt-get install cpu-checker` (or similar for rpms) to the installation.md doc

[2019-07-11 21:24] alexellis commented on #141
sgtm

[2019-07-11 21:25] alexellis commented on #141
Btw.. not sure if you've seen Derek yet, but he can help manage milestones, labels, issues, PRs etc (some features are optional too) - it's good for collaboration and for using the mobile interface which doesn't expose those buttons. There's a SaaS / app version too https://github.com/alexellis/derek/blob/master/GET.md https://github.com/alexellis/derek/blob/master/USER_GUIDE.md

[2019-07-11 21:39] luxas commented on #33
maybe. we have been thinking about breaking one part of ignite into a daemonized containerd plugin, which would be very nice, too

[2019-07-11 21:41] luxas commented on #77
Yes, that is also a good idea (approved #132 :smile:), but at VM start time (IIRC), you need to set whether the MMDS should be enabled or not, and by default we have it disabled for less resource usage.
So we'd most probably like to expose some high-level knob to set the data, too

[2019-07-11 21:44] luxas commented on #76
This is not possible, as per firecrackers [design](https://github.com/firecracker-microvm/firecracker/blob/master/docs/design.md)

We have the possibility to do an one-time copy of files from the host to the guest with `run --copy-files`, but bidirectional volume mounts are prohibited intentionally by the security model of FC

[2019-07-11 21:54] Strum355 commented on #33
My use case is that im wanting to create a simplistic CaaS system using LXC or firecracker vms as isolation between users. LXC and Docker have a socket i can mount into my CaaS service container hence itd be great to have the same for this :)

[2019-07-11 23:24] andrelop commented on #129
Hello

Yes, I had to rollback on using Windows Insider Preview temporarily due to some issues I was having with VirtualBox VMs not working at all on my laptop (Hyper-V being enabled for WSL2 and VirtualBox not working when VBox is enabled).

I'll try to get into Insider Preview to enable WSL2 again this weekend and see if I can get a customized kernel with the needed options compiled in.

[2019-07-11 23:56] patrobinson commented on #77
@luxas oh cool, I'll work on that next

[2019-07-12 00:28] BenTheElder opened #142 "support configuring listen address and protocol"
It seems the `--port` flag hard codes `0.0.0.0` (on the host side?) and doesn't seem to reference TCP/UDP/..., docker's equivilant flag supports a format like `127.0.0.1:80:80/TCP`, I'd love to be able to at least specify the bind address on the host side.

https://github.com/weaveworks/ignite/blob/45de648fb62850d230d56256a2047bfffac65bab/pkg/apis/meta/v1alpha1/net.go#L19

[2019-07-12 02:17] liwei commented on #129
Doesn't ignite relies on KVM? AFAIK, WSL2 is a lightweight hyper-v vm by itself and it means hyper-v support nested virtualization?

[2019-07-12 06:53] danielcb commented on #133
[code]

[code]

[2019-07-12 08:31] saiyam1814 commented on #141
true, KVM is mandatory to check for ignite and can save a lot of time for new folks if they realize it before setting up ignite and try to run.

[2019-07-12 09:38] luxas opened #143 "The raw Firecracker sockets should be published"
As reported by @patrobinson:

This also is related to #77 and #88. We're fixing the immediate issue in v0.4.1, and following up on the other things for v0.5.0

[2019-07-12 09:38] luxas commented on #143
This was fixed by #132, thanks :tada:!

[2019-07-12 09:38] #143 closed

[2019-07-12 10:34] srinathgs opened #144 "Ignite run fails on centos"
## Environment

### OS
[code]

### Ignite
[code]

### Docker
[code]

at first I encountered the issue where `mkfs.ext4` complained saying `image.ext4` is not a block special device, with this error.

[code]

then I found that this was fixed in master by using `-F` command-line option to `mkfs.ext4`.  so I made local changes & built `ignite/cmd/ignite`.

but then, now I am running into another issu

[2019-07-12 10:40] luxas commented on #129
Yes, Firecracker is a KVM implementation.

I'm pretty sure that Hyper-V supports nested virtualization, but I'm unsure if that knob is exposed in WSL2. That is indeed a requirement.

[2019-07-12 10:55] luxas commented on #141
Put a fix up for this #145

[2019-07-12 10:59] curx commented on #144
have you tried with: `ignite run weaveworks/ignite-centos`
You need a customized centos, see https://github.com/weaveworks/ignite/tree/master/images/centos

[2019-07-12 10:59] luxas commented on #135
This is fixed with #136, and will be available in v0.4.1. Thanks :tada:!

[2019-07-12 10:59] #135 closed

[2019-07-12 11:04] luxas commented on #137
For context around this, Firecracker takes a block device to boot (and a kernel) as input. The block device could technically be a physical partition on a disk, or what we use, file-based block devices. Nevertheless, we somehow need to populate the block device partition with contents from the OCI images.

Since there is no common way to manipulate block devices directly; we mount the disk to a te

[2019-07-12 12:43] srinathgs commented on #144
failed with the same herror

[code]

[2019-07-12 13:02] #141 closed

[2019-07-12 13:11] luxas commented on #142
@BenTheElder good idea. We could initially add a `BindAddress net.IP` (and maybe later, optionally `Protocol string`)
How urgent request is this? Should we get it into a `v0.4.x` patch release to unblock kind?
If so, I'm happy to add it. Or maybe you want to send the PR :wink:

[2019-07-12 13:45] luxas commented on #144
The root issue with the `-F` flag has been fixed with PR #131, and will be available in `v0.4.1`.
The issue you're now seeing is because you built the ignite binary in a non-standard way.

If you use the Makefile the correct build options will be applied automatically. In this case; what version the binary is. The CLI will try to run the correct `weaveworks/ignite:<tag>` container (which includes

[2019-07-12 13:49] luxas commented on #116
We probably won't have time to fix this in v0.4.1, will move to v0.4.1. It's not release blocking (we're doing a release with bugfixes today)

[2019-07-12 14:12] srinathgs commented on #144
hi @luxas , not sure if there is any problem with my setup, but make ignite-spawn is failing now.

[code]

[2019-07-12 14:22] srinathgs commented on #144
I was able to successfully run these in on tag `v0.4.0` with the `-F` fix for mkfs.ext4 command. thank you. will explore ignite from now on.

[2019-07-12 14:51] luxas commented on #144
Yes, fixing that at the moment. Will release v0.4.1 shortly which will fix your issues :)

[2019-07-12 14:53] luxas opened #147 "Add a FAQ.md"
To collect frequently asked questions in order to easily reference those when people ask.

[2019-07-12 15:01] #133 closed

[2019-07-12 15:03] luxas commented on #144
With #146 merged, the master build is also inblocked properly (ignite-spawn was by mistake not building at HEAD some minutes ago).

All issues mentioned in this thread are now fixed. v0.4.1 will be out in a few :rocket:...

[2019-07-12 15:03] #144 closed

[2019-07-12 15:04] luxas opened #148 "Release v0.4.1"
The only remaining issue to fix is #123.
I will go ahead and release v0.4.1 in a couple of hours.

It requires:
 - Adding support to `hack/release.sh` for release branches.
 - Updating the version to install in `installation.md` to v0.4.1
 - Adding release notes to `docs/releases/v0.4.1`

@twelho FYI

[2019-07-12 15:06] twelho commented on #123
To this Ignite responds: `VM "<uid>" is not running`.

If the VM hasn't got an IP accessible from outside (its network config is invalid),
Ignite responds: `VM "<uid>" has no usable IP addresses`.

Do these fulfill the requirements?

This is hard to implement, as for each "remote command failure" SSH reports exit code 255 and both "connection failed" and "the user rebooted the VM" return that code

[2019-07-12 15:07] twelho commented on #123
Leading to Ignite trying to reconnect to a rebooted VM, which is not what we want.

[2019-07-12 15:10] twelho commented on #123
I fixed a bunch of other issues though regarding authentication and warnings/errors for a seamless experience, will open a PR soon.

If you want, I can make the connection timeout customizable via a flag (instead of the retries, which cannot be implemented due to `restart` being synonymous with `connection failure`)

[2019-07-12 15:16] luxas commented on #123
For now, yes. If we find more stuff we want to improve later, then we'll do that.

Sounds good :+1:

Can't we know that as long as the VM object's status is `Running` it's meant to be running and ignite-spawn hasn't stopped it? Or check if the docker container is running? I'm just thinking out loud here, we should not do that kind of stuff for v0.4.1.

[2019-07-12 15:38] twelho commented on #123
The problem is that the VM is still `Running` while it's shutting down (rebooting), so `ignite ssh` will not know it's _supposed_ to be shutting down. We also have the issue of `ignite-spawn` and the CLI trying to read/write to the same file at the same time. Either we need some field indicating state transitions or just wait until have the communication in place between `ignite-spawn` and the CLI

[2019-07-12 16:42] #123 closed

[2019-07-12 16:49] twelho opened #150 "SSH command security"
Currently we trust the hosts (VMs) in `ignite ssh` and ignore the ECDSA warnings/errors. If needed, we should track the `known_hosts` internally and do something about the IP collisions (Docker gives out dynamic IPs to the VMs) to verify the VMs authenticities in the name of security.

[2019-07-12 16:54] twelho opened #151 "Implement proper multi-interface support"
The current implementation of removing addresses from Docker's interfaces to be forwarded to the VM is not very robust. We need to have proper handling in place for:
- [ ] Interfaces that are not ready (Docker hasn't given them an address yet
- [ ] Interfaces that have an invalid IP address configuration (such as 0.0.0.0/32, see https://github.com/weaveworks/ignite/issues/133)
- [ ] Interfaces tha

[2019-07-12 17:06] twelho opened #152 "Flag for setting the SSH key generation algorithm"
In FIPS-enabled machines the `ed25519` key generation algorithm is unavailable, so they need to use `rsa`.
- Let the user specify the algorithm to use via a flag during VM creation
- Improve autodetection for FIPS machines to automatically switch over to `rsa`
- Enforce a specific key length (between 2048 and 4096) when using `rsa`

[2019-07-12 17:23] #148 closed

[2019-07-12 18:24] BenTheElder commented on #142
I don't think we're blocked by it, but I prefer to only bind the API server(s) to localhost by default since they may be unpatched and not particularly locked down :sweat_smile:

What we did is just ~match the CRI spec: https://github.com/kubernetes/cri-api/blob/0b0c4484b3d3cc29ce8890ba0de35d571db071a2/pkg/apis/runtime/v1alpha2/api.pb.go#L392

https://github.com/kubernetes-sigs/kind/blob/9205bac4a

[2019-07-12 23:11] arun-gupta opened #157 "Created and not started VM is not shown in the list"
Created an Ignite VM as:

[code]

`ignite vm ls` does not show VM in the list:

[code]

Started the VM as:

[code]

And now the command shows the VM in the list:

[code]

Created VM with the correct `STATE` should be shown there.

[2019-07-12 23:14] arun-gupta opened #158 "VERSION output of weaveworks/ignite-kernel:4.19.47 is incorrect"
Created and started a VM as:

[code]

`VERSION` output of `ignite kernels` is not shown correctly. See the output below:

[code]

[2019-07-12 23:51] curx commented on #157
have you tried the run like `docker`, run = create + start:
see https://github.com/weaveworks/ignite/blob/master/docs/cli/ignite_create.md
and https://github.com/weaveworks/ignite/blob/master/docs/cli/ignite_run.md

[2019-07-13 00:21] curx commented on #157
e.g. `ignite create` is an alias for `ignite vm create`

[2019-07-13 01:07] andrelop commented on #129
Hello,

Both options are not enabled by default in the kernel provided by the WSL2 Debian VM :

[code]
I'll try to figure out how one could provide a custom compiled kernel to the WSL2 VM with these options enabled.

[2019-07-13 02:16] arun-gupta commented on #157
`ignite vm ls` works after `ignite run`. Is it not expected to work after `ignite create`?

[2019-07-13 02:40] andrelop commented on #129
I tried building a custom kernel but the WSL2 VM cannot start after I change the `C:\Windows\System32\lxss\tools\kernel` using the `vmlinux` kernel produced by the kernel build process.

What I did :

* Downloaded the last release on `microsoft/WSL2-Linux-Kernel` github repo (https://github.com/microsoft/WSL2-Linux-Kernel/archive/v4.19.57.tar.gz)
* Unpacked it and used the provided kernel config o

[2019-07-13 09:55] rugwirobaker opened #159 "Listed as running vms doesn't respond to any command"
I created a vm with:
[code]
Running ` ignite ps` indicates that the vm i running:
[code]
However problems arise when  I try to ssh into the machine : `ignite ssh <id/name>`:
[code]
I tried deleting it without the `-f` flag and it said the vm was still running and then I tried to stop it which did not work. Upon that I added the `-flag` to the `rm` command and got this:
[code]

**Note**: that  I am

[2019-07-13 11:59] akshaychhajed opened #160 "Small Typo in centos image link (low priority)"
Centos image link incorrectly points to ubuntu image.

[2019-07-13 20:53] kim3z commented on #147
Yes, I think this is a good idea! @luxas

Based on Joe Beda's livestream "TGI Kubernetes 082: Weaveworks Ignite" a lot of people seem to wonder **why is docker (containers) needed/used?**

I have some questions too that might help you make this FAQ:
- how does my filesystem specified in Docker image end up in a firecracker VM?
- how does networking in ignite work since there are both containers an

[2019-07-14 00:16] arun-gupta commented on #137
Adding a `sudo` at https://github.com/weaveworks/ignite/blob/master/docs/installation.md would solve the confusion. I documented the exact set of steps at http://arun-gupta.github.io/ignite-firecracker/

[2019-07-14 06:23] Slach opened #162 "[QUESTION] could i use ignite as CRI runtime for kubelet?"
could somebody add to documentation howto use ignite as CRI in Kubernetes? for running firecracker VM instead of containers with namespaces?

[2019-07-14 22:57] andrewrynhard opened #163 "How to add another OS"
We would like to run https://github.com/talos-systems/talos with ignite. I'm curious what the process to add another OS looks like and if that is something you guys are open to.

[2019-07-15 04:52] BenTheElder commented on #65
This would be pretty useful for my use cases, especially if it preserved the exit code :-)

I took a quick look, this seems doable, any thoughts on why we might not want this?

[2019-07-15 04:56] BenTheElder opened #164 "missing /etc/resolv.conf"
So far with both the centos and ubuntu weaveworks images for ignite when I start a VM network connectivity seems to be fine, except I cannot lookup any hostnames. Creating a trivial `/etc/resolv.conf` with `nameserver 8.8.8.8` solves this and makes it a lot easier to work inside the VMs.

Docker and Kubernetes are both known to create / manage this file based on the hosts resolver settings and use

[2019-07-15 07:32] luxas commented on #137
Ok, thank you. Can I close this issue (we have https://github.com/weaveworks/ignite/issues/24 for avoiding root for the client, in general)?

[2019-07-15 07:35] luxas commented on #65
Ok, great!
Let's add it to the v0.5.0 milestone.
Can you help out with making it happen?

[2019-07-15 07:41] prologic opened #165 "macOS support?"
is support for macOS supported or planned?

I successfully compiled the `ignite` client CLI on macOS; but the `ignite-spawner` seems to have some assumed Linux-isms in the code that fail to compile on macOS.

The reason I ask is it would be convenient for local development of ignore itself as well as local development against ignore vm based application development.

[2019-07-15 08:14] luxas commented on #157
`ignite vm ls` does, at the moment the same as `ignite ps` (shows only running VMs). However, as pointed out by @arun-gupta, that's not very intuitive, as `ls` is meant to show everything, whereas `ps` only running stuff.

Let's change this to make `vm ls` show both running and stopped VMs.
Any volunteers for PRs?
A new dedicated `ls` command needs to be added here, that always sets the `-a` switc

[2019-07-15 08:19] pditommaso commented on #76
That's a pity, didn't know about this strong requirement.

[2019-07-15 08:29] luxas opened #167 "Make the kernel version detection more robust"
Hoping to be able to code this in Go, based off the C code sample in https://stackoverflow.com/questions/3180029/how-can-i-determine-the-build-version-of-linux-kernel-uimage:

[code]

Unfortunately this didn't work on a 4.19 kernel for me :/
Builds upon issue #69

[2019-07-15 08:30] luxas commented on #158
Thanks for the issue report!
It seems like the `strings` binary is not available. (test `which strings`)
We should make the kernel version detection more robust: #167

Does `apt-get install binutils` solve the issue for you?
If so, let's add that to the installation doc.

[2019-07-15 10:55] twelho commented on #159
Hi @rugwirobaker :wave:,
good catch, it seems like the container with `ignite-spawn` and Firecracker didn't start correctly.
To give us some debugging information:
1. Remove the "stuck" VM with `sudo rm -r /var/lib/firecracker/vm/553528ae0c253ecd`. This should remove the VM from `ignite ps -a`.
2. Start the VM again, but add the _debug flag_ (`-d`):
[code]
This will prevent the Docker container fr

[2019-07-15 13:03] #160 closed

[2019-07-15 13:08] luxas commented on #164
Yes, this is a known issue we discovered the other day. It was working before, but we seem to have got a regression in the latest week or so.

We always did intend to write the right `/etc/resolv.conf` as per how the container was set up (we have code for this). We'll fix this issue ASAP in v0.4.2 :smile:

[2019-07-15 13:10] luxas commented on #163
Hi @andrewrynhard!
Yes, we're open to contributions for that, definitely.
We have a set of sample images in `images/` so people get an idea about what is different from the "stock" Docker Hub OS base images and something you can use with Ignite successfully.

Either we can go the route of you contributing a Talos OS image built for Ignite with a Dockerfile in this repo, or you manage it separately

[2019-07-15 13:20] #164 closed

[2019-07-15 13:23] luxas commented on #165
At the moment, Ignite requires a linux kernel to execute successfully, as it sets up the VM prereqs in certain ways (e.g. with devicemapper). Eventually, as we have a daemon (#33), it will take care of those things, and the Ignite CLI can operate anywhere, as _just_ a CLI.

Firecracker however, will always require to run on Linux. It's specifically built for the linux kernel and KVM. So unless you

[2019-07-15 13:28] luxas commented on #162
Let's add this question to the coming FAQ.md (#147).

In short, no, you can't use Ignite as a CRI runtime, as it doesn't run containers.
Ignite runs real VMs, based on a OCI image's rootfs.

If you want to run containers with Firecracker isolation, check out https://github.com/firecracker-microvm/firecracker-containerd.

Also some more info on this thread: https://twitter.com/jschnatterer/status/1

[2019-07-15 13:36] luxas opened #169 "Avoid nil panics around ObjectMeta.Created"
During the TGIK session, Joe created a VM object without `metadata.created` set in the VM object in Git (totally reasonable!), and when running `ignite ps -a`, ignite paniced.

This tells us two things:
a) Always check if `.Created` is nil before using (in `ps` output etc). (There might be that there are no such cases, but check)
b) If `nil` is given to `util.output.Write()`, write an empty string

[2019-07-15 13:40] luxas opened #170 "Encode/decode meta.UID without """
This bug/oversight was noticed during the TGIK session. Joe tried to set `.metadata.uid=1234` (which should work), but the JSON parser errored that it must have `"` around it as it's decoded into a string.

We should fix this to allow decoding both with and without `"` around the value, but always encode without `"`, to be consistent with the name.

[2019-07-15 13:40] prologic commented on #165
Thanks for the quick and detailed response! Much of what I expected.

#33 is what I was really after (_sorry I didn't see this before_).

[2019-07-15 13:42] luxas opened #171 "Add CNI usage docs"
I did not have time to write up a guide on how to use Ignite with Weave Net, but will do that ASAP,  hopefully for v0.4.2.

[2019-07-15 13:45] luxas opened #172 "Add arm64 support"
Firecracker has added alpha arm64 support, let's get that going for Ignite too, so we can test it

Hoping to get this also working on a RPi 3/4 :100: :smile:

[2019-07-15 13:54] luxas commented on #165
You're welcome :smile:
Is there anything more we need to do here, or can we close this issue?

[2019-07-15 13:55] twelho commented on #169
How about having a custom encoder/decoder for the `Time` type, which would handle setting the creation time if it's blank? `omitempty` and a pointer are unnecessary, as the creation timestamp needs to _always_ exist. This way if the creation timestamp is blank, it would set it right when Ignite first begins operating the file and it can be safely omitted without having to implement nil pointer che

[2019-07-15 13:55] andrewrynhard commented on #163
Hey @luxas. Cool to see you back at it :D. Very cool project. We will play around with it and see. Ideally we would also be able to create image on the fly in our CI and do E2E tests of Talos right there in docker. I noticed the kernel image in `images/`. Is a custom kernel supported? I have lots questions :).

[2019-07-15 13:55] prologic commented on #165
Go ahead! I'll subscribe to #33 Thanks 😀

[2019-07-15 13:57] #165 closed

[2019-07-15 13:59] luxas commented on #169
Hmm, I think that should work, too. Go ahead and we'll see how it starts to look

[2019-07-15 14:07] luxas commented on #163
Yes, the kernel is bundled in an OCI image, too.

[2019-07-15 15:05] luxas commented on #76
After talking to the Firecracker team, they said it's been very often requested, and they're considering
implementing it in the coming months/year. See: https://github.com/firecracker-microvm/firecracker/issues/1180 :sparkles:

[2019-07-15 15:45] twelho commented on #169
Here's the work for this approach: https://github.com/weaveworks/ignite/pull/174

[2019-07-15 16:26] luxas commented on #169
Fixed with https://github.com/weaveworks/ignite/pull/174

[2019-07-15 16:26] #169 closed

[2019-07-15 16:27] luxas opened #176 "Fix doc issues uncovered in the TGIK session"
ref https://youtu.be/aq-wlslJ5MQ

[2019-07-15 16:30] luxas opened #177 "Document how to do a release"
Doc how to use the `hack/*release.sh` scripts.

[2019-07-15 17:41] twelho commented on #170
Resolved in https://github.com/weaveworks/ignite/pull/178.

[2019-07-15 17:44] twelho commented on #157
I made the required changes in https://github.com/weaveworks/ignite/pull/179, `ignite vm ls/list` are both just aliases for `ìgnite vm ps` to avoid duplicate code, with the pull request above `ps` now detects if it's being called via `ls` or `list` and lists all VMs instead of just running ones accordingly.

[2019-07-15 17:46] #157 closed

[2019-07-15 17:52] #170 closed

[2019-07-15 19:19] andrewrynhard opened #180 "How to attach to serial console"
I'm a little confused on what `ignite logs` is. I was expecting the console output. How would I get console output? I'm seeing:
[code]

[2019-07-15 20:00] arun-gupta commented on #137
Yes

[2019-07-15 20:19] luxas commented on #180
It is serial console output. The normal kernel args include `console=ttyS0`. Does that help?

[2019-07-15 20:19] luxas commented on #180
Try launching `weaveworks/ignite-ubuntu` and you'll see it in action.

[2019-07-15 20:20] luxas commented on #176
Fixed with #175

[2019-07-15 20:20] #176 closed

[2019-07-15 20:21] #137 closed

[2019-07-15 20:22] luxas commented on #24
xref #33

[2019-07-15 20:35] andrewrynhard commented on #180
Hmm. Still seeing only:
[code]

[2019-07-15 20:37] luxas opened #181 "Require the kernel version to be numeric"
Right now, if the `strings` binary is unavailable, somehow the kernel version field ends up becoming `/bin/bash: strings: command not found` or similar. We should match the output against a regexp or similar to avoid bad data like that.

FWIW, I just added earlier today to the installation instructions to install `binutils` to avoid the root cause.

[2019-07-15 20:39] luxas commented on #180
hmm very strange. You did a normal `ignite run`? Does the machine have KVM enabled, etc.?
Can you do an `ignite inspect vm my-vm` for me?

[2019-07-15 20:45] luxas opened #182 "Add support for a "Manifest Directory""
As suggested by (@)jbeda in the TGIK session -- in the same way as the kubelet can do "Static Pods" [ref](https://kubernetes.io/docs/tasks/administer-cluster/static-pod/), Ignite should be able to do VMs. This is essentially what the GitOps code is about, but without the Git sync loop.

Let's target this for v0.5.0

[2019-07-15 20:47] andrewrynhard commented on #180
🤦‍♂ Just realized I reinstalled linux to this machine recently. KVM is not installed.

[2019-07-15 20:47] luxas opened #183 "Add an internal API group, use that internally"
The Kubernetes API machinery works by having a set of external versions supported, all converting into the internal API types for internal use. We should follow that pattern.

See https://github.com/luxas/sample-config for sample code of that.

[2019-07-15 20:50] luxas opened #184 "Provide "Preflight checks" to Ignite"
Before trying to run a VM, make sure that we have a set of dependencies on the host, e.g. `/dev/kvm` available. Otherwise, fail fast. This would pretty much mimic the [kubeadm preflight checks](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/preflight/checks.go) on an abstract level.

[2019-07-15 20:51] luxas commented on #180
Such things happen. This issue inspired me to create #184. Maybe you want to help us create preflight checks so other can avoid the same mistake :wink:?

[2019-07-15 20:56] luxas opened #185 "Refactor the SSH field in v1alpha2"
- Remove the custom marshaller/unmarshaller, for more ease of use
 - Add the option to specify key algorithm (https://github.com/weaveworks/ignite/pull/136)
 - Add validation

[2019-07-15 21:00] luxas opened #186 "Add `.Patch` to Storage/Client"
Like `k8s.io/client-go` has it

 - ~~`.Post` should add a net-new object, and return an error if it already exists~~
 - ~~`.Put` overwrites an existing object for the specified UID~~
 - `.Patch` only updates one or a set of specified fields/values, using a JSON strategic merge patch

This should be done for the `pkg/storage` rework in v0.5.0

[2019-07-15 21:04] BenTheElder commented on #164
Thanks!

On Mon, Jul 15, 2019 at 6:20 AM Lucas Käldström <notifications@github.com>
wrote:

[2019-07-15 21:30] andrewrynhard commented on #180
Preflight checks would be great. Still running into the same issue. I will dig some more.

[2019-07-15 21:32] andrewrynhard commented on #180
Inspect output:
[code]

[2019-07-16 00:32] rugwirobaker commented on #159
It seems the issue my due to the fact my laptop lost power and the VM must have not exited properly.
That is  what happening when I force a shutdown when the VM is running. Otherwise I did not have any unusual debug message.

[2019-07-16 09:35] luxas commented on #180
`"cmdLine": "console=ttyS0"` looks very odd. Many more options are expected in order for FC to boot the machine correctly I think. Why not use the default `console=ttyS0 reboot=k panic=1 pci=off ip=dhcp` kernel args? (omit the `--kernel-args` flag)

[2019-07-16 11:41] luxas commented on #159
Ok. For the time being, VMs are pretty ephemeral. We don't have restart support really nailed down yet
(even though it technically should work).

Can we close this issue as solved then? (As the cause was the shutdown)

[2019-07-16 11:45] luxas opened #187 "Allow more granular edits of the kernel arguments"
Instead of passing a string with spaces between the kernel arguments, we should have a default set, and allow both deletions of default values (e.g. `pci-` to remove `pci=off` from the default CLI), as well as additions (`foo=bar` adds a new argument, without re-iterating all of the default args).

This can be done at earliest in v1alpha2.

[2019-07-16 12:03] luxas opened #188 "Thin Provisioning Snapshotter"
@twelho has started this work already in #79.

Instead of the backing `image.ext4` file per image, and `overlay.dm` file per VM, we'll use a thin provisioning snapshotter and a global pool.

[2019-07-16 12:42] #181 closed

[2019-07-16 12:52] luxas opened #190 "Integrate with Vagrant"
This would be a really cool integration from the community :)
Help wanted!

[2019-07-16 13:17] andrewrynhard commented on #180
I have tried both. That was the one I just happened to paste here.

[code]

[2019-07-16 13:40] luxas opened #191 "Don't require an UID in manifests in GitOps mode"
Instead, generate it on the fly.
We could e.g. use the first 16 chars off sha256sum of the name :)

[2019-07-16 13:44] rugwirobaker commented on #159
Pretty much thanks for your support , Love your work.

[2019-07-16 13:46] luxas opened #192 "Upgrade the default kernels to v4.14.133 and v4.19.59"
New versions as per: https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
Also, set `CONFIG_DUMMY=m`, not `=y`.

[2019-07-16 14:52] luxas commented on #180
Report an issue in the Firecracker repo maybe? It could be an AMD-related issue...

[2019-07-16 14:52] #159 closed

[2019-07-16 15:04] twelho commented on #191
For consistency, I would for now use the build in UID generator which also ensures uniqueness.  In the long term however basing UIDs from name SHAs could be a valid option.

[2019-07-16 15:16] luxas commented on #191
There is the problem that if we generate a new UID every time we see the object, it's gonna be recreated/etc. for every new commit. We need "stable" generation of UIDs, hence.
We should also make the UIDs themselves a bit longer IMO

[2019-07-16 15:17] luxas opened #194 "Improve the GitOps mode to also write to the remote"
This requires an SSH key being specified, etc.

[2019-07-16 15:18] luxas opened #195 "Create a docs/design.md document"
Covering what is in scope and out of scope for ignite, and how the project is designed.

[2019-07-16 15:38] luxas opened #196 "Support restarting VMs"
Check and validate various codepaths to make sure that we can say that we support restarting VMs once they've been stopped or killed for some reason.
This requires some work, e.g.

a) making sure the disk is bootable when restarting, and fixing it if it's corrupt (try at least)
b) rework of `.status.state` to correctly show the state for stopped VMs that can be restarted
c) add testing
d) etc.

[2019-07-16 15:40] luxas commented on #158
This is solved in the Go code #189 and the docs now https://github.com/weaveworks/ignite/blob/master/docs/installation.md#installing-dependencies

Cheers!

[2019-07-16 15:40] #158 closed

[2019-07-16 15:41] luxas commented on #167
@kim3z is working on this :smile:

[2019-07-16 16:01] #116 closed

[2019-07-16 16:26] #147 closed

[2019-07-16 16:29] luxas commented on #171
Moving to v0.5.0, didn't have time yet

[2019-07-16 16:29] luxas commented on #162
This is now fixed with #197

[2019-07-16 16:29] #162 closed

[2019-07-16 16:30] luxas commented on #191
@twelho pointed out that this isn't easily possible with the current architecture. We will move this to v0.5.0 along with the other, larger changes in the storage backend.

[2019-07-16 16:32] luxas opened #198 "Release v0.4.2"
Similar to: https://github.com/weaveworks/ignite/issues/148
This time, @twelho will help to release v0.4.2

[2019-07-16 16:45] luxas opened #199 "Add a Client.Resource().New() method"
This would be the canonical way to create a new, blank API object.

[2019-07-16 18:01] #198 closed

[2019-07-16 20:43] BenTheElder commented on #65
Yes, I think I can help with this!

Side note: WDYT about https://godoc.org/golang.org/x/crypto/ssh ? I'm pretty sure go has decent SSH clients that we could use to avoid manipulating the host machine's known hosts etc. EG https://godoc.org/golang.org/x/crypto/ssh#Dial

[2019-07-17 07:46] luxas opened #202 "Integrate with docker-machine"
This would enable us to integrate with e.g. [minikube](https://github.com/kubernetes/minikube), and a set of other important providers.
Help here from the community would be awesome!

[2019-07-17 07:49] luxas commented on #65
Wonderful, thank you!

Thanks for the pointer! I've never used it (yet!), but would be happy to do so. Exec'ing out to `ssh` was just the fastest way to implement this :)
I'll add this to #150

[2019-07-17 07:51] luxas commented on #150
From @bentheelder:

I think we should use this. Also, go has very good support for generating public and private keys, so hopefully we'd not have to exec out to `ssh-keygen` anymore after this.

[2019-07-17 10:15] twelho commented on #150
Based on a skim through, https://godoc.org/golang.org/x/crypto/ssh looks like the way to go :+1:
Getting rid of the `ssh-keygen` call is definitely on the TODO list.

[2019-07-17 10:46] luxas opened #204 "Integrate with Virtual Kubelet"
Integrate with Virtual Kubelet so that an end user can run Ignite VMs through Kubernetes Pods, with `nodeSelector: virtual-kubelet`.

For pointers see:
https://twitter.com/kubernetesonarm/status/1151394470463791110
https://github.com/chanwit/vkignite

We'd love to have the community help us make this happen :smile:
cc @chanwit

[2019-07-17 10:47] luxas opened #205 "Aggregate a list of articles about and users of Ignite"
It'd be cool to have a list linking to community-written articles about Ignite.
Eventually, as Ignite is being used in diverse end user environments, aggregate a list of that too.

[2019-07-17 11:09] luxas opened #206 "Automate the release process"
- Greatly improve the release scripts; hopefully use something like GoReleaser instead, or rewrite it in Go
 - Automate changelog generation

This needs to be done for v0.5.0

[2019-07-17 11:10] luxas opened #207 "Create a website with documentation"
Using Netlify, MkDocs or ReadTheDocs for example.
I like how the https://eksctl.io site is created, and would be very happy to do the same thing for Ignite.

[2019-07-17 11:18] luxas opened #208 "Create a composable interface for running Firecracker"
At the moment, calling Firecracker is done without an interface internally in the `ignite-spawn` app.
We could/should extract what `ignite-spawn` needs to tell the VMM; extract that into an interface, and create a default Firecracker implementation of that interface.

This has some benefits:
 - better code readability/clarity/structure
 - testability
 - possibility to (in the future, possibly) hoo

[2019-07-17 11:28] luxas opened #209 "Add containerd support as the container runtime"
This implementation is harder than for docker:

 - Need to craft the OCI spec manually when running the container
 - Need to write custom code for handling logs
 - Need to write custom code for attaching to the VM

However, there are benefits too:
 - Smaller scope => less resource usage, overhead and attack surface
 - Ignite can be used in "docker-less" environments
 - Choice, we won't "lock in" t

[2019-07-17 11:40] luxas commented on #64
If https://github.com/otiai10/copy works for our purposes, we should (always) use that internally.
If it doesn't, then an other option would be to use https://github.com/moby/moby/blob/master/daemon/graphdriver/copy/copy.go

[2019-07-17 11:42] luxas commented on #68
xref https://github.com/firecracker-microvm/firecracker/issues/1185, the related issue for this in upstream.

[2019-07-17 11:44] luxas commented on #84
Converting the Firecracker metrics to Prometheus format would be a wonderful contribution from the community.

[2019-07-17 11:48] luxas commented on #88
Hi @patrobinson would you like to help with this issue?
Basically, it's about opening the two FIFO files Firecracker emits, reading them using https://github.com/containerd/fifo; and streaming the read content to a persistent file, e.g. a file with the same name, but ending with `.log` and not `.fifo`.

What do you think? :smile:

[2019-07-17 11:49] luxas commented on #58
With more thought and user feedback, I'm not sure that we need this.
I will close this for now at least. If we find actual user stories later, we can reopen.

[2019-07-17 11:49] #58 closed

[2019-07-17 11:52] luxas commented on #184
Hi @andrewrynhard :wave:, could you help us make this happen as discussed :smile:?

[2019-07-17 11:54] luxas commented on #152
Related/similar to #150

[2019-07-17 11:56] luxas commented on #77
Thank you @patrobinson :sparkles:! Let us know if you need any help.

[2019-07-17 11:59] luxas commented on #85
The relevant code which should be converted to use https://github.com/vishvananda/netlink instead of execing to `ip` is here: https://github.com/weaveworks/ignite/blob/master/pkg/container/network.go

Help from the community here would be super-appreciated!

[2019-07-17 12:02] luxas commented on #63
Now that we have structured logging in v0.4.0, there are a couple of TODOs still:

 - Start using logrus everywhere; add log statements for different levels all over the applications
 - Get rid of `errutils.Check`
 - Pass loglevel through from `ignite` to `ignite-spawn` and Firecracker itself.

[2019-07-17 12:06] luxas opened #210 "Add `.status.containerID` to the VM API object"
This will help us e.g. with CNI (https://github.com/weaveworks/ignite/pull/111), but in a couple of other places, too.

For example, instead of storing in `.status.state` if the VM is running, it could be done by actually looking up the containerID and telling whether it's running or not.

[2019-07-17 12:58] andrewrynhard commented on #184
Would be happy to. I need to find a machine that I can get ignite working on. Maybe I will spin up a machine in packet. Not sure if other clouds support nested virtualization.

[2019-07-17 13:25] asaintsever commented on #204
@luxas @chanwit Hello. Just saw your tweets and look at your docker-compose and github repo. Does this mean that you already have a virtual-kubelet provider implementation for ignite (and thus, you put a custom ignite binary in your `chanwit/vkignite:v0.1` image)? Thx.

[2019-07-17 15:58] twelho commented on #33
We might also consider something like [gRPC](https://grpc.io/) for the client <-> server interaction.

[2019-07-17 16:16] Strum355 commented on #33
That should also be supportable using unix sockets, as GRPC is over HTTP anyways

[2019-07-17 20:27] robertojrojas opened #213 "DNS Not Setup Correctly from Ubuntu Host"
-  Ignite **latest-v0.4.2**
-  Ubuntu **18.04** Host
- weaveworks/ignite-kubeadm **latest-v0.4.2**

**Steps**
- Clean Docker
   `docker images`
   `REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE`
- Install Ignite **latest-v0.4.2**
- Run Test VM
  `ignite run weaveworks/ignite-kubeadm:latest-v0.4.2 \
    --cpus 2 \
    --memory 1GB \
    --ssh \
    --name test

[2019-07-17 23:44] tyhal opened #214 "Shell Completion"
Is there existing shell completion anywhere?

Thanks

[2019-07-18 07:57] aojea commented on #213
seems a duplicate of this https://github.com/weaveworks/ignite/issues/164

[2019-07-18 12:11] luxas commented on #183
Fixed with #215

[2019-07-18 12:11] #183 closed

[2019-07-18 16:09] luxas commented on #67
This is 99% done with https://github.com/weaveworks/ignite/pull/211
This unblocks #209

[2019-07-18 16:11] luxas commented on #68
Solved in the upstream issue.
We can lock-down the container a bit more later with specific uid/gid, but before that we need to
design the new thin provisioning system etc.

https://github.com/firecracker-microvm/firecracker/issues/1185 told us that seccomp filtering is done inside of firecracker as of v0.17.0, so running it inside of the container gives a similar effect of the jailer today

[2019-07-18 16:11] #68 closed

[2019-07-18 19:41] luxas opened #220 "Error out if the image doesn't contain `/sbin/init`"
We should fail fast in this scenario

[2019-07-18 19:41] luxas commented on #220
And similar for the kernel and `/boot/vmlinux`

[2019-07-18 21:22] luxas commented on #213
Hi! Can you please remove the base/kernel image you're using with `ignite rmi` and `ignite rmk`, and try again with v0.4.2?

There was an issue in v0.4.0 and v0.4.1 that made the kernel overlay overwrite `/etc/resolv.conf` accidentally. Hence the kernel image needs to be removed and recreated after upgrading to v0.4.2.

[2019-07-18 21:30] aojea commented on #213
awesome, it works now

[2019-07-19 10:45] luxas commented on #75
@robertojrojas will work on this :clap:

[2019-07-19 11:17] #199 closed

[2019-07-19 11:24] silenceshell commented on #214
ignite supports bash completion, all we need to do is adding one line in `.basrc`:

[code]

[2019-07-19 11:56] #214 closed

[2019-07-19 12:04] tyhal commented on #214
Thanks, I should have done a search, rather than expecting it out the box

[2019-07-19 12:06] robertojrojas commented on #213
Yes, the steps of removing both the image and kernel made it work. Thanks @luxas!

[2019-07-19 12:06] #213 closed

[2019-07-19 13:20] luxas commented on #186
I'm gonna defer on the rest, and only do `.Patch` at the moment; that's what we really need

[2019-07-19 13:21] luxas commented on #186
https://github.com/weaveworks/ignite/pull/225 fixes this.
I will then go ahead and do the patches in `ignite-spawn`, mainly

[2019-07-19 13:56] #186 closed

[2019-07-19 19:03] robertojrojas opened #228 "Add Support to Filter VMs"
It would nice if one could execute a command like:
    `ignite ps --filter <search>`

   example:
     `ignite ps --filter "label=k8s-cluster"`

This could work similarly to [Docker ps](https://docs.docker.com/engine/reference/commandline/ps/)

[2019-07-19 19:07] robertojrojas opened #229 "Add Support to Display Information of a Running VM"
It would be nice if one could run a command like:

`ignite ps --format "table {{.ID}}\t{{.Mounts}}"`

Similar to Docker's ps:

`docker ps --format "table {{.ID}}\t{{.Mounts}}"`

[2019-07-19 22:55] PatrickLang commented on #129
Well, I tried `kvm-ok` under WSL2 and got this:

[code]

Just a FYI - I'm not actively pursuing this I just followed from WSL#4165 to see what ignite was

[2019-07-20 23:33] BenTheElder opened #230 "makefile does not ensure output directories"
`make tidy`, will fail due to `./bin/cache/go/bin` not existing. in general the make commands depend on directories that will not exist in a clean development environment and do not ensure that they exist.

[2019-07-20 23:35] BenTheElder commented on #230
Addtionally, after writing a patch for this, it seems `goimports` must be installed on the host.

I would tentatively suggest something like creating a hack/tools go module to track development tools and install these to bin/ from the module instead of using whatever the host has installed.

[2019-07-20 23:40] BenTheElder commented on #230
besides `goimports`, `make tidy` also depends on `sfdp` (graphviz?), I suppose we should just document this in devel? or possibly it could be run via a container?

[2019-07-22 11:19] #119 closed

[2019-07-23 09:35] luxas commented on #81
Fixed with https://github.com/weaveworks/ignite/pull/111

[2019-07-23 09:35] #81 closed

[2019-07-23 09:48] luxas commented on #230
Thanks! Fixed with #231. @twelho is now fixing the `graphviz` doc issue. Closing this :)

[2019-07-23 09:48] #230 closed

[2019-07-23 13:26] vielmetti commented on #172
My understanding from talking to @dieterreuter is that Firecracker's arm64 support depends on GICv3, and that the Pi 3/4 have only GICv2. That said, the arm64 servers at Packet have GICv3 and I'm also interested in this and interested in helping test.

[2019-07-23 18:38] BenTheElder commented on #230
Thanks!

On Tue, Jul 23, 2019 at 2:48 AM Lucas Käldström <notifications@github.com>
wrote:

[2019-07-23 21:18] curx commented on #228
or another filter like `--filter state=running|stopped|created`

[2019-07-26 01:22] taqtiqa-mark commented on #190
Anyone working on this?

[2019-07-26 01:25] taqtiqa-mark opened #237 "Add support for `rkt` as a container runtime"
[Rkt](https://github.com/rkt/rkt) is stable and allows one to avoid all the docker cruft.

[2019-07-26 01:32] taqtiqa-mark opened #238 "Integration with Chef's Test Kitchen infrastructure"
Would weaveworks support any changes/issues required in the course of creating a Test Kitchen plugin that provides a driver, transport, and provisioner for rapid cookbook testing and VM development using Ignite and Chef Infra Client.

This would likely be a hybrid of [Kitchen-Docker](https://github.com/test-kitchen/kitchen-docker) and [Kitchen-Dokken](https://github.com/someara/kitchen-dokken).

T

[2019-07-28 19:02] praseodym opened #240 "Incorrect privileges on image root"
When running a VM with the `weaveworks/ignite-ubuntu:latest` image I ran into problems starting the systemd-resolved service (which is expected by kubeadm, at least when using kubespray). It turns out that this problem was caused by the non-root `systemd-resolve` user not being able to access the sytemd-resolved binary.

It turns out that this is because of incorrect privileges on the image's root

[2019-07-28 19:53] praseodym commented on #240
Looks like the problem is not in the OCI images themselves, but somewhere in Ignite itself:
[code]

[2019-07-28 20:27] DieterReuter commented on #240
There is also a problem with `apt update`, it doesn't work with this VM image `weaveworks/ignite-ubuntu:latest`. As soon as you fix it with `chmod 755 /`, the command `apt update` is working!

[2019-07-29 09:11] luxas commented on #172
Awesome @vielmetti! Then I could try to get the arm64 builds working this week (#173), so we can get this into the next release, v0.5.0.

[2019-07-29 09:12] luxas commented on #190
Hi @taqtiqa-mark :wave:!
No, there's no one working on this yet, please go for it :100:

Thanks :clap:!

[2019-07-29 12:27] DieterReuter commented on #240
I just want to confirm, with fixing the image root's directory via `chmod 755 /` all the error messages from booting the VM image `weaveworks/ignite-ubuntu:latest` are resolved!

[2019-07-29 13:20] #65 closed

[2019-07-29 14:28] DieterReuter commented on #240
Ping @luxas. Can you please have a quick look at this issue? Maybe could point us to the right code, where we could fix the folder permission in Ignite.

[2019-07-29 15:57] luxas commented on #240
So we basically do `docker export > archive.tar`, and then `tar -x -f archive.tar -C mountpath`
https://github.com/weaveworks/ignite/blob/master/pkg/dmlegacy/image_format.go#L59

There we'd have to do `chmod 755`; alternatively pass some kind of "preserve permission data" option to `tar`. @DieterReuter can you take a look and help fix this?

[2019-07-29 16:39] praseodym commented on #240
[`ioutil.TempDir` does a chmod 0700](https://golang.org/src/io/ioutil/tempfile.go), so doing a chmod 0755 afterwards (or maybe better yet, creating a new directory in the TempDir with mode 0755 to avoid making it readable for other local users) will probably fix this.

[2019-07-29 18:55] luxas commented on #240
can you send a PR for this please?

[2019-07-30 13:21] luxas commented on #182
This was fixed in #226 #234 #241 :100:

[2019-07-30 13:21] #182 closed

[2019-07-30 13:22] luxas commented on #194
This was fixed in #241 :tada:

[2019-07-30 13:22] #194 closed

[2019-07-30 13:24] luxas commented on #75
This work is happening in https://github.com/weaveworks/footloose/pull/178

[2019-07-30 13:27] luxas opened #243 "Implement "docker attach" using custom Go code instead of execing"
This is a follow-up from https://github.com/weaveworks/ignite/issues/67, that was left as a non-goal for v0.5.0. This should be completely doable, and we have to do the same for containerd anyways (#209). So we'll target this at the same time as containerd support, v0.6.0

This would be a really nice community contribution.

[2019-07-30 13:28] luxas commented on #67
I'm now gonna call this "done". Split out `docker attach` support to #243

[2019-07-30 13:28] #67 closed

[2019-07-30 13:29] luxas commented on #209
Moving this to v0.6.0, we'll try to get a focused release out for v0.5.0 containing mostly internal changes before attacking this.

With #67 fixed, this should now be completely doable. If someone from the community would like to give it a go, let us know :smile:

[2019-07-30 15:15] dholbach commented on #207
https://github.com/weaveworks/flux/pull/2152 could serve as an example.

[2019-07-30 20:44] praseodym commented on #240
Turns out the problem was not with the base image, but with the overlay. PR including some details at #249!

[2019-07-31 08:42] luxas opened #251 "Create initial, copy-pasted v1alpha2 types"
To get v1alpha2 going.

[2019-07-31 08:43] #251 closed

[2019-07-31 09:03] #240 closed

[2019-07-31 10:30] DieterReuter commented on #240
I already tested this fix, works like a charm!!! 🎉👍🤓

Thanks 🙏, @praseodym!

[2019-07-31 10:54] #63 closed

[2019-07-31 11:32] luxas commented on #150
@BenTheElder could you help us with porting over the `crypto/ssh` code you wrote for `exec` to `ignite ssh`, please :pray:?

[2019-07-31 11:35] luxas opened #253 "Follow-up improvements for `ignite exec`"
cc @BenTheElder @twelho

Just filing this issue to improve `ignite exec` as per the comments in #232

[2019-07-31 11:40] luxas opened #254 "Split out `ignite gitops` and `ignite daemon` to a new binary: `ignited`"
This will eventually be the server component of the #33 issue, and can solve e.g. #24
In v0.5.0, we'll go as far as making `ignited` the way to do GitOps (#241) and Manifest Directory syncing (#182).

[2019-07-31 12:41] luxas opened #255 "Reduce dependencies in `ignite-spawn`"
TODOs:
 - Refactor `pkg/providers` to not make it vendor runtime/network: #252
 - Make it load a simple JSON file instead of using the Client/Storage for this simple operation: #257
 - Cut the dependencies on Client/Storage
 - Cut the dependency on `x/crypto/ssh`

This all for performance and reliability reasons

[2019-07-31 12:43] luxas opened #256 "Make `ignite-spawn` Patch operations propagate to the ManifestDir"
Right now; `ignite-spawn` writes its patches into `/var/lib/firecracker`, which is not under an `inotify` watch. This means that Patch operations made by `ignite-spawn` are not propagated to the manifest directory and/or the Git repo, as it should.

We'll solve this by mounting in either the `/var/lib/firecracker/vm/$id/metadata.json` file (by default), or `/etc/firecracker/manifests/my-vm.yaml`,

[2019-07-31 14:38] luxas opened #260 "Setup import-boss rules"
To avoid unintended/unwanted imports from ignite-spawn for example

[2019-07-31 18:56] luxas commented on #75
https://github.com/weaveworks/footloose/pull/178 is merged; awesome! Now, let's get to a place were we have a released version of Footloose that plays well with the latest Ignite version, and create some docs.

cc @robertorojas @dlespiau

[2019-07-31 18:57] luxas opened #261 "Make `ignite-spawn` patch the config file without the Client"
Just pin the path inside of the container to e.g. `/vm.json`; read it using the serializer, and patch it using `patchutil`. With this we should be able to not have to vendor all of `pkg/client` and `pkg/storage`, which are pretty heavy deps.

[2019-07-31 18:58] luxas commented on #261
Fixed with https://github.com/weaveworks/ignite/pull/257

[2019-07-31 18:58] #261 closed

[2019-07-31 20:09] robertojrojas commented on #75
Thanks @luxas I have another PR in the works that I'll be submitting soon. I'll be more than happy to help in anything I can.

[2019-08-01 09:41] #255 closed

[2019-08-01 12:05] #254 closed

[2019-08-01 12:16] luxas commented on #207
Reopening this until we have a public read-the-docs endpoint (and/or a custom domain).
@dholbach can you make this happen?

[2019-08-01 16:12] luxas commented on #237
Hi @taqtiqa-mark :wave:!
Yes, we do plan to have a swappable container runtime interface (see e.g. #209)
What's a bit concerning to me though is that rkt seems to be pretty unmaintained, unfortunately...

[2019-08-01 16:14] luxas commented on #238
Yes, this seems like a good use case.
We'd be happy to receive such contributions, or see community projects implementing this.
What I don't understand is if this kind of integration requires any code changes to Ignite.
Can you clarify this please?

[2019-08-01 16:17] luxas commented on #228
Yes, this would be nice to have :smile:
The underlying object is a normal Go struct, so it should be possible to take in a Go template e.g. `{{.Status.State}}=Running` or similar.
Help wanted if you want to contribute :wink:

[2019-08-02 08:24] dholbach commented on #207
https://ignite.readthedocs.io/en/latest/ is live!

[2019-08-02 08:36] luxas commented on #207
Thank you!! Then we're done here :smile:

[2019-08-02 08:36] #207 closed

[2019-08-02 08:37] luxas commented on #75
@robertojrojas could you add some docs about how to use footloose with ignite in this repo in `docs/` please?

[2019-08-02 08:38] luxas commented on #191
I'm gonna move this out; for now it's a reasonable requirement to require the UID being in the files you post to Git.

[2019-08-02 08:39] luxas commented on #77
Hi @patrobinson :wave: any progress here? Do you want help on getting this up and running?

[2019-08-02 08:40] DieterReuter opened #267 "Docs: include an introduction and architectural overview about Ignite and Firecracker"
The new docs pages are looking awesome.

We should add something like a detailed introduction with an architectural overview and some pictures about the main components. I'm sure this will help new users to get familiar with Ignite and then they should be able to learn it even more quickly.

Also a separate chapter about Firecracker, how it works and how Ignite makes use of it. The relationship be

[2019-08-02 08:40] luxas commented on #85
Moving this out of v0.5.0; we won't have time for this before releasing v0.5.0.

[2019-08-02 08:41] dholbach commented on #207
Can this issue be closed and we track all upcoming bits in new issues?

[2019-08-02 08:41] dholbach commented on #207
Ah yes. :-D

[2019-08-02 13:04] robertojrojas commented on #75
@luxas sure, I'll work on that and submit a PR.

[2019-08-02 13:28] #172 closed

[2019-08-02 13:33] vielmetti commented on #172
@twelho thanks for merging this in - just to be sure I know what's in #173, this covers building Ignite for arm64, but not yet the GICv2 support specific to the Raspberry Pi mentioned above?

[2019-08-02 13:41] luxas commented on #172
Right, but with this you should be able to run it on Packet.
For RPi support we need upstream Firecracker to change code...
I will do an alpha release of v0.5.0 next week so you have some "official" arm64 binaries to test
cc @dieterreuter

[2019-08-02 14:48] vielmetti commented on #172
@luxas nice! When 0.5.0 arrives I will make a point to test it at Packet and report back.

[2019-08-02 16:29] BenTheElder commented on #150
@luxas I might not have much free time for a bit, juggling a few too many projects, offline-ish to visit family soon, promo / perf / peer feedback cycle at work soon, ... 😬

---

For `ingite ssh` a lot of it could look pretty similar, but some thought needs to be put into:
- the PTY should probably? at least somewhat match the local shell in properties
- signal / input handling etc.
- mimic-ing an

[2019-08-02 17:01] #64 closed

[2019-08-03 16:16] praseodym opened #273 "Master branch is broken due to multi-arch support"
Executing `make build-all` builds the ignite Docker image as
`docker tag weaveworks/ignite:dev weaveworks/ignite:v0.4.0-340-0b0806b515f369-arm64`, whereas running a VM still expects the image tag without arch suffix:
[code]

[2019-08-04 03:03] taqtiqa-mark commented on #237
Thanks for the pointer to #209.  Rkt is stable and feature complete for downloading, launching and stopping containers.  Consistent with the reasons for its creation, it has not been chasing every shiny new thing, nor trying to 'rule-them-all'.

<pet-peeve-rant>It would be welcome development if projects started putting as much effort into supporting existing, working, tech stacks as a first prior

[2019-08-04 23:41] patrobinson commented on #77
I had a look at this but it wasn't trivial. It's not currently a focus for me sorry.

[2019-08-05 01:43] taqtiqa-mark commented on #238
I can't say whether ignite changes are required.  This was to gauge whether you do view this as an important use case.  For example, the use case will often be developer machines - often laptops, often mac and even windows.
Another use case that may generate issues/reports is CI environments: TravisCI, CircleCI etc etc.

[2019-08-05 08:36] twelho commented on #273
Indeed, thanks for noticing this!
Fixed in https://github.com/weaveworks/ignite/pull/274.

[2019-08-05 16:15] luxas commented on #150
Understood, I don't want to put too much pressure / work on you. Take care!
We'll figure it out :smile:

[2019-08-05 20:46] alexeldeib opened #278 "Avoiding writing desired updates to status"
hey, really cool project! Will be playing around with this more.

One thing that immediately struck me, booting a VM is writing a desired state change to the status object of a VM. Given the project follows the Kubernetes yaml/type patterns quite closely I was wondering if there is a reason for implementing this way, rather than writing to spec to get desired updates (and maybe syncing back to sta

[2019-08-05 21:59] alexeldeib commented on #278
Oh, I see in https://github.com/weaveworks/ignite/issues/122 this is expected behavior. It might be nice to distinguish this from k8s patterns somehow.

[2019-08-06 10:00] luxas commented on #77
Ok, no problem. Would you like some smaller work item to help out on @patrobinson instead or are you too busy at the moment?

[2019-08-06 13:50] luxas commented on #71
This is not fixed yet

[2019-08-06 13:51] #71 closed

[2019-08-06 13:51] #273 closed

[2019-08-06 18:00] #206 closed

[2019-08-06 23:38] patrobinson commented on #77
Thanks @luxas for being so forthcoming, but at this stage I'm not looking to actively contribute. That may change in the future and I'll let you know.

[2019-08-07 03:06] taqtiqa-mark opened #284 "Storing/tracking State of Ignite VM's"
What is the canonical way to store the state of an Ignite VM?

Context:
Creating a Vagrant plugin (issue #190 )

Comparisons:
For VirtualBox the state can be tracked/determined from the UUID of the VirtualBox VM ctreated
For VMWare the entire VM is copied into the state directory, complete with VDD etc.

[2019-08-07 04:21] chanwit commented on #129
I did this `egrep -c '(svm|vmx)' /proc/cpuinfo` and it returned 0.
Hopefully Microsoft's Taylor Brown could look into it for us.

https://twitter.com/chanwit/status/1158673722309410816

[2019-08-07 12:07] #85 closed

[2019-08-07 14:16] luxas commented on #77
Gotcha. No problem :smile:!

[2019-08-07 14:20] luxas commented on #237
Right, I understand what you mean. It won't be a priority for us; but we'd happily receive contributions towards this end of supporting it as a runtime through the interface.

Would you be up for adding that support?
Do you know if `rkt` supports CNI?

[2019-08-07 14:23] luxas commented on #238
I have no previous knowledge of Chef's Test Kitchen; hence I can't comment really on this specific use-case. Without knowing, I suppose that it should work with Ignite without code changes in ignite, really.

One of the primary goals of ignite is fast VM booting for testing, CI, dev, as well as k8s cluster lifecycle.

[2019-08-07 14:23] luxas commented on #267
I like it. But I won't have time for it for v0.5.0, so putting it to Next.

[2019-08-07 14:23] luxas commented on #267
It also relates to #195

[2019-08-07 14:40] #76 closed

[2019-08-07 22:35] alexeldeib commented on #77
@luxas what are you thinking here? user passes in json on vm creation and that gets applied with a PUT after VM is up, or introducing an ignite CLI command to pass through arbitrary data to MMDS? Or something else?

[2019-08-08 02:24] taqtiqa-mark commented on #237
Unfortunately integrating Rkt is outside my current skillset.  Happy to close this issue since it's not on any roadmap.

[2019-08-08 02:24] #237 closed

[2019-08-08 02:31] taqtiqa-mark opened #287 "[vagrant] Archiving an Ignite VM"
What would the contents of a complete Ignite VM archive look like (files and folder structure)?

Context:
Complement a Vagrant plugin (issue #190).
The ideal is that a user would execute, for example, `vagrant box add <org>/ubuntu-18.04`
and obtain all files required to launch a fully isolated Ignite VM - without further downloads.

Out-of-scope for this issue, but giving additional context:
In tu

[2019-08-08 03:57] taqtiqa-mark opened #288 "VM states: Ignite"
VM states: Ignite cf Vagrant

Context:
Identify the Ignite states, and related commands, that most closely map to those in Vagrant.
Required as part of implementing Vagrant Ignite provider plugin (issue #190 ).

Document the correspondence between states in Ignite c.f. Vagrant, and the related commands.

| Sate    | Vagrant | Ignite | Description |
| ---     | ---     | ---    | ---         |
| st

[2019-08-08 04:12] taqtiqa-mark opened #289 "VM snapshots"
Provide VM snapshots.

Context:
Vagrant Ignite plugin that offers similar functionality to VirtualBox.

A snapshot of a VM is similar to a machine in Saved state ( see issue #288 ), but there can be many of them, and the saved states are preserved.
[VirtualBox Snaphot documentation](https://www.virtualbox.org/manual/ch01.html#snapshots).

| Snapshot |  Vagrant  | Ignite | Description. |
| ---

[2019-08-08 07:08] hbokh opened #290 "[Question] ignite image vs docker image"
Thanks for an interesting project, @luxas !

I'm trying to run the `kubeadm` image, using `v1.15.2` instead of `v1.15.0` from the files in GitHub. I updated all code pointing to this version and rebuild the Docker-image `weaveworks/ignite-kubeadm:latest`.
Now when I ssh into the Ignite VM I get these versions:

[code]

However, running a Docker container from the newly build image shows these vers

[2019-08-08 07:55] taqtiqa-mark opened #291 "Feature: ignite image import ./some/local/file/path"
Use case Vagrant plugin (issue #190 )
[code]

Perhaps support `file ://` URI scheme?

Vagrant has the notion of a 'base box' which is the components required to run a VM from Vagrant.
With Vagrant offering an abstraction layer it would be best to package a 'Vagrant base-box' that contained known to work:

1. Linux Kernel.
1. Container Image.
1. Ignite managed VM (i.e. a Firecracker microVM).

Bear

[2019-08-08 10:51] luxas opened #293 "Simplify `.status.state` into `.status.running`"
This is more clear; and let's us eventually support restarts of VMs (#196), as we move from the world where we always transition from Created -> Running -> Stopped to "am I running or not?".

[2019-08-08 10:52] luxas commented on #293
Fixed with https://github.com/weaveworks/ignite/pull/292

[2019-08-08 10:52] #293 closed

[2019-08-08 11:13] #210 closed

[2019-08-08 11:17] luxas opened #295 "Importing large images doesn't work"
As reported by @neith00 (IIRC) on Slack.

If you import a large-ish image (e.g. ~900MB), `ignite` fails strangely with:

[code]

It seems to timeout after ten seconds when importing; although the importing process of a larger image requires more time (naturally).

cc @twelho

[2019-08-08 11:29] hbokh commented on #290
Nevermind...

[code]

Seems I was running an **OLD** Ignite image, the one above with age `27h`. I removed it and the new VM has v1.15.2.

[2019-08-08 11:29] #290 closed

[2019-08-08 11:40] luxas opened #297 "Add `.status.startTime` to the VM to compute uptime"
Adding `.status.startTime` gives us the possibility to know better how long the VM actually has been running (for this time, see #196 for restarting support).

With this we can compute uptime of the VM in a better way.

[2019-08-08 11:41] luxas commented on #297
Fixed with: https://github.com/weaveworks/ignite/pull/296

[2019-08-08 11:41] #297 closed

[2019-08-08 12:07] luxas opened #298 "Redesign image and kernel status for VMs"
For images and kernels, this is the status object we have:

[code]

vs Kubernetes way of doing it:

local image:

[code]

pullable image:
[code]

Proposed design:

[code]

This design:
a) Allows for multiple container runtimes (in the `.status.runtime.id` field prefix)
b) Supports unpushed docker images without a calculated distribution digest for compability using the `docker://` prefix in `.stat

[2019-08-08 13:32] luxas commented on #187
Moving to v1alpha3

[2019-08-08 13:33] luxas commented on #152
I'm closing this in favor for #185

[2019-08-08 13:33] #152 closed

[2019-08-08 13:40] luxas commented on #185
@twelho wrote in #152:

Improve autodetection for FIPS machines to automatically switch over to rsa
Enforce a specific key length (between 2048 and 4096) when using rsa

We'll most likely fix this in v1alpha2, but I'm not certain we have the time.
I'm not sure if we should keep the auto-detection of the SSH key algorithm, or just "blindly" use what we got from the API. An other alternative would b

[2019-08-08 15:21] #142 closed

[2019-08-08 16:29] twelho opened #301 "Missing validation functions"
All missing validation functions are tracked here. If you find some validation missing, add it to this list or comment on this issue.
- [ ] VM CPUs
- [ ] VM memory
- [ ] VM disk max/min sizes
- [ ] VM port mappings

[2019-08-08 16:34] twelho opened #302 "Decouple ignite-spawn from file updates"
Currently `ignite-spawn` is still responsible for cleaning up runtime resources in the metadata after the VM has shut down (https://github.com/weaveworks/ignite/pull/300). This issue tracks decoupling `ignite-spawn` from file updates entirely.
Unblocks https://github.com/weaveworks/ignite/issues/256.
Requires https://github.com/weaveworks/ignite/issues/33.

[2019-08-08 16:38] twelho opened #303 "Support fetching IP addresses from CNI"
As of https://github.com/weaveworks/ignite/pull/300 `ignite-spawn` is not responsible for managing IP addresses anymore, they are fetched from the runtime by Ignite itself. In the case of CNI networking we need handling implemented to fetch the addresses from it instead of the runtime.

[2019-08-08 19:54] alexeldeib commented on #77
I started on this 😄 Would appreciate guidance though

[2019-08-09 08:37] luxas commented on #301
Adding that network mode CNI and VM portmappings are mutually exclusive.

[2019-08-09 08:43] luxas commented on #302
I think that #256 should be fixed already, as we got the IP address there as per https://github.com/weaveworks/ignite/pull/300. Indeed, cleanup is not propagated to the manifest dir or git quite yet.

What do you think about adding (at least to `ignited`) a goroutine that periodically checks running containers from the container runtime and cleans up when containers are stopped?

[2019-08-09 08:44] luxas commented on #256
This should be fixed with #300

[2019-08-09 08:44] #256 closed

[2019-08-09 08:47] luxas commented on #303
We should do this for in time for v0.5.0

[2019-08-09 08:50] luxas commented on #295
This has been present already in v0.4.x, so it's not a release blocker for v0.5.0. We'd like to fix it in a v0.5.x patch release, though.

[2019-08-09 08:52] twelho commented on #302
This would be a first step towards daemonization. IMO `ignited` could be started by the CLI to watch a specific VM, perform cleanup after the VM (container) has shut down and exit itself. Having a single daemon to manage all of the VM containers would be the next step after this is done, so we're taking small incremental steps.

[2019-08-09 08:53] luxas commented on #185
After thinking about this, it's not high-priority enough to do in v1alpha2 / v0.5.0. Moving to v1alpha3.

[2019-08-09 09:38] twelho commented on #298
Looks good all in all, a couple of points:
- Having the runtime container/isolation ID on a per-VM basis enables us to potentially run multiple isolators at the same time. I see this as a benefit for special usecases.
- Currently we have
[code]
in the specification (also for kernels). `.spec.image.type` is unused, as the image is requested from the runtime. Should we change it to:
[code]
to align

[2019-08-09 09:41] twelho commented on #298
`.status.image.size` is necessary if we want to know the source size, as that information is otherwise lost on conversion to Ignite's internal format.

[2019-08-09 12:25] luxas opened #306 "`ignite rm -f` fails to remove the container"
Due to a race condition in the docker container implementation:

[code]

cc @twelho

[2019-08-09 13:46] luxas commented on #298
After thinking about this, yes, I think it makes sense, but I don't want to build in what container runtime to use in the VM spec, at least not yet.

So let's simplify the current state to:

[code]

I'll open a new issue

[2019-08-09 13:48] luxas opened #309 "Redesign the image and kernel ociClaim"
As per https://github.com/weaveworks/ignite/issues/298; we're gonna simplify

[code]

to

[code]

(and the same for `kernel`)

[2019-08-09 13:50] luxas commented on #122
Moving this post-v0.5.0-release. We'll fix it in a patch release.

[2019-08-09 14:00] luxas opened #310 "Remove `.spec.network.mode`, make it instance-specific"
Instead of letting the user specify in the desired VM state what networking plugin or container runtime to use, this should be an option for the `ignite(d)` instance that receives the desired state and makes it happen. This way VM specifications are portable, and do not need to be tweaked for different environments.

Instead of `.spec.network.mode`, we'll use a `--net-plugin` gloabl flag (maybe en

[2019-08-09 14:01] #171 closed

[2019-08-09 14:01] #303 closed

[2019-08-09 14:06] luxas commented on #204
Yes :+1:. Correct me if I'm wrong @chanwit.

[2019-08-09 14:45] #298 closed

[2019-08-09 16:33] twelho commented on #309
After some additional thought, we're going to further shorten `ociRef` to just `oci`, it's enough to signal the resource should be retrieved from the OCI implementation. So the target design looks like this:
[code]

[2019-08-09 18:02] twelho opened #312 "Reflect API changes in documentation for v0.5.0"
E.g. the declarative configuration guide needs to be updated to the new `v1alpha2` API.

[2019-08-12 07:21] #75 closed

[2019-08-12 08:49] luxas commented on #77
Thanks! I'll comment on the PR :+1:

[2019-08-12 08:51] luxas opened #314 "Support multiple container runtimes"
This requires e.g. having some kind of switch in either ComponentConfig or a flag on `ignite` and `ignite-spawn`, and a way to pass related parameters (e.g. the socket the container runtime is listening on)

This is needed for containerd support (#209). We're doing a similar thing for networking now: #310

[2019-08-12 08:53] luxas opened #315 "Support ComponentConfig?"
As `ignited` grows in complexity, instead of registering tons of flags on it, we'd use a declarative configuration file, aka. ComponentConfig, for it. (Could be even backed by git?)

[2019-08-12 09:13] luxas opened #316 "Release v0.5.0"
Similar to: #198

This requires:
 - [x] Fixing everything in the v1alpha2 milestone
 - [x] Release v0.5.0-rc.1: https://github.com/weaveworks/ignite/releases/tag/v0.5.0-rc.1
 - [x] Fixing all issues in the v0.5.0 milestone
 - [x] Making sure it's possible to upgrade from an existing v0.4.0 installation
 - [x] Updating the version to install in `installation.md` to v0.5.0
 - [x] Updating docs to re

[2019-08-12 09:18] luxas opened #317 "Add Badges to the README"
e.g.

- CircleCI
- ReadTheDocs
- godoc
- goreportcard: https://goreportcard.com/report/github.com/weaveworks/ignite
- licence badge
- latest release badge
- good first issues

examples from the other weaveworks projects

[2019-08-12 09:22] luxas opened #318 "Create a "stable" Read The Docs branch"
cc @dholbach
we'll do this for v0.5.1, after v0.5.0 has been cut so we have something "stable" :)
we need to update all references in e.g. the README

[2019-08-12 09:28] dholbach commented on #318
Setting this up in the readthedocs.io UI is very simple - just point to whatever your stable branch is going to be.

[2019-08-12 09:45] #309 closed

[2019-08-12 09:51] luxas commented on #318
Yes, will do later

[2019-08-12 11:27] #310 closed

[2019-08-12 12:19] #306 closed

[2019-08-12 12:24] twelho opened #322 "`ignite create --config` does not accept `v1alpha2` specifications"
Running `ignite create --config conf.yml` where `conf.yml` contains
[code]
results in
`FATA[0000] unable to decode ignite.weave.works/v1alpha2, Kind=VM into *ignite.VM`.

Do you have an idea @luxas as to why this happens? `v1alpha2` is registered in the scheme.

[2019-08-12 13:55] #322 closed

[2019-08-12 15:25] stealthybox opened #327 "GitOps should be file-location agnostic"
@twelho mentioned on the [aug12 developer call](https://docs.google.com/document/d/1fv8_WD6qXfvlIq7Bb5raCGyBvc42dNF-l8uaoZzoUYI) that the current GitOps implementation will destroy and re-create the VM if you move a manifest to a different location in the git repo.

It should be possible to re-organize manifests to wherever file paths you want in the git-repo.
As long as the unique information doe

[2019-08-12 15:28] stealthybox commented on #327
( If we ever intend to make the directory structure or filenames in the Git-repo significant to the meaning of the manifests these can be intentionally added to the identifying tuple of resources. )

[2019-08-12 16:53] luxas opened #328 "Use Github code-owners"
@dholbach pointed out we could use https://help.github.com/en/articles/about-code-owners

[2019-08-12 17:04] luxas opened #329 "Add a k3s sample image"
cc @alexellis :)

[2019-08-12 20:31] alexellis commented on #329
This sounds awesome 😄

[2019-08-13 06:51] alex-leonhardt commented on #295
not sure if there was/is a fix in master but I've just tried this (I had built `ignite` from master) and I cannot reproduce this anymore .. the example isn't my image but it's ~912MB so large enough that it should've triggered the issue ..

[code]

FWIW - my initial thought was that [`(ds *DockerSource) Reader()`](https://github.com/weaveworks/ignite/blob/master/pkg/source/docker.go#L82)
used by [

[2019-08-13 07:05] alex-leonhardt commented on #295
So I managed to break it by using 2 x 1gb layers and also timed it and took ~27 seconds to trigger the issue ..
[code]

the Dockerfile is
[code]

the `.dd` files were created with
[code]

[2019-08-13 15:56] #328 closed

[2019-08-13 15:59] #312 closed

[2019-08-13 18:02] luxas commented on #316
Done!

[2019-08-13 18:02] #316 closed

[2019-08-13 18:05] luxas commented on #318
This is now fixed. ignite.readthedocs.org now automatically points to the stable branch, too

[2019-08-13 18:06] luxas commented on #318
Oh, right, we should update the README.
@twelho can you do that?

[2019-08-14 07:11] joeblew99 opened #334 "Idea: Integrate with VSCode Remote Containers"
Use Case is that you are using Ignite and love the ability to use the VSCode IDE to develop with and love the reproducibility of container baed development.

[2019-08-14 10:28] twelho commented on #295
After some debugging it seems the issue is the block device size allocation. Currently we make the ext4 block device the size of the contents as reported by Docker + 100 MB. With more contents the ext4 journal and other metadata require more than our 100 MB buffer and the device runs out of space, resulting in exit status 2.

[2019-08-14 17:07] #295 closed

[2019-08-15 15:22] #318 closed

[2019-08-15 15:35] alex-leonhardt opened #339 "ignite-spawn timing out (master)"
I built ignite from master using
[code]

and when trying to run a vm
[code]

then it times out starting up
[code]

the logs show
[code]

As I was fiddling with the docker networking, I thought it might have something to do with that, so I tried `0.4.2` but that worked.
[code]

v0.5.0 seems fine too
[code]

[2019-08-15 15:41] alex-leonhardt commented on #339
P.S. reason I wanted/needed master is to have the large image import fix - would be easiest if there was a _"quick"_ patch release maybe? :)

[2019-08-15 16:18] twelho commented on #339
Could you run `ignite --log-level trace start 961caa578839a27c` and post the output of `docker logs`?
`Unknown host QEMU_IFLA type: 50` points to the ARM build, are you on x86 or ARM?

[2019-08-15 16:20] twelho commented on #339
We're planning to release `v0.5.1` with the image importing improvements this week (or early next week).

[2019-08-15 16:31] alex-leonhardt commented on #339
I'm running on x86 ... I did see something ARM related when I ran `make` but thought it was just tagging the images

here the output ```
# ./ignite-master  --log-level trace start yo
TRAC[0000] Client.Find; GVK: ignite.weave.works/__internal, Kind=VM
TRAC[0000] index: counted 0 VM object(s)
TRAC[0000] cache: miss when listing: ignite.weave.works/__internal, Kind=VM
TRAC[0000] cache: Get VM with UI

[2019-08-15 16:34] alex-leonhardt commented on #339
Oh I just saw this after doing another `make build-all`

[code]

[2019-08-15 16:36] twelho commented on #339
Yes, that seems to be a bug from our side :sweat_smile: essentially the ARM build follows x86 and re-tags the image. Well spotted! For now as a workaround to only build for x86, run `make build-all-amd64`. I'll fix this ASAP.

[2019-08-15 16:37] alex-leonhardt commented on #339
that's it, i re-tagged it and voila ..

[code]

[2019-08-15 17:46] #339 closed

[2019-08-16 13:44] #327 closed

[2019-08-16 17:31] twelho opened #345 "`weaveworks/ignite:<version>-arm64` images have `amd64` as their architecture"
This doesn't affect `weaveworks/ignite:<version>` images, those are registered for both architectures. Just a nit, but would be good to fix at some point.

[2019-08-16 17:33] twelho opened #346 "Set up CI for `weaveworks/ignite-{ubuntu,centos,...}` images"
Currently they need to be build by hand when releasing. Automatic updates via CI could also be used for updating the `weaveworks/ignite-kernel` image to new point releases (it is already somewhat old).

[2019-08-19 15:35] stealthybox commented on #184
Notable that a user should be able to opt-out of pre-flight checks.
ex:  the kernel-config check isn't always possible -- not all hosts will have an introspect-able config.
The user should still be able to move forward without one.

[2019-08-19 15:52] aojea opened #351 "After host reboots, ignite report VM up despite is not"
I' ve just found this because when I tried to connect to the VM it failed after my server rebooted it wasn't there.

`ignite ps` reports is running bit is not, I guess has to be related to docker not restarting the container but couldn't dig further.

[code]

[2019-08-19 15:52] aojea commented on #351
/kind bug

[2019-08-19 16:13] twelho commented on #351
Thanks for noticing, could you post the output of `sudo ignite inspect vm e289e3b662dd7b71 -oyaml`?

[2019-08-19 16:25] twelho opened #352 "Application logs from the VM to host"
In the Ignite developer meeting on August 19th [(doc)](https://docs.google.com/document/d/1fv8_WD6qXfvlIq7Bb5raCGyBvc42dNF-l8uaoZzoUYI) @DieterReuter brought up support for exporting application logs (e.g. from `journalctl`) from VMs to the host.

This needs a way of collecting logs in the VM (e.g. using [fluentbit](https://fluentbit.io/)) and a log aggregator on the host to collect logs from vari

[2019-08-19 17:52] aojea commented on #351
[code]

but I guess that's because if you see the snippet above the `rm -f` deletes the references

in `kind` happens something similar because after rebooting the node the docker filtering still matches the containers tags, but the containers are not running

[2019-08-19 18:14] luxas opened #353 "Extract generic code into github.com/weaveworks/gitops-toolkit"
- [x] Refactor the internal code to be generic and not have import loops #347
 - [x] Publish staging repository to use: https://github.com/luxas/gitops-toolkit
 - [x] Move ignite over to use the gitops toolkit from the staging repo #354
 - [x] Move to `weaveworks/gitops-toolkit`
 - [x] Update references in ignite to weaveworks/gitops-toolkit https://github.com/weaveworks/ignite/pull/359
 - [x] Imp

[2019-08-19 18:16] luxas commented on #353
cc @stealthybox

[2019-08-19 18:30] luxas opened #355 "Remove v1alpha1 in v0.8.0"
We will support upgrades so that you can seamlessly go one minor version up at any time without breaking, but we won't hold an old API version left in the binary more releases than necessary.

Upgrading from v1alpha1 (the only option in v0.4.0) to v1alpha2 was possible in v0.5.0, but is not needed in v0.6.0 anymore as everything touched by v0.5.0 is always at v1alpha2.

**Update:** We'll remove `v

[2019-08-20 10:06] aojea commented on #351
@twelho feel free to close it if you think is the expected behavior, just wanted to let you know

[2019-08-20 11:36] twelho commented on #351
This is expected, as we don't support restarting VMs for now (including host restarts). The VM container doesn't persist and can't update the state after a sudden termination, resulting in the Ignite reporting the wrong state. Closing.

[2019-08-20 11:36] #351 closed

[2019-08-20 20:49] najeal commented on #184
Discovering the project, regarding the `ContainerConfig` I made a list of needed preflight checks:

- ports availability
- /dev/mapper/control
- /dev/net/tan
- /dev/kvm
- existing metadata.json file
- existing vmlinux file

Let me know if you see anything that should be added/removed to the preflight.

@stealthybox, if we follow the "same behavior" as the link given by @luxas we can choose to excl

[2019-08-22 03:08] kobayashi opened #358 "old docker version"
From [Installing dependencies](https://ignite.readthedocs.io/en/stable/installation.html#installing-dependencies), is there any reason for using older version of docker package (not docker-ce)?

[2019-08-23 18:26] #209 closed

[2019-08-23 19:59] luxas commented on #184
Sounds awesome @najeal! Go for it :clap:!

[2019-08-26 18:11] twelho opened #365 "Ignite(-spawn) leaks device mapper devices"
It seems like the `device mapper` snapshot cleanup has stopped working at some point (again), it might be a specific command (I suspect `rm -f`) that is causing a leak of dm and loop devices. Noticed after using `Footloose` to repeatedly spin up and tear down a cluster of VMs.

[2019-08-27 10:33] twelho commented on #358
Hi @kobayashi! :wave:
No particular reason, other than `docker.io` being readily available in Ubuntu without the need to add external PPAs. Feel free to use `docker-ce`, it should work just fine.

[2019-08-27 10:40] twelho commented on #334
Hi @joeblew99! :wave:
Great suggestion, this sounds like a feasible improvement for UX. We're currently still working towards changing Ignite over to a client-server model (see https://github.com/weaveworks/ignite/issues/33). That should ease the implementation of this feature, so we won't make it a priority just yet. Of course if you would like to start working on it right away, feel free to! We'

[2019-08-29 03:04] kobayashi commented on #358
Hello @twelho,

Thank you for letting me know. Do I have a chance to PR the docs about this?
Something like this.
[code]

[2019-08-30 16:00] twelho commented on #358
Yes absolutely, go ahead :+1:

[2019-08-30 16:17] luxas commented on #314
This was fixed in https://github.com/weaveworks/ignite/pull/366

[2019-08-30 16:17] #314 closed

[2019-08-30 16:58] luxas commented on #353
Fixed with #372

[2019-08-30 16:58] #353 closed

[2019-08-30 21:05] twelho commented on #365
`rm -f` works properly, the issue is improper/non-working cleanup if `run` or `start` fail during the call e.g. if any of the OCI images could not be pulled.

[2019-08-30 21:09] twelho commented on #301
CNI now supports port mappings, so removing the mutual exclusitivity requirement.

[2019-08-30 21:41] luxas opened #379 "Release v0.6.0"
Similar to: https://github.com/weaveworks/ignite/issues/316

This requires:
 - [x] Fixing all issues in the v0.6.0 milestone
 - [x] Making sure it's possible to upgrade from an existing v0.5.0 installation
 - [x] Updating the version to install in `installation.md` to v0.6.0: https://github.com/weaveworks/ignite/pull/378
 - [x] Updating docs to reflect the current state: https://github.com/weavewo

[2019-08-30 22:13] twelho opened #380 "Update Firecracker Go SDK to latest version"
We're running `0.15.2` now, the latest one as of Aug 31st is `0.17.0`.

[2019-08-31 09:43] luxas commented on #379
The release is out 💯

[2019-08-31 09:43] #379 closed

[2019-08-31 09:44] luxas commented on #177
This has been fixed at HEAD

[2019-08-31 09:44] #177 closed

[2019-08-31 13:03] chanwit commented on #380
I'll start tracking the Firecracker versions onward. Thank you @twelho !!

[2019-08-31 13:33] chanwit commented on #365
addressed in #381

[2019-08-31 13:57] chanwit opened #382 "Integration of virtual kubelet into `ignited` requires different k8s dependencies"
Here's a design concern for implementing vkubelet into `ignited`.

The vkubelet has been designed for building binaries differently to each k8s version.
For example, vkubelet with k8s 1.14 dependencies should be deployed only to k8s 1.14 clusters, and so on.

With this compatibility issue, we should have a proper strategy to integrating vkubelet into `ignited`. For the very first implementation, w

[2019-08-31 15:37] chanwit commented on #365
Steps to reproduce In my scenario:

Scenario 1:
I got a new binary compiled with different ignite version say, `0.6.0+1-dirty`.
When running `ignite run` it's going to pull `weaveworks/ignite:0.6.0+1-dirty` which does not exist. Then the VM creation failed.

After that `sudo ignite rm -f <vm_id>`

Then `sudo dmsetup ls`, the dm devices still left on disk.

[2019-08-31 17:04] chanwit commented on #329
Current version of k3s is now v0.8.1: https://github.com/rancher/k3s/releases/tag/v0.8.1

[2019-08-31 18:47] karanparhar opened #383 "Not able to run make build-all"
Error : Makefile:20: *** missing separator.  Stop

[2019-08-31 22:27] chanwit commented on #383
from which branch you're building?

if from the master, it's just working fine to me.

[2019-09-01 06:05] karanparhar commented on #383
I'm building from master (and v0.6.0)

[2019-09-01 10:36] luxas commented on #355
@chanwit

[2019-09-01 10:37] luxas opened #384 "Remove the `docker` runtime and `docker-bridge` network providers"
Fully base Ignite on containerd/CNI-only, and get rid of the extra docker imports.
Will result in a cleaner, leaner and more understandable codebase.
cc @chanwit

[2019-09-01 10:40] luxas commented on #243
This can be closed now that we have containerd, see #384

[2019-09-01 10:40] #243 closed

[2019-09-01 10:41] luxas commented on #205
We have [awesome-ignite](https://ignite.readthedocs.io/en/stable/awesome.html) now, that should be good enough

[2019-09-01 10:41] #205 closed

[2019-09-01 10:42] luxas commented on #82
@chanwit for the next release

[2019-09-01 10:51] chanwit commented on #383
It might be relating to tab characters in `Makefile` getting changed or replaced.
Did you modify the `Makefile`?

[2019-09-01 10:52] chanwit commented on #384
roger!

[2019-09-01 10:56] chanwit commented on #204
@asaintsever The old one is a PoC. The real implementation will be rewritten as an `ignited` integration. Please stay tuned.

[2019-09-01 10:57] chanwit commented on #82
@luxas ok. I'll take a look.

[2019-09-01 14:52] chanwit commented on #355
got it!

[2019-09-01 14:54] chanwit commented on #82
Asked them to sponsor this project. Will track here when got the answer.

[2019-09-02 09:27] silenceshell commented on #383
I have met this problem on macOS, for my make is `GNU Make 3.81`, which does not support `undefine`.

To avoid this, just delete the line 20, or upgrade your make above version 3.82.

`undefine GOFLAGS`

[2019-09-02 12:06] chanwit commented on #383
that surprised me! Thank you @silenceshell .
I'm using Linux so I haven't noticed that a different version of `make` on macOS would cause a problem to @karanparhar .

[2019-09-02 12:07] chanwit commented on #383
To help confirm this, my `make` version is 4.` and I don't have the problem with `undefine`.

[2019-09-02 12:08] chanwit commented on #383
noted that we need to specify the minimum version of `make` somewhere in the build doc.

[2019-09-02 13:40] chanwit opened #386 "Verify https proxy with the new containerd runtime"
Verify and document if the new containerd runtime works out-of-the-box with the https proxy or require an extra setup.

[2019-09-02 16:47] silenceshell commented on #383
@chanwit I agree and would like to submit a PR to fix the doc :)

[2019-09-03 07:32] karanparhar commented on #383
@chanwit After updating the make version i'm able to  build

[2019-09-03 08:12] chanwit commented on #383
@silenceshell sure please do.

[2019-09-03 08:12] chanwit commented on #383
@karanparhar great to hear that it's working for you.

[2019-09-04 15:16] chanwit opened #390 "Keep docker as the default runtime for a while"

[2019-09-04 15:21] chanwit opened #391 "Write e2e test cases for ignite run"

[2019-09-04 15:21] chanwit opened #392 "Write e2e test cases for ignite rm"

[2019-09-04 15:28] chanwit opened #393 "Getting a CNI removal error when doing ignite vm stop"

[2019-09-04 15:29] chanwit opened #394 "Proposal: embed containerd into ignited for easier setup"
* look at `k3s` as an example

[2019-09-04 15:32] chanwit opened #395 "Proposal: adding a simple logic to auto detect runtime"
Maybe if we could have `--runtime=auto` to
- firstly check for `containerd`, if not available then fallback to
- docker, if not available then display error.

[2019-09-04 15:37] chanwit commented on #365
ping @stealthybox could you please close this one. thank you.

[2019-09-04 15:40] chanwit commented on #394
blocked by #33

[2019-09-04 16:24] stealthybox commented on #393
bug
[code]

versions:
[code]

git diff is small:
[code]

[2019-09-04 16:25] stealthybox commented on #392
Depends on CI /w nested virt

Can accomplish with TravisCI as of recent changes: https://twitter.com/_AkihiroSuda_/status/1167336407779557376

Could also use GCP or AWS vm's spawned from CircleCI, but this would be more latent.

[2019-09-04 16:25] stealthybox commented on #391
Depends on nested virt: https://github.com/weaveworks/ignite/issues/392#issuecomment-527978931

[2019-09-04 16:28] stealthybox commented on #390
+1
The containerd version we depend on is too new for most users.
We also have no version gate/pre-flightcheck which means users will receive this error:
[code]

[2019-09-04 16:32] stealthybox commented on #395
reason for this is somewhat related: https://github.com/weaveworks/ignite/issues/390#issuecomment-527979961

Failing on containerd when docker is available is somewhat bad U/X.
We should decide if this should be explicitly configured.

[2019-09-04 16:34] #383 closed

[2019-09-04 16:40] chanwit commented on #384
@stealthybox what we have planned now conflicts with this issue. could you please remove `v0.7.0` milestone out of this one.

[2019-09-05 05:49] neith00 opened #396 "Documentation : detailed requirements and usage in an air gapped environment"
The project should provide a guide to use ignite in an air gapped environment. It's really useful for corps & gov

[2019-09-05 07:48] luxas commented on #384
Why does it conflict? I think we should try to do forward-fixes instead of keeping the older code

[2019-09-05 07:49] luxas commented on #390
What containerd version do you use? The v1 shim is available at least in v1.2, maybe v1.1 too

[2019-09-05 07:50] luxas commented on #394
Won't debs/rpms fix this?

[2019-09-05 08:21] chanwit commented on #384
the docker runtime makes it a breeze experience for Ignite users but it's still a bit difficult for the containerd runtime to have on-par UX.

If a goal is to have the best UX for people to try VMs with Ignite, let's not too hurry to remove docker :-)

[2019-09-05 08:24] chanwit commented on #396
I like the idea. it's very important. Thank you for raising this point.

[2019-09-05 13:47] chanwit opened #399 "Make Ignite run out-of-the-box with containerd and bridge cni"
This issue discusses and finds a way to implement better UX when using `ignite` with `containerd`.

  * `ignited` should ship with its own `containerd`, shim and `runc`. We'll choose a specific version
  * `ignited` should start the embedded `containerd`
  * `ignited` should ship with at least the bridge, loopback cni and the default config to make network work OOTB.
  * provide a setup script lik

[2019-09-05 14:23] chanwit commented on #384
Alternatively, if we could ship `containerd` along with `ignited`, and the UX is improved. We could finally remove docker dependency. WDYT? cc @luxas @twelho @stealthybox

[2019-09-05 16:56] chanwit commented on #399
addressed by #400

[2019-09-05 17:24] Strum355 opened #401 "Networking: no route to host"
Ingress and outgress networking doesnt work when spinning up vms from example, see screenshot.
I can attach to VM and do anything that doesnt involve

Host:
[code]

VM:
[code]

![image](https://user-images.githubusercontent.com/18282288/64363980-da769b80-d009-11e9-9f16-ac147995301d.png)

[2019-09-05 17:26] Strum355 opened #402 "Cant pull Docker hello-world image"
![image](https://user-images.githubusercontent.com/18282288/64364343-87511880-d00a-11e9-8c96-c1fe947eac85.png)

[2019-09-05 18:01] chanwit opened #403 "Prepare a Github template to help users filing issues"

[2019-09-06 12:10] chanwit opened #404 "Add runtime information into version or info command"
addressed by #405

[2019-09-06 13:00] luxas commented on #390
Preflight checks will be added here: https://github.com/weaveworks/ignite/pull/360
Just add a containerd check in there later to check for containerd v1.1+ or v1.2+, whatever is needed

[2019-09-06 13:04] chanwit commented on #390
Currently the containerd cli uses 1.3.0-beta.2 (also about to upgrade to 1.3.0-rc.0).
Feedback from a user from slack saying that he already has `docker` and why does he still need to install `containerd`.
So we plan to provide auto-detection as a workaround.

Until we could also ship a certain version of containerd to provider better UX out-of-the-box, I suggest we keep docker runtime for a time

[2019-09-06 14:39] dlespiau opened #406 "ignite shouldn't ask for root permissions just to display its version"
While https://github.com/weaveworks/ignite/issues/24 captures things required to not run as root, the `version` command shouldn't require to be run as root:

[code]

[2019-09-06 14:58] dimitropoulos opened #407 "zombie VM that can't be stopped or removed unless forced"
Love this project!  Thanks for working on it!

The issue I'm hitting is that I have a stuck VM that I couldn't seem to remove:

![Screenshot_20190906_075253](https://user-images.githubusercontent.com/15232461/64437099-a34ccc80-d093-11e9-8546-07fb535dcc9b.png)

I really wish I could provide more context as to how this happened but it was during a debugging session (of a different problem) where I w

[2019-09-06 15:01] chanwit commented on #406
Agree.

Thank you for reporting. I'm working on it.

[2019-09-06 15:06] chanwit commented on #407
Thank you for your kind words :-)

Yes sure. Would you like to contribute the docs saying this?

[2019-09-06 15:49] stealthybox commented on #406
Determining what the more specific permissions are and how to check for them would be a more appropriate set of pre-flight checks than just gating on UID==0.

[2019-09-06 16:11] chanwit commented on #406
Currently it's globally checked for root UID at the root command. That's why even with `ignite version` does need root.

[2019-09-06 16:15] stealthybox commented on #390
@luxas newest docker-ce on ubuntu uses containerd 1.2.6:
[code]

This is before the shim had multiple versions:
[code]

[2019-09-06 16:16] #404 closed

[2019-09-06 16:16] stealthybox commented on #404
merged

[2019-09-06 16:29] stealthybox commented on #402
Thanks for reporting -- I can reproduce this on master:
[code]
With `golang:latest` (which is significantly larger), there's no issue:
[code]

[2019-09-06 16:44] stealthybox commented on #390
Related user issue in slack: https://weave-community.slack.com/archives/CL1A4S5UJ/p1567752222028300

[2019-09-07 00:40] kobayashi commented on #358
PR was merged. Close

[2019-09-07 00:40] #358 closed

[2019-09-07 19:41] stealthybox opened #410 "Umbrella issue: Package ignite in popular formats"
Let's discuss our favorite ways to package linux programs.
If you want to work on one of these or your own favorite format, make an issue for it!

Note that if your package chooses to depend on docker or containerd, you should consider accommodating both the distro and docker upstream packages.

It might be easier to just not depend on a container runtime to avoid breaking user's installations.
__

[2019-09-07 23:42] stealthybox commented on #390
#411 removes the need to rollback to docker as the default since it should now enable use of the Legacy Linux Runtime available with all modern versions of docker.

[2019-09-08 13:40] morph027 commented on #410
Wohoo, nice it's popping up here ;)

[fpm](https://github.com/jordansissel/fpm) supports a whole lot of those anways, and thanks to golang we are basically just "zipping" a single binary with some metadata, it should not be too complicated. I can take care of this part if you like.

[2019-09-08 16:28] morph027 commented on #410
It should be possible to specify `docker.io|docker-ce` and `containerd|containerd.io`.

Also all other [dependencies](https://github.com/weaveworks/ignite/blob/master/docs/dependencies.md) should be added to the packages....

[2019-09-08 16:58] morph027 commented on #410
[CNI-Plugins](https://gitlab.com/packaging/cni-plugins) as packages too ;)

[2019-09-09 03:48] #406 closed

[2019-09-09 14:00] #184 closed

[2019-09-09 14:03] #390 closed

[2019-09-09 14:07] luxas commented on #394
Talked with @chanwit, and we'll re-use the official containerd packages instead

[2019-09-09 14:07] #394 closed

[2019-09-10 16:43] #391 closed

[2019-09-11 02:38] chanwit commented on #365
This issue could be closed for now. I'll re-open it if things still wrong.

[2019-09-11 02:38] #365 closed

[2019-09-11 08:47] stealthybox commented on #393
Not working -- `ignite stop` gives error:
- `--runtime containerd --network-plugin cni` (networking does not work)
- `--runtime docker --network-plugin cni` (networking works when running)

Working:
- `--runtime docker --network-plugin docker-bridge`

[2019-09-11 09:25] chanwit opened #418 "When using containerd + CNI network, the VM could not ping the Internet IPs"
When using CNI network, the VM could not ping the Internet IPs.

This is because there is no forward setting in iptables to handle traffic atm.
We should implement this inside `pkg/network/cni`.

[2019-09-11 09:50] YachikaRalhan opened #419 "Copy files from host to VM, while the VM is in running state"
Not able to copy while VM is running.
There is `--copy-files` flag, but only works with ignite run command

[2019-09-11 09:52] yachika49 commented on #419
Not able to copy while VM is running.
There is --copy-files flag, but only works with ignite run command

[2019-09-11 10:46] stealthybox commented on #384
I'm less worried about containerd as the runtime now that #411 copes well with different versions and installs.

`docker+docker-bridge` works OOTB for many users.

`docker+cni` works except for #393.
`containerd+cni` is currently not working -- this is our next priority.

Once everything with CNI is fixed and we have packaging and installation polished, I think we can begin to consider this.

It's

[2019-09-11 11:06] chanwit commented on #401
There's some fixes going to to the master. Not sure if it's gonna solve your issue.

[code]

[2019-09-11 11:08] chanwit commented on #418
addressed by #421

[2019-09-11 11:11] chanwit commented on #419
Thank you for reporting this @yachika49 !

Maybe this would be implemented as `ignite cp` sub command, and using `scp` underneath.

[2019-09-11 11:12] chanwit commented on #419
/affect pre-flight check for the `scp` binary.

[2019-09-11 11:24] chanwit commented on #393
It seems to be working fine with #421 applied, both for `containerd` + cni and `docker` + cni.

[code]

Note that my CNI implementation is the newest one from Project Atomic PPA.

[2019-09-11 11:58] stealthybox commented on #418
`docker+cni` actually works -- the container gets configured with `NetworkMode: none`
`containerd+cni` is broken for me
( mentioned in https://github.com/weaveworks/ignite/issues/393#issuecomment-530285135 )

Here's all 3 cases for me just demonstrating with `exec curl google.com`:
<details>
<summary>
<b>test-all.sh (click for source)</b>
</summary>

[code]
</details>

[code]

[2019-09-11 12:03] chanwit commented on #418
You're right. This issue should be saying only for `containerd` + `cni` as Docker seems to do some forwarding behind the scene and it's somehow working.

[2019-09-11 13:02] stealthybox opened #423 "CNI setup appears more latent than docker-bridge"
Network connectivity does not require sleeps for `docker+docker-bridge` when performing run, then exec.

`docker+cni` only succeeds locally on my laptop with sleep values >= 2 seconds.

Described in #422 with reproducing tests.

[2019-09-11 13:04] stealthybox commented on #384
Adding another CNI issue: #423

[2019-09-12 05:55] chanwit opened #424 "Change the Ignite default CNI subnet to avoid collision with Docker 172.18.x.x"
We now have an evidence to show that when setting the CNI bridge to be 172.18, it will eventually collide with a Docker bridge.

From @stealthybox investigation: when the collision happens, users see an message like:
[code]
Which caused by different route entry of the same subnet.
[code]

We'll choose a more appropriate subnet for 0.7.0.

[2019-09-14 11:36] #393 closed

[2019-09-14 11:52] chanwit commented on #423
Adding DNS 8.8.8.8 and 8.8.4.4 directly thru --dns (a pending PR) eliminated this wait.
I'm guessing that what's happening on my machine was probably some services trying to query DNS and failed by timeout.

The workaround is just adding Ignite to wait for the SSH service to start. So we can make sure that the subsequent commands could be able to `ssh`, and `exec` thru the SSH port.

[2019-09-14 12:46] chanwit commented on #401
#421 will be dropped in favor of #427

[2019-09-14 17:44] chanwit commented on #423
@stealthybox If you're OK, I think we could postpone this one to the next release?
If so, we could cut release by Monday and do integration test with other projects (which is higher priority).

[2019-09-16 15:10] stealthybox opened #431 "Release v0.5.3"
Similar to: https://github.com/weaveworks/ignite/issues/379

This requires:
 - [x] Fixing all issues in the v0.5.3 milestone

[2019-09-16 20:17] stealthybox opened #432 "Release v0.6.1"
Similar to: https://github.com/weaveworks/ignite/issues/379

This requires:
 - [x] Fix all issues in the v0.6.1 milestone
 - [x] Make sure it's possible to upgrade from an existing v0.6.0 installation
 - [x] Update the version to install in `installation.md` to v0.6.1
 - [x] Update docs to reflect the current state
 - [x] Update the roadmap

[2019-09-16 23:01] stealthybox commented on #431
Note, modules were calculated with a newer version of go:
https://github.com/weaveworks/ignite/pull/433

[2019-09-16 23:02] stealthybox commented on #431
https://github.com/weaveworks/ignite/releases/tag/v0.5.3

[2019-09-16 23:02] #431 closed

[2019-09-17 00:16] #423 closed

[2019-09-18 18:45] stealthybox opened #436 "CNI adds significant startup time"
In `v0.6.0`, containerd+cni measures faster than docker+cni.
However, using both with cni is notably slower than docker+docker-bridge. (`0.5s - 0.85s`)

There appears to be no notable perf regression between `v0.5.2` and `v0.6.0` for docker+docker-bridge.

[code]

[code]

I suspect this is because we start the containerd task and setup CNI in a serial, blocking manner. Maybe it could be improved b

[2019-09-19 01:10] stealthybox opened #437 "DHCPv4 DNS incorrect on host /w systemd-resolved using --runtime=containerd"
Currently, the containerd runtime indiscriminately mounts `/etc/resolv.conf` into the container.

On an Ubuntu host using `systemd-resolved`, this will break because `/etc/resolv.conf` points to the NS proxy systemd-resolved running @ `127.0.0.53`/`::ffff:127.0.0.53`.

It's important that we mount a working `/etc/resolv.conf` into the runtime container's mount namespace, because `ignite-spawn` wil

[2019-09-19 01:27] stealthybox opened #438 "Consider disabling DNS resolution for the ignite-spawn container"
It's not actually important for any process in the `ignite-spawn` container to have DNS resolution. This actually increases the attack surface of a vm breakout, as many attacks find control servers and even ex-filtrate data using DNS alone.

We should consider making DNS resolution impractical since we have no need for it.
We can load our `dns.ClientConfig` from a different file in the container.

[2019-09-19 02:14] stealthybox opened #439 "Consider read-only rootfs for ignite-spawn runtime containers"
If you have access to the `ignite-spawn` container, you're a root user with write-access to many files.

I don't think this is necessary for any `ignite-spawn` functionality, so we should consider locking it down.
Anything that actually needs to be writable can be done with mounts.
_____________
Basically, we should modify the container specs so that this isn't possible:

containerd:
[code]

docke

[2019-09-19 03:38] stealthybox opened #440 "Support IPv6 nameservers with DHCPv6"
Currently, we are using this DHCPv4 implementation:
https://godoc.org/github.com/krolaw/dhcp4
This has the limitation of only supporting IPv4 DNS servers.

This looks like it might be a good candidate for DHCPv6:
https://godoc.org/github.com/insomniacslk/dhcp/dhcpv6

The modifier functions look easier to work with.
`WithDomainSearchList()` takes `[]string` instead of a single slice of `[]byte`.
`W

[2019-09-19 03:50] stealthybox commented on #315
Some defaults and values that could be configurable:
[code]
These can be overridden by flags or the appropriate field in an Ignite VM API object.

[2019-09-19 04:06] stealthybox commented on #229
+1
This would a great feature to support for all of our informational commands.

In the meantime here's a jq solution that might be helpful for somebody:
[code]
[code]

[2019-09-19 04:23] stealthybox commented on #54
related #365

[2019-09-19 09:27] stealthybox commented on #315
Just brainstorming:
[code]
[code]

[2019-09-19 13:51] #437 closed

[2019-09-20 06:35] stealthybox opened #443 "Documented install breaks docker-ce .deb installations"
This is because we document that users install `containerd` from the default ubuntu apt repos.
`docker-ce` uses its own version called `containerd.io`.

These packages conflict and installing one will stop the other from running which naturally kills dockerd as well.

We can prevent this by checking for `which containerd` before installing the recommended package.

[2019-09-20 06:36] stealthybox commented on #384
Also see #436 regarding CNI startup time

[2019-09-20 07:16] #401 closed

[2019-09-20 07:16] #418 closed

[2019-09-20 07:42] chanwit opened #445 "Update containerd to 1.3.0-rc.2"
Currently `containerd` used by the project is a `beta` one.
We should update the containerd dependency to the more stable version.

[2019-09-20 12:00] #407 closed

[2019-09-20 12:47] chanwit commented on #228
/contributor-assign @najeal
Thank you for looking at it :-)

[2019-09-20 16:40] najeal opened #447 "Add preflight command"
We run the preflight mechanism when invoking `ignite run`. We should have `ignite preflight` command to let the user just check the preflights

[2019-09-20 16:47] najeal opened #448 "Improve user vision about ignite"
It would be nice to add some information about ignite to teach the user why he should use ignite and what happens behind.
For example:
- Explain what are the major positive points using Ignite instead of Firecracker directly
- Add more information on the achitecture layers (I know there is already an architecture schema, but maybe we can improve it) to explain how it works. Maybe add schema about

[2019-09-20 22:33] stealthybox commented on #447
Thanks -- I agree
@chanwit also suggested this feature

[2019-09-20 22:35] #445 closed

[2019-09-20 23:07] stealthybox opened #449 "pkg/runtime Bind{} should support read-only"
If you are in the `ignite-spawn` container, you have root and can change host files like `/etc/resolv.conf` using ignite `<= v0.6.1 || v.0.5.3`.

The `Bind` interface should be updated to support `ro`/`rw` or arbitrary mount options.
IMO specifying this should be required.

[2019-09-20 23:11] stealthybox commented on #424
+1 :+1:
more detail:
For this to occur, the default ignite CNI bridge should not exist.
Then the first docker network you create will collide:
[code]
[code]

[2019-09-20 23:22] stealthybox opened #450 "`ignite vm rm` doesnt cleanup CNI"
Follow-up to #442

@chanwit and I tested that the `CNI-FORWARD` rules per-vm are cleaned up on `ignite vm stop`.

However, I noticed this doesn't happen on `ignite vm rm`.
We could also check CNI state on vm removal and remove if necessary.

[2019-09-21 07:51] najeal commented on #447
Yep I talked with @chanwit , he asked to create the issue

[2019-09-22 14:05] Strum355 commented on #401
Issue has been resolved :+1: Theres still an issue where ignite (or whoever responsible) picks a subnet that conflicts with a docker subnet however, but i think theres an open issue for that already

[2019-09-22 15:57] chanwit commented on #401
yes, we have a plan to change subnet in 0.7.0.

However it's a breaking change, so 0.6.1 still uses the same subnet with documented as it might collide with a Docker bridge network.

[2019-09-23 14:39] chanwit commented on #447
/contribute-assign @najeal

[2019-09-23 20:04] stealthybox opened #455 "Change the default cni0 bridge name to ignite0"
Configuring this bridge will inconveniently collide with many CNI examples.
It's best to use our own bridge name.

Related #424

[2019-09-23 20:04] #443 closed

[2019-09-24 05:31] stealthybox opened #457 "Release v0.5.4"
Similar to: https://github.com/weaveworks/ignite/issues/431

This requires:
 - [x] Fixing all issues in the v0.5.4 milestone

[2019-09-24 05:31] #457 closed

[2019-09-24 12:47] chanwit commented on #410
@stealthybox could we split this into sub issues for Hacktoberfest?

[2019-09-25 17:14] imazik commented on #440
@stealthybox  @chanwit I would like to give this a try.

[2019-09-25 18:59] chanwit commented on #440
Surely, yes. Thank you @imazik !

[2019-09-25 19:00] chanwit commented on #440
/contributor-assign @imazik

[2019-09-25 23:06] stealthybox commented on #229
Also applies to `ignite vm ls`

[2019-09-26 01:04] stealthybox commented on #424
Here's how to see the finite list of subnets docker will automatically use for networks with the default IPAM:
(note that it skipped `172.18.0.0/16` because docker noticed I'm already using it for ignite)
[code]

[2019-09-26 16:35] #424 closed

[2019-09-26 16:35] #455 closed

[2019-09-27 13:17] lucidprogrammer opened #462 "Ignite vm stop/rm - iptables: Too many links"
This issue is not in the commit. 4966569dfa77d653beef9bb552785183f41fe001

Ignite version: version.Info{Major:"0", Minor:"6+", GitVersion:"v0.6.0-84+292dd05b1b9389", GitCommit:"292dd05b1b938928d735c9977ac7ae48097b4d2b", GitTreeState:"clean", BuildDate:"2019-09-27T10:07:45Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}
Firecracker version: v0.18.0
Runtime: containerd

[code]

If I

[2019-09-27 13:29] chanwit commented on #462
Thank you @lucidprogrammer for reporting!!

It seems being addressed by https://github.com/weaveworks/ignite/pull/461 ? cc @stealthybox

@lucidprogrammer If you think it's a new bug, could you please provide us steps to reproduce.
I'm guessing you're creating massive number of VMs?

[2019-09-28 03:05] lucidprogrammer commented on #462
yes it seems the same issue.

thats the idea!! :-)

[2019-09-28 15:12] chanwit opened #463 "Update containerd to 1.3.0"
Containerd 1.3.0 released.
https://github.com/containerd/containerd/releases/tag/v1.3.0

[2019-09-28 23:48] #463 closed

[2019-09-30 15:06] stealthybox commented on #462
@lucidprogrammer, I was seeing this before I wrote #461 -- it happens when CNI is instructed to remove rules for a cni network name that does not exist. (the comment that's used to match is incorrect)

Can you try it out a new build and check if you're still having this problem?

[2019-09-30 17:12] stealthybox commented on #287
@taqtiqa-mark Thanks for putting these detailed issues together :wave:

The ignite equivalent of `vagrant box add` is:
[code]

Ignite also depends on the container runtime having `weaveworks/ignite:${version}` available.
This container image is use to start the `ignite-spawn` sandbox required for all vm's.

If you have the VM base image and kernel images imported, and the runtime has the sandbox i

[2019-09-30 17:32] stealthybox commented on #220
issue TODO:
- post here what current behavior is

implementation:
Failing fast could happen in a few places here
- after importing the base or kernel image, print a warning or error
- while or after creating the vm rootfs
- when or before the ignite-spawn container starts
- when or before the ignite-spawn process starts firecracker

[2019-09-30 17:34] stealthybox commented on #202
related -- could this be used for running machines with `docker buildx`?

[2019-09-30 17:38] stealthybox commented on #196
Comment about cleaning up firecracker socket:
https://github.com/weaveworks/ignite/pull/132#issuecomment-512779699

This should be looked into

[2019-09-30 17:40] stealthybox commented on #191
Just noting here that we can have good default logic for this when the user provides a name but no UID.

However, if a user provides a UID, we should use it.

[2019-09-30 17:45] stealthybox commented on #82
Umbrella: #410
_________________

@morph027 began work on this using fpm -- thanks!

    "btw...me being lazy has created apt repos for ignite/footloose to get the latest updates without curl'ing all the time:"
    https://gitlab.com/packaging/ignite/
    https://gitlab.com/packaging/footloose

[2019-09-30 17:46] stealthybox commented on #60
I suppose this would be a modification of the in-container `ignite-spawn` code

[2019-09-30 17:50] stealthybox commented on #60
One question I would have:
Is this included in the API?  If so, it's possible to describe via gitops -- That means the state of --rm should be respected when the vm is stopped, and the API object should not be deleted.

Perhaps this is just a command helper that isn't compatible with the API declarations and gitops.

The two mechanisms I can think of for passing state to the `ignite-spawn` process

[2019-10-01 01:01] lucidprogrammer commented on #462
@stealthybox current commit 03baaa9c8152f4ae464f950bcbfef09c55c9ffae works fine.
It will be ideal if the ip address in /var/lib/cni/networks/ignite-cni-bridge/last_reserved_ip.0 is rolled back when a vm is removed or stopped.

[2019-10-01 03:01] #462 closed

[2019-10-01 04:31] chanwit commented on #432
Maybe add an extra item above to merge all changes into its release branch ?

[2019-10-01 23:43] lucidprogrammer opened #465 "could not parse image with a tag: image based on digest fails"
Looks like we cannot create VM based on a specific image hash.
`
sudo ignite launch weaveworks/ignite-kubeadm@sha256:928f55c6162a50d3278e334ac0d7a6e0bf7c765d9c6dd835b935f0ca73e398ca \
    --cpus 2 \
    --memory 1GB \
    --ssh \
    --name master-1
FATA[0000] could not parse image "weaveworks/ignite-kubeadm@sha256:928f55c6162a50d3278e334ac0d7a6e0bf7c765d9c6dd835b935f0ca73e398ca" with a tag
`
It w

[2019-10-02 01:57] chanwit commented on #465
Thank you for reporting!

[2019-10-02 06:32] uLan08 commented on #402
I'd like to work on this.

[2019-10-02 06:43] chanwit commented on #402
sure @uLan08

[2019-10-02 06:44] chanwit commented on #402
/contributor-assign @uLan08

[2019-10-02 07:03] uLan08 commented on #402
Any tips on where to start looking?

[2019-10-03 00:01] stealthybox commented on #432
I updated the install docs after the tag, so the version change only shows up on `latest`, not `stable`:
- https://ignite.readthedocs.io/en/stable/installation.html#downloading-the-binary
- https://ignite.readthedocs.io/en/latest/installation.html#downloading-the-binary

[2019-10-03 00:01] #432 closed

[2019-10-03 18:02] stealthybox commented on #465
`ignite launch` is not a valid subcommand, but I am able to reproduce this with `ignite run`:
[code]

[2019-10-04 05:16] stealthybox commented on #465
I've begun working on this.
#467 allows us to do some functional testing.

I fixed the parser on this branch:
https://github.com/stealthybox/ignite/blob/fix-oci-ref/pkg/apis/meta/v1alpha1/image.go

Just chasing down runtime issues now.

[2019-10-07 00:06] taqtiqa-mark commented on #287
Thanks for the feedback.  I'm still getting my head around the best way to tackle this:
[code]
Presumably, both result in some artifacts stored on the local HDD?
If so, what does that folder/file manifest look like and will it be stable, or ignite version dependent?

If `vagrant box add <...>` replicated that folder/file structure would ignite be happy, or abdend at launch time?

[2019-10-07 18:49] stealthybox opened #472 "Cleanup error handling for SSH dial"
#469 introduced some quick error handling for the ssh.Dial result.

These conditionals work fine since this should almost always return an expected error, but some of the branches are incorrect.

The final return case is actually a success of the SSH connection. (This is unexpected, and should probably warn the user that an insecure password succeeded)

There may be a better way to auth this conne

[2019-10-08 02:29] #472 closed

[2019-10-10 23:18] stealthybox commented on #287
I imagine `vagrant box add` should exec `ignite` and pass the box reference as an OCI image argument to the command.
Were you thinking something else?

How do the docker vagrant runtimes work with images?

[2019-10-10 23:30] stealthybox opened #476 ""Bin docker is not in your path" when using --runtime=containerd"
@sbernheim ran into this bug with a Chromebook running Linux
(GalliumOS/xubuntu amd64)

He reports that we only had containerd installed.
This makes sense and should work without producing this error during `ignite run`:
[code]
We may have missed this since we're always developing and testing on machines with both runtimes.

______________________
Full trace:
[code]

[2019-10-11 04:55] taqtiqa-mark commented on #287
The docker provider in vagrant doesn't use a Box file.  It'll either take:
- Path to a Dockerfile.
- image name.
- gitrepo refe toa Docker file.

I'd like the ignite provider to be independent of Docker as far as possible (what is possible being defined by ignite core).  Ideally the provider should Ignorant of the container lauch mechanism - Ignite upstream can change that and (assuming the local

[2019-10-11 16:20] chanwit opened #477 "prepare a preloaded centos image for firekube"
As a user,
I need a preloaded centos image
so that wksctl / firekube bootstrapping process can be faster than using a vanilla centos

[2019-10-24 15:07] alizowghi opened #482 "How set static ip to vms?"
Hi
How can i set public ip or internal static instead of dhcp ?

[2019-11-04 18:47] #476 closed

[2019-11-05 11:55] stealthybox commented on #345
To clarify, our manifest list references the `-arm64` image properly, but the image itself has metadata for the wrong OS:
[code]

We also have another subtle issue.
Our manifest list currently specifies:
[code]

The second descriptor should probably also specify the arm64 variant:
ie: `linux/arm64/v8`

Compare `ubuntu:latest` with our `os/arch/variant`:
https://hub.docker.com/r/weaveworks/ignite/t

[2019-11-06 05:35] palemtnrider opened #484 "Ignited gitops fails to handle new view added to GitHub"
I'm running `ignited gitops git@github.com:myorg/myrepo.git` and when I add a new VM definition to the repo, the ignited gitops process fails with

FATA[0505] The GitOps commit loop terminated with an error git commit and/or push error: no changes made in repo

`ignited gitops` needs to correctly handle changes to the repo contents.

My guess is that ignited updated the repo with status informatio

[2019-11-07 03:54] palemtnrider opened #485 "prometheus socket left open after ignited gitops terminates"
While running `ignited gitops` a prometheus socket is opened but not closed on termination.  This causes errors on subsequent runs if the user doesn't remove the /var/lib/firecracker/daemon.sock file.

Firecracker version: v0.18.0
Runtime: containerd

[2019-11-07 16:10] chanwit commented on #484
Thank you @palemtnrider
I'm looking at it

[2019-11-08 18:38] chanwit commented on #484
@palemtnrider we need to look at `gitops-toolkit` repo to fix this issue.

[2019-11-11 16:45] palemtnrider opened #487 "Update Makefile so the default is to build ignite, ignited, ignite-spawn for the machine architecture"
Currently the makefile defaults to only building ignite.

[2019-11-11 16:47] palemtnrider opened #488 "Update docs around containerd to include the firecracker namespace"
Several people have asked questions around not seeing containers running and not seeing images when working with the containerd runtime.  We need to update the docs to include the namespace when interacting with containerd.

[2019-11-11 17:09] teaguecole opened #489 "make tidy should run in a container by default"
`make tidy` currently runs directly on your host relying on the tools and their respective versions.  While there is `make tidy-in-docker`, it is not documented.  Let's either replace `make tidy` in the documentation with `make-tidy-docker` or change the functionality of `make tidy` to be  containerized.

[2019-11-11 17:13] #485 closed

[2019-11-11 20:29] #488 closed

[2019-11-11 22:08] #487 closed

[2019-11-11 22:43] palemtnrider opened #493 "Ignite run in dev env using git has instead of dev for container"
I'm trying to run ignite from a locally built environment but it fails to locate the container image because it uses the git hash as the tag instead of dev.
[code]

[2019-11-11 23:24] #228 closed

[2019-11-11 23:58] palemtnrider commented on #493
With a clean source envionrment I'm no longer able to reproduce this.  I'll leave it open in cause someone else is able to reproduce it.

[2019-11-13 21:49] gpauloski commented on #440
@imazik @chanwit Is this still being worked on? I would like to work on it as well.

[2019-11-13 21:50] gpauloski commented on #419
@chanwit I would like to work on this.

[2019-11-14 08:48] chanwit commented on #419
/contributor-assign @gpauloski

[2019-11-15 20:55] mprey commented on #253
I could help on this issue. Have the specific improvements been updated in the initial PR body? I see the list as it is now, but not sure if some of those have been fixed or marked off with all the commits following the initial PR.

Thanks.

[2019-11-16 03:45] BenTheElder commented on #253
I didn't manage to get back to this 😞  I'm not sure if anyone else did.

[2019-11-23 21:14] mprey commented on #489
Hello, I can tackle this issue for you. Did you decide whether you wanted to replace make tidy in the documentation or the functionality?

[2019-11-23 21:15] mprey commented on #436
Hello, I would be interested in working on this issue. Do you have any initial pointers for profiling the time lost?

[2019-11-27 21:15] teaguecole commented on #489
Hey @mprey glad to see you are interested. I am a newbie here but I will try to help. Let me bring in @stealthybox as he has more expertise about this.  What I would say is that from what I understand, what the typical contributor will actually want to do is `tidy-in-docker` but the docs don't match.  So the easier route would be to understand the functionality of tidy and tidy-in-docker  and corr

[2019-11-27 21:46] teaguecole commented on #489
Also apologies for not getting back to you until 4 days later!!!  Got caught up with other work stuff etc. you know! :)

[2019-12-05 03:57] AydamiroV commented on #489
Hey @teaguecole! I am in the group with @mprey. I am trying to start on the issue, however, I am not quite sure where to start from. Could you, please, give me some hints? Thanks!

[2019-12-05 19:43] burningion opened #496 "Installation instructions broken with 0.6.x release being latest"
The installation instructions here don't work with `0.6.2` being the latest release.

Following instructions here:

https://ignite.readthedocs.io/en/stable/installation.html#downloading-the-binary

There are no binaries built for the `0.6.2` release, and hence, breaks the installation instructions.

For anyone currently stuck on trying to install binaries, `0.5.5` seems to be the last binary relea

[2019-12-10 07:05] stealthybox opened #500 "v0.6.1 and v0.6.2 binaries and builds cannot pull ignite-spawn images"
On November 27th, the Firecracker team privately disclosed CVE-2019-18960 to us.
This security bug is an improper bounds-check, exploitable by firecracker guests using vsock.

We did determine that ignite was unaffected as the vulnerable vsock feature is currently unused in ignite.

We responded hastily and as a result of an internal miscommunication, we removed release binaries from GitHub and do

[2019-12-10 07:16] stealthybox commented on #496
Hi @burningion :wave:
Thank you so much for reporting this, and documenting the workaround.
We appreciate this as maintainers and this issue is super useful for users.

We've been frustratingly silent on this issue, as it relates to a security embargo for a CVE that is now public.

Please see #500 for full details on how this happened.
Please comment there if you need v0.6.1 or v0.6.2 artifacts re

[2019-12-10 17:27] burningion commented on #496
Thanks for the great response @stealthybox!

[2019-12-10 17:27] #496 closed

[2019-12-14 11:55] shinebayar-g opened #504 "How to re-run stopped VMs?"
1. Why `reboot` VMs doesn't work?
2. How can I re-start stopped VMs?
[code]

[2019-12-15 18:45] supra08 commented on #33
Is this issue still worked on? I was hoping to work on a Golang Ignite client and use it as a library in my project.

[2019-12-16 12:47] chanwit commented on #33
@supra08 contribution is welcome!

[2019-12-16 20:30] supra08 commented on #33
Oh great! I would love to. It could be of help if I could know how much has been already worked on. Apart from this, what are the expections regarding this issue from weaveworks.

[2019-12-16 22:13] #500 closed

[2020-01-16 22:44] stealthybox commented on #440
@gpauloski no it's not received any updates.
Please work on this if you still have the desire and bandwidth :)

[2020-01-21 18:37] darkowlzz commented on #402
Hi, I got curious about this issue, debugged and found a few problems that are related to tiny images and the images made from scratch.
When a very small image is imported, the filesystem file (in `/var/lib/firecracker/image/`) that's created based on the image source size is also small. In case of `hello-world` image, it's so small that mkfs that's run on the filesystem file fails with the follow

[2020-01-24 22:41] rugwirobaker opened #508 "[ISSUE] [ERROR ]: Bin strings is not in your PATH on CGP"
## Expected behavior

Start an ignite vm on on a GCP instance following the example given at https://blog.kubernauts.io/ignite-on-google-cloud-5d5228a5ffec

## Actual behavior

The vm refuses to start and I get the following error:
[code]

## Further investigation
[code]
[code]
## More context
1. ignite version: `v0.6.3`
2. Firecracker version: `v0.18.1`
3. cni version: `v0.8.2`
4. Machine : `ubun

[2020-01-25 12:44] rugwirobaker opened #509 "DNS misconfiguration in GCP custom nested virtualization image"
**Context**
* Ignite: v0.6.3
* 18.04: GCP custom image via
[code]
notice that I changed 1604-lts --> 1804-lts

* weaveworks/ignite-kubeadm:latest-v0.6.3

**Steps**
* install  Ignite: v0.6.3
* Run Test VM
 ignite run weaveworks/ignite-kubeadm:latest-v0.6.3 \ --cpus 2 \ --memory 8GB \ --ssh \ --name vm
* ignite ssh vm
* Test for Empty /etc/resolv.conf
`[ -s /etc/resolv.conf ] || echo '/etc/resolv.co

[2020-01-25 12:45] rugwirobaker commented on #508
It seems I was the one who missed a dependency during the installation

[2020-01-25 12:45] #508 closed

[2020-01-25 15:35] rugwirobaker commented on #509
I was trying to **Run kubeadm in HA mode with Ignite** VMs by the wa. As per this tutorial https://github.com/weaveworks/ignite/tree/master/images/kubeadm. The kubelet failed health checks even though it's clearly running:

[code]

[2020-01-27 16:33] stealthybox opened #510 "Concurrent VM Startup fails"
When creating multiple vm's concurrently, there appears to be a race and/or contention that causes panics.

We've known about this for a while, but may have not ever created an issue.
Users have been working around this by doing strictly serial creation of vm's in their automation/integration.

This is potentially rrelated to our Mount code :))
This is easiest to reproduce with large numbers of vm

[2020-01-27 18:12] stealthybox commented on #510
This came up on our [2020-27-01 dev call](https://docs.google.com/document/d/1fv8_WD6qXfvlIq7Bb5raCGyBvc42dNF-l8uaoZzoUYI/edit#heading=h.jo7p8vhealoy).
@darkowlzz ran into this building the kind+ignite integration.

We've also been struggling with this in our e2e test framework.
( They have to run in serial to not panic. )

Related Slack report from another user:
https://weave-community.slack.com/

[2020-01-31 15:54] #450 closed

[2020-02-05 21:23] eloycoto opened #519 "Ignite do not copy all files form kernel OCI image"
Hi,

On running the latest ignite, I have a question regarding kernel OCI image and
container.

I'm using the following kernel dockerfile:

[code]

So, If I running ignite with this kernel, I should have the `/opt/sample_file`
folder, but it's not in there.

Should the file be there? AFAIU, the `/lib/modules` and `/boot` are copied from
the kernel vm, so I'm not sure about other files.

[code]

An

[2020-02-06 21:36] taqtiqa-mark opened #520 "Documentation: Which GOOS & GOARCH binaries are downloadable."
This arose in the context of writing specs/tests for a Chef cookbook targeting Ignite - to be released (MIT) once I have green tests....
Which of the `GOOS` and `GOARCH` pairs does WeaveWorks/Ignite-project **provide built binaries for**?  Where "provide" is one of `Current`, `Future`, `TBA`,`Never`.

[Go Source](https://golang.org/doc/install/source#environment):

Could a completed version of the

[2020-02-06 21:47] stealthybox commented on #520
Thanks @taqtiqa-mark.
At the moment ignite only runs on `linux`. This is because of Firecracker's dependency on KVM.

Since 0.5.0, we've always released `amd64` and `arm64` builds:
https://github.com/weaveworks/ignite/releases

KVM has been ported before to other platforms.
There are many other ways to run virt on other platforms.
Ignite currently has no pluggable backend for supporting them.
@lux

[2020-02-06 21:47] #520 closed

[2020-02-06 21:50] taqtiqa-mark commented on #520
OK so all other entries are 'Not planned'?

[2020-02-06 21:53] stealthybox commented on #519
Thanks for playing /w ignite @eloycoto.
`/opt` is used for userland software.
ref: https://www.tldp.org/LDP/Linux-Filesystem-Hierarchy/html/opt.html
That's a pretty separate idea from the kernel.

What are you trying to put into your kernel image, and why is that useful?

Have you thought about distributing that file in the `/opt` dir of your ignite vm's images?

Cheers

[2020-02-06 22:06] stealthybox commented on #509
@rugwirobaker, What exactly is the misconfiguration?
Is your vm missing an `/etc/resolv.conf` like this command implies?
- Test for Empty /etc/resolv.conf
`[ -s /etc/resolv.conf ] || echo '/etc/resolv.conf is empty'`
__________
Do you know if you're using systemd-resolved on the GCP host vm?
We have some code in ignite that detects this, and I'm curious what your host configuration is.

Can you sh

[2020-02-06 22:20] rugwirobaker commented on #509
Thank you for getting back to me.
[code]
and

[code]
**Note**:  the last part of the nameserver was a complete IP. I removed the last part in this snippet on purpose.

[2020-02-06 22:20] stealthybox commented on #520
@taqtiqa-mark yep :+1:

[2020-02-06 22:35] stealthybox commented on #509
I'm guessing your host's nameserver is the GCP metadata server `169.254.169.254`

Cloud DNS reference: https://cloud.google.com/dns/docs/overview#vpc-name-resolution-order

I'm surprised there is no `/etc/resolve.conf` in your guest vm's.
Your `/run/systemd/resolve/resolv.conf` should be equal to the `/etc/resolv.conf` inside of the wrapper containers for your ignite vm's.
DCHPv4 is then used to c

[2020-02-07 01:04] stealthybox commented on #504
Thanks for reporting.
This is probably a bug.
We should write an e2e test and see when it was introduced.

[2020-02-09 18:14] taqtiqa-mark opened #521 "Documentation: Ignite events diagram"
Would be useful to have an "Ignite Events" diagram similar to the [Docker Events](https://github.com/moby/moby/blob/6de4138465f089687b2c860f986616f6cb9f059b/docs/sources/reference/api/images/event_state.png) illustration.

[2020-02-10 17:21] eloycoto commented on #519
@stealthybox

Sorry, my plan was to add kernel sources, also the build info into the kernel image, but only /boot/vmlinux or /lib/ is copied and source is not copied.

Found a workaround, that I'll document in the following days, so this issue can be closed if you consider it! ;-)

[2020-02-12 07:59] bbros-dev commented on #485
@chanwit and @palemtnrider I'm still seeing this behavior:

System `vagrant@service-ubuntu-1804`
[code]

[code]

[2020-02-12 08:01] chanwit commented on #485
Acked. Thank you @bbros-dev for reporting!

[2020-02-12 10:51] rugwirobaker commented on #509
Hello,

Do I ssh into the vm for this?

[2020-02-12 23:11] bbros-dev opened #522 "Documentation: Add working verification instructions to setup instructions."
[Verifying The Installation](https://ignite.readthedocs.io/en/stable/installation.html#verifying-the-installation)
The given test will  pass even when things are borked or incomplete.  Change to:

Verify the ignited daemon is running and monitoring files in `/etc/firecracker/manifests/` (DigitalOcean Region: NCY1, Size: 2GB image):
[code]

Now add some VM details given ([Run Ignite VMs Declarative

[2020-02-13 19:43] bbros-dev opened #523 "Ignite daemon `ignited`: Systemd Type and other service manager config settings?"
We have a Chef cookbook that is getting close to release candidate for version 1.0.
We use service configuration [templates](https://github.com/BegleyBrothers/cookbook-ignite/tree/develop/templates/default) for:
  - `sytemd`
  - `upstart`
  - `sysvinit`
  - `sysconfig`
Targeting platforms:
  - `amazonlinux-2`
  - `debian-9`
  - `amazonlinux`
  - `centos-7`
  - `fedora-latest`
  - `ubuntu-16.04`

[2020-02-14 23:23] till commented on #476
@stealthybox Can you re-open this bug?

---

[code]

[2020-02-17 05:30] stealthybox commented on #509
@rugwirobaker You can't escape the vm into the wrapper-container.
You can use the `ctr` or `docker` command line tools from the host to exec in depending on your runtime:
[code]

[2020-02-17 05:32] stealthybox commented on #519
Thanks @eloycoto, I look forward to reading about your workaround solution.
We'll leave this open until we can decide more clearly. :+1:

[2020-02-19 19:04] nathanielknight commented on #291
I think this feature would make Ignite very compelling for doing git-ops in certain settings (e.g. hobbyists; small-scale, high-assurance environments).

[2020-02-22 23:12] H34V33N opened #527 "failed to setup network for namespace"
Have the same error again and again even on different operating systems. In my case it was Alpinelinux, Debian and Ubuntu where this error occurs after a fresh installation.
<br>
Here demonstrated on an Alpinelinux system
[code]
Ignite Version
[code]

[2020-02-23 04:28] chanwit commented on #527
Thank you for reporting. It seems you have a subnet with 10.61.0.0/x on the machine?
maybe `ip addr` could tell us more about this?

[2020-02-23 20:06] H34V33N commented on #527
Hello, first of all thanks for the quick answer.
<br>
Here is Result:
[code]

[2020-02-24 08:57] bbros-dev opened #528 "Documentation: Integer constraint - diskSize: [size]"
[Current declarative documentation](https://ignite.readthedocs.io/en/stable/declarative-config.html) makes no mention of the integer constraint
[code]

However:

[code]

[2020-02-24 09:00] bbros-dev commented on #528
Syntax error: no spaces allowed between 1.23GB

[2020-02-24 09:22] bbros-dev opened #529 "Documentation: uid format"
[Current declarative documentation](https://ignite.readthedocs.io/en/stable/declarative-config.html) makes no mention of UID required format `^[a-z0-9]{16}$`

[2020-02-24 10:26] bbros-dev opened #530 "Feature: consume RFC4122 UUID values"
consume [RFC4122](https://www.ietf.org/rfc/rfc4122.txt) UUID values.
Example: `2d931510-d99f-494a-8c67-87feb05e1594`

This makes it simple to generate manifest files using builtin/std `uuid` functions in Ruby Python etc.
The use case arises in Chef cookbook recipes when populating manifest templates (erb, etc. etc.).

Likely that similar use cases will exist in Ansible/Python.

[2020-02-24 10:34] bbros-dev opened #531 "Feature: Don't populate VM table if manifest file has syntax error"
Create a manifest file with some syntax error, e.g. say with UID of `b1e70a62-5463-4bc0-8892-dba034f09f70`
The Vm won't start: `ignite ps` is empty

Fix the syntax error:
[code]

[2020-02-24 10:44] bbros-dev commented on #476
We observed this error with and without `--runtime containerd`.  The use case is test-kitchen suites where we are certain docker is not installed - and won't be.

[2020-02-24 11:00] till commented on #476
@bbros-dev I forgot to comment, it seems like "docker-cli" is always needed? The docs are a little confusing, as one of them doesn't mention it. Maybe @chanwit can comment if this is a doc bug or something else.

[2020-02-24 11:10] bbros-dev commented on #476
Thanks @till.
Standing by - @chanwit we are setting up Ubuntu following [these instructions](https://ignite.readthedocs.io/en/stable/installation.html#installing-dependencies).

[2020-02-24 12:10] till commented on #476
@bbros-dev yeah, I got confused by this as well. And then read this, it mentions `docker`:
https://ignite.readthedocs.io/en/stable/dependencies.html

[2020-02-24 12:16] till commented on #476
@bbros-dev I published my _WIP_ Ansible to setup ignite nodes: https://github.com/Luzilla/ansible-ignite

[2020-02-24 14:35] #510 closed

[2020-02-24 20:17] bbros-dev commented on #476
Thanks @till for sharing, our cookbook is [here](https://github.com/BegleyBrothers/cookbook-ignite/tree/develop), `develop` branch, but still not working.

Was _really_ hoping to keep docker cruft off our systems - seems not yet.

[2020-02-24 22:17] bbros-dev opened #532 "Documentation: Howto debug `ignited` behavior"
Document howto debug `ignited` behavior in a running system, e.g. when launched by a service manager:

- Default log location(s)
- What to look for when things are good
- What to look for when things are bad, CNI, runtime, etc. etc.

[2020-02-25 00:08] bbros-dev opened #533 "Documentation: optional kernel module `br_netfilter`"
[Host requirements sub-section](https://ignite.readthedocs.io/en/stable/dependencies.html#host-requirements) should record:

optional `net.bridge.bridge-nf-call-iptables=0` would require kernel module `br_netfilter`

[2020-02-25 00:21] bbros-dev opened #534 "Documentation: Fix kernel module loop check instruction"
In [Host requirements](https://ignite.readthedocs.io/en/stable/dependencies.html#host-requirements)

Clarify the loop module must be built in and not loaded.  As the documentation stands, on Ubuntu 18.04, the documented command `modprobe -v loop` returns nothing.

Suggestion:

Verify `loop` module is built into your kernel:

[code]

[2020-02-25 08:34] MaxiDelever commented on #527
I have the same problem under Debian, is there already a solution?

[2020-02-25 14:35] nbrownuk opened #535 "Failed boot of Ignite VM"
I've successfully created and imported a kernel based on v5.3.18 source (using the [Makefile](https://github.com/weaveworks/ignite/blob/master/images/kernel/Makefile))

[code]
and a Ubuntu image based on 19.10 (using the [Dockerfile](https://github.com/weaveworks/ignite/blob/master/images/ubuntu/Dockerfile))

[code]

The image contains the correct symlink to `/lib/systemd/systemd`

[code]

and the

[2020-02-26 18:48] MaxiDelever commented on #527
@chanwit Do you have any idea how to fix it?

[2020-02-28 00:28] bbros-dev opened #542 "JSON or YAML manifests?: Ignoring "/etc/firecracker/manifests/test.yml": error unmarshaling JSON: whi le decoding JSON: invalid syntax"
Trying to debug daemon launch, I got this surprise:

[code]

[2020-02-28 00:30] bbros-dev commented on #485
Can you please re-open this so status can be tracked?

[2020-02-28 01:07] bbros-dev opened #543 "unexpected character: , error found in #10 byte of ..."
A previous error message from Ignite indicated the uid must satisfy the regexp `^[a-z0-9]{16}$`. See issue #529. Also related to issue #522 - i.e the need to provide a `uid` value is contra the documentation.

The manifest below does satisfy that regexp, but the daemon reports this error:

[code]

The manifest `test.yml`:

[code]

[2020-02-28 01:14] bbros-dev commented on #542
The way to reproduce this error:

1. Take the manifest in issue #543
1. Change the `uid` to (i.e. remove "):
[code]
1. copy to `/etc/firecracker/manifests`
1. `sudo /usr/bin/ignited daemon --network-plugin cni --runtime containerd --log-le
vel debug`
1. You should see (the prometheus error is issue #485):
[code]

[2020-02-28 02:04] bbros-dev commented on #543
**@#$%^&*!@!**

No the manifest is not yaml format.

Despite [everything written here](https://ignite.readthedocs.io/en/stable/declarative-config.html).

While I know nothing oabout Go, digging into the code I saw suspicious amount references to json.

On a hunch I tried this for the manifest:

[code]

Then running:
[code]

Which passes as successful:

[code]

So which is it to be JSON or YAML?

[2020-02-28 02:06] bbros-dev commented on #542
Related to issue #543
Really the parser should have complained at the first line - doesn't Go have a std json/yaml linting library?

[2020-02-28 03:44] bbros-dev commented on #392
We have a test cookbook setup with test-kitchen harness in which it would be simple to write e2e test cases.

I believe these could have avoided a lot of the existing broken/undocumented behavior.

The issue is the cost of firing them up using cloud providers - currently Digital Ocean - everytime the CI/CD prcess runs.  Of course this ensures behavior isn't broken as well as no regressions are int

[2020-02-28 05:04] bbros-dev opened #544 "ignite vm run --config <file.json>: snapshot <hash> does not exist: not found"
When I deposit a json manifest in `/etc/firecracker/manifests/` say `smoke-test.json` shown in issue #543 ([here](https://github.com/weaveworks/ignite/issues/543#issuecomment-592274041)) and also below, the `ignited daemon` at least now picks it up and populates the `ignite vm ls` table and the `ignite pa --all` shows it is in a `Stopped` state.

If I try to run the VM directly, I observe the foll

[2020-03-01 04:48] bbros-dev opened #545 "Documentation: Add links to ansible-ignite and cookbook-ignite"
Based on experience, using the documentation to:

1. Get Ignite setup: not trivial.
1. Verify the setup is correct: more fraught.

We believe the users path of least pain is:

1. Have the Ansible playbook [Luzilla/ansible-ignite](https://github.com/Luzilla/ansible-ignite) and our Chef [library cookbook](https://github.com/BegleyBrothers/cookbook-ignite) be the recommended install paths on the [Ins

[2020-03-01 05:30] bbros-dev opened #546 "Docker stub required when using containerd and cni"
As commented on Slack ( see [1] and [2]), as of version 0.6.3 a Docker stub is required even when not using docker and only using containerd and cni.

[1]: https://weave-community.slack.com/archives/CL1A4S5UJ/p1580744703037200
[2]: https://weave-community.slack.com/archives/CL1A4S5UJ/p1580745314038700

[2020-03-02 01:16] bbros-dev commented on #542
There is an e2e regression test for this issue in [BegleyBrothers/chef-ignite](https://github.com/BegleyBrothers/chef-ignite)
 - The recipe replicating the setup [issue-542.rb](https://github.com/BegleyBrothers/chef-ignite/blob/master/test/cookbooks/ignite_test/recipes/issue-542.rb)
 - The inSpec controls describing the state/behavior [issue-542](https://github.com/BegleyBrothers/chef-ignite/tree/

[2020-03-02 07:55] bbros-dev opened #547 "`ignite vm rm <uid>` reports success, but VM is not removed."
From the `**....**` below you'll notice the VM is not removed:

`sudo ignite vm rm <uid>` reports success, twice, but VM is not removed.

[code]

[2020-03-02 12:44] bbros-dev opened #548 "Documentation: Removing the Installation - can't find VM: no ID/name matches for "time="
Following the documentation [Removing the Installation](https://ignite.readthedocs.io/en/stable/installation.html#removing-the-installation):

[code]

However:

[code]

[2020-03-02 12:57] bbros-dev commented on #546
Docker is an absolute requirement as of v0.6.3. Not sure what the Slack users are working from possibly `HEAD`?  Keeping this open since there will need to be regression tests cases around this.

[2020-03-02 13:38] bbros-dev opened #549 "Device /dev/ptp0 not available by default (c.f. upstream)"
[Here Ignite indicates](https://github.com/weaveworks/ignite/blob/edfdea71fe14e56912fb402b337522dd2db71cef/images/kernel/config-patches#L14) it has deviated from upstream (Firecracker) to avoid the timing issue discussed [here upstream](https://github.com/firecracker-microvm/firecracker/blob/master/FAQ.md#my-guest-wall-clock-is-drifting-how-can-i-fix-it).

However, it doesn't appear to have the de

[2020-03-02 16:35] stealthybox commented on #315
For the `ignite` tool since we do not yet have a complete daemon architecture, we could load this configuration file from some well known paths:

`/etc/ignite/runtime.yaml`
related XDG_CONFIG_HOME for root user?

[2020-03-02 23:43] #533 closed

[2020-03-02 23:43] stealthybox commented on #533
Solved in #540

[2020-03-02 23:44] #534 closed

[2020-03-02 23:44] stealthybox commented on #534
Thanks

[2020-03-02 23:46] stealthybox commented on #528
I can reproduce this issue.
My gut is that we should fix the parser.

[2020-03-03 10:45] bbros-dev commented on #534
In getting Debian-10 to pass the integration tests we noticed that the `modprobe -v loop` fell silent after the first use.  It seems a robust approach is `lsmod | grep loop` for kernel modules not built in.

[2020-03-03 10:49] bbros-dev commented on #528
Yeah, I'm leaving this to your unit test suites, and rather keep the integration tests at the integration of:

1. daemon
1. service manager
1. firecracker

[2020-03-03 15:11] bbros-dev commented on #546
Closing this because it now appears that Docker is an absolute requirement - even if you use `containerd` and `cni` when launching a micro-vm.... Ignite uses docker in the background :(

[2020-03-03 15:11] #546 closed

[2020-03-03 19:05] stealthybox commented on #549
@bbros-dev, are you experiencing this with a build of your own kernel from ignite master?

In order to do so, you'd need to run a VM with your own `--kernel-image` set.

We haven't published builds of the new kernel in master yet as we still have some things to work out for ARM support.

[2020-03-03 22:57] bbros-dev commented on #544
I've think deduced that this issue is due to not having Docker installed.

I believe this error message should be and error message that a Docker (etc.?) is required even if you are only using `containerd` and `cni` packages/tools.

[2020-03-04 05:16] bbros-dev commented on #549
Apologies for not posting earlier.
From `ignite vm` -> `weaveworks/ignite-kernel:4.19.47`

[2020-03-04 20:14] darkowlzz commented on #547
Hi, thanks for reporting this. Do you have steps to reproduce this issue? More info about your ignite setup would be useful.
It looks like your VMs were in stopped state before you tried to delete them. Maybe something went wrong while stopping the VMs?
Passing `--log-level debug` in the commands can give some more detail about what's going.

[2020-03-04 20:17] darkowlzz commented on #547
Also, I noticed that the VMs have the same name. How did you create them?

[2020-03-04 20:29] darkowlzz commented on #548
Hi, in your commands above, it looks like `ignite ps -aq` is unable to run properly because the `sudo` of the parent command is not effective on the subcommand. The commands in the docs are run as root (root prompt `#`). Running the whole command as root seems to work properly.

[code]
And running as a normal user with sudo fails:
[code]
Hope this helps.

[2020-03-04 20:36] darkowlzz commented on #535
Looks to be related to https://github.com/weaveworks/ignite/pull/526
Have you tried running with Ubuntu 18.04 image (`weaveworks/ignite-ubuntu`)?

[2020-03-05 11:43] nbrownuk commented on #535
Yes, `weaveworks/ignite-ubuntu:18.04` runs OK, and I'm able to create my own version of an `18.04` image. Seems a very similar problem to #526. Is that PR to be merged?

[2020-03-05 12:54] #548 closed

[2020-03-05 12:58] bbros-dev commented on #547
From memory.... the VM's were created by editing the manifest file in `/etc/firecracker/manifests`.
This was around the time:

1. the `ignited` installation was incomplete because it did not have docker installed - trying to keep that off our systems, but it seems the ignite is not usable without it. For the moment.
1. The manifests were, following the documenttaion, in YAML. But then I switched t

[2020-03-05 13:23] bbros-dev commented on #485
bump @chanwit - is there a reason this shouldn't be reopened?

[2020-03-05 13:38] bbros-dev commented on #315
I'd say this belongs in XDG_DATA_HOME: `~/.local/share/ignite`, and the XDG_CONFIG_HOME would contain the much simpler configuration defaults such as:
[code]

What goes where?

- XDG_CONFIG_HOME: configuration that does **not** influence the specification/behaviour of the micro-VM
 - XDG_DATA_HOME: configuration that **does** influence the specification/behavior of the micro-VM

[2020-03-05 14:07] bbros-dev opened #554 "Convention over configuration"
While ignite is young and fluid...
It might be worth considering adopting 'certain' conventions-over-configuration for other 'certain' things.
Then spell out explicitly and emphasise the Ignite conventions.

Example:
Take this silly suggestion ;) [here](https://github.com/weaveworks/ignite/issues/315#issuecomment-595233883), to allow for configurable manifest paths.  Nuts.

An alternative is to ad

[2020-03-05 15:45] bbros-dev commented on #554
Firecracker has a constrained 5 device model: virtio-net, virtio-block, virtio-vsock, serial console, and a minimal keyboard.  We should exploit that.

Already I find my self irritated at having to do a couple of things:

1. open a file to recall something about the configuration of mem, cpu, hdd
2. Go back into the architecture notes/diagrams to be confident about the dependency order or indepede

[2020-03-09 00:03] bbros-dev commented on #554
Closing.  Following a review, we will not be using ignite outside of developer personal workflows, so won't be able to devote any time to issues outside of that scope.

[2020-03-09 00:03] #554 closed

[2020-03-09 00:03] bbros-dev commented on #547
Closing.  Following a review, we will not be using ignite outside of developer personal workflows, so won't be able to devote any time to issues outside of that scope.

[2020-03-09 00:03] #547 closed

[2020-03-09 00:04] bbros-dev commented on #549
Closing.  Following a review, we will not be using ignite outside of developer personal workflows, so won't be able to devote any time to issues outside of that scope.

[2020-03-09 00:04] bbros-dev commented on #545
Closing.  Following a review, we will not be using ignite outside of developer personal workflows, so won't be able to devote any time to issues outside of that scope.

[2020-03-09 00:04] #545 closed

[2020-03-09 00:04] bbros-dev commented on #544
Closing.  Following a review, we will not be using ignite outside of developer personal workflows, so won't be able to devote any time to issues outside of that scope.

[2020-03-09 00:04] #544 closed

[2020-03-09 00:04] bbros-dev commented on #543
Closing.  Following a review, we will not be using ignite outside of developer personal workflows, so won't be able to devote any time to issues outside of that scope.

[2020-03-09 00:04] #543 closed

[2020-03-09 00:05] bbros-dev commented on #542
Closing.  Following a review, we will not be using ignite outside of developer personal workflows, so won't be able to devote any time to issues outside of that scope.

[2020-03-09 00:05] #542 closed

[2020-03-09 00:05] bbros-dev commented on #532
Closing.  Following a review, we will not be using ignite outside of developer personal workflows, so won't be able to devote any time to issues outside of that scope.

[2020-03-09 00:05] #532 closed

[2020-03-09 00:05] bbros-dev commented on #531
Closing.  Following a review, we will not be using ignite outside of developer personal workflows, so won't be able to devote any time to issues outside of that scope.

[2020-03-09 00:05] #531 closed

[2020-03-09 00:05] bbros-dev commented on #530
Closing.  Following a review, we will not be using ignite outside of developer personal workflows, so won't be able to devote any time to issues outside of that scope.

[2020-03-09 00:05] #530 closed

[2020-03-09 00:06] bbros-dev commented on #528
Closing.  Following a review, we will not be using ignite outside of developer personal workflows, so won't be able to devote any time to issues outside of that scope.

[2020-03-09 00:06] #528 closed

[2020-03-09 00:06] bbros-dev commented on #523
Closing.  Following a review, we will not be using ignite outside of developer personal workflows, so won't be able to devote any time to issues outside of that scope.

[2020-03-09 00:06] #523 closed

[2020-03-09 00:06] bbros-dev commented on #529
Closing.  Following a review, we will not be using ignite outside of developer personal workflows, so won't be able to devote any time to issues outside of that scope.

[2020-03-09 00:06] #529 closed

[2020-03-09 00:07] bbros-dev commented on #522
Closing.  Following a review, we will not be using ignite outside of developer personal workflows, so won't be able to devote any time to issues outside of that scope.

[2020-03-09 00:07] #522 closed

[2020-03-10 22:52] taqtiqa-mark opened #558 "Feature: Consume piped content when `--interactive`"
Perhaps I've missed some Ignite-fu:

When using containers its common to find variations on this pattern in use:
[code]

In Ignite (with autologin configured):

[code]

Note in the above example `/root/.profile` contains:

[code]

[2020-03-11 00:34] taqtiqa-mark commented on #291
After some experience building [chef-ignite](https://github.com/BegleyBrothers/chef-ignite) I now believe the sustainable path is to either use [upstreams firectl](https://github.com/firecracker-microvm/firectl), libvirt (if a firecracker provider emerges) or firecracker directly.

[2020-03-11 00:34] #291 closed

[2020-03-11 00:36] taqtiqa-mark commented on #284
After some experience building [chef-ignite](https://github.com/BegleyBrothers/chef-ignite) I now believe the sustainable path is to either use [upstreams firectl](https://github.com/firecracker-microvm/firectl), libvirt (if a firecracker provider emerges) or firecracker directly.

[2020-03-11 00:36] #284 closed

[2020-03-11 00:37] taqtiqa-mark commented on #287
After some experience building [chef-ignite](https://github.com/BegleyBrothers/chef-ignite) I now believe the sustainable path is to either use [upstreams firectl](https://github.com/firecracker-microvm/firectl), libvirt (if a firecracker provider emerges) or firecracker directly.

[2020-03-11 00:37] #287 closed

[2020-03-11 00:38] taqtiqa-mark commented on #288
After some experience building [chef-ignite](https://github.com/BegleyBrothers/chef-ignite) I now believe the sustainable path is to either use [upstreams firectl](https://github.com/firecracker-microvm/firectl), libvirt (if a firecracker provider emerges) or firecracker directly.

[2020-03-11 00:38] #288 closed

[2020-03-11 00:38] taqtiqa-mark commented on #289
After some experience building [chef-ignite](https://github.com/BegleyBrothers/chef-ignite) I now believe the sustainable path is to either use [upstreams firectl](https://github.com/firecracker-microvm/firectl), libvirt (if a firecracker provider emerges) or firecracker directly.

[2020-03-11 00:38] #289 closed

[2020-03-11 00:56] taqtiqa-mark commented on #558
Just a note that the exec workaround requires SSH be in stalled and configured:

[code]

[2020-03-11 19:23] H34V33N commented on #527
Hello,
does anyone have a solution to this problem?

[2020-03-12 10:44] alex-leonhardt opened #559 "ambiguous image query"
I'm seeing the following message when trying to create a VM from a custom image:
[code]

We can see that we have 2 image, with the same identifier (name) but with different image IDs ..
[code]
.. this seems to happen when the same `{{ image:version }}` is being pulled _"concurrently"_.

This is fixable by removing the images, then pull them again before staring VMs (concurrently) to ensure that th

[2020-03-16 05:40] #402 closed

[2020-03-16 07:29] stealthybox commented on #554
@bbros-dev, thanks for the detailed proposal here.
Reading through this helps build an empathy and understanding of the way folks perceive and use ignite.

Your thoughts bring up ideas of config management, patching, extension, useful defaults and other developer-experience concerns.

The API is modeled after kubernetes, so we naturally have some of the same shortcomings and tooling opportunities.

[2020-03-16 12:16] bbros-dev commented on #554
No worries.  We're not k8s - but consul & nomad, etc.
We're in a high state of flux and still settling into what works.

We look for minimal config preferring human-driven conventions.
We try to think out-side the square, and look to reuse components.
Example: instead of footloose we'd prefer `podman play kube` to be able to respect a `runlabel` sub-command....  that way you'd have footloose alrea

[2020-03-16 15:47] stealthybox commented on #465
`ignite image import` of digest refs works with `--runtime docker` / fails with `--runtime containerd`

Once the image is imported correctly into ignite, named by the digest, `ignite run` fails with both runtimes. `ignite-spawn` seems to time out.
Initial suspicion is that the sandbox is not inflated correctly for digest images.

A storage refactor will be necessary to clean up these bugs related

[2020-03-16 15:58] stealthybox commented on #465
Sunny's patch has to do with supporting tar image import.
The metadata that results from a `docker image save` may include image name.
The result from from `docker image load` will not have a name/tag.
Overriding the name/tag is optional on `docker image import`.

[2020-03-23 15:59] stealthybox commented on #558
@darkowlzz will take a look at this soon.
He made some previous attempts before and knows the code better now.

[2020-03-23 18:48] alex-leonhardt opened #566 "StartVM hardcoded to weavworks/ignite:<tag>"
Hi,

I tried to manually build ignite and that worked just fine, however, when trying to run the new binary (on a different host), it attempted to download a `weaveworks/ignite` image that won't exist .. I tracked it down to this: https://github.com/weaveworks/ignite/blob/master/pkg/operations/start.go#L41

Would it be feasible to allow this to use the `DOCKER_USER` from the Makefile https://githu

[2020-03-27 14:36] cbluth opened #567 "How to troubleshoot non-booting VM"
i am trying to run some network scans on my corporate network, and i used to use a kali qcow2 image.
i would like to try to run it in `ignite`.
here is the log:
[code]

how do i see the boot log or how else can i troubleshoot this?

[2020-03-27 15:23] cbluth commented on #567
i have also tried this dockerfile, without much improvement:
[code]

here are the logs:
[code]

[2020-03-27 16:09] cbluth commented on #567
i found the debug options:
[code]

i see this:

[    1.359181] Run /etc/init as init process
[    1.360743] Run /bin/init as init process
[    1.362335] Run /bin/sh as init process
[    1.364061] Kernel panic - not syncing: No working init found.  Try passing init= option to kernel. See Linux Documentation/admin-guide/init.rst for guidance.

how would i fix this?

[2020-03-29 03:33] bbros-dev opened #568 "Feature: Break out ignite/images/kernel/` into a project `weaveworks/firecracker-kernels`"
Upstream do not have a documented or scripted example that "Just Works" that includes a kernel and rootfs image build.

From experience to this point, the best approach appears to be:

1. Break out `ignite/images/kernel/` into a project `weaveworks/firecracker-kernels`
1. `git`[`subrepo`](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwj07-C-377oAhUo8HMBHY

[2020-04-01 04:32] bbros-dev commented on #568
After some too-and fro we've had to bite the bullet and 'forked' starting from your images-kernel.

We had to refactor considerably at the outset so unfortunately any PRs will come in the form of patchsets.

We'll close this since it is no longer an issue for us.

[2020-04-01 04:32] #568 closed

[2020-04-01 05:03] bbros-dev commented on #549
Re-opening this because we think the cause due to the logic in one of the kernel build scripts - **the correct config variable values do seem to be in the patch config file**.

Specifically, an initial reading suggests the root cause is this line:

https://github.com/weaveworks/ignite/blob/a67c960251dd83286b04196702690bdbba2fc11c/images/kernel/Makefile#L21

whereby the patched configurations end u

[2020-04-06 18:30] H34V33N commented on #567
did you fix the problem?

[2020-04-10 00:36] MarcoPolo opened #574 "a1.metal Arm64 run failure: timeout waiting for ignite-spawn startup"
Hi! 👋

I was interested in getting this setup in an a1.metal instance since I was able to get firecracker working in one. But I couldn't seem to get it working.

I tried various versions of ignite as well (as far back as v0.5.0). I also tried doing the exact same setup on an x86 bare metal packet server to make sure I wasn't doing something wrong.

I'm not exactly sure where the error is either? I

[2020-04-10 14:31] luxas opened #575 "Update to Go 1.14"
Bringing in better security, faster runtime, etc. https://golang.org/doc/go1.14

[2020-04-10 15:41] #558 closed

[2020-04-13 01:20] lskillen commented on #82
Hey folks, we'd be delighted to support/sponsor weaveworks over at @cloudsmith-io (we're huge fans of tooling like flux); you don't need to request any special accounts, just create an open-source repository and you're off to the races. 😁

[2020-04-13 14:26] #575 closed

[2020-04-13 21:52] #419 closed

[2020-04-15 18:53] cbluth opened #583 "Is Nested VMs possible?"
i am attempting to nest virtualized VMs, i want to simulate a network.

i think the issue is with kernel modules inside the ignite vm, see here:
[code]

how would i trouble shoot this? build a new kernel?

[2020-04-16 11:19] cbluth opened #584 "Systemd service file"
i am experimenting with a systemd service file:

[code]

i am putting yaml definitions in `/etc/ignite`

this doesnt seem to be working.
is there a way to include a systemd service?

[2020-04-18 16:21] kobayashi opened #585 "permisstion CNI installation dir"
While installing CNI binary with [install docs](https://ignite.readthedocs.io/en/stable/installation.html#cni-plugins), some commands were failed because of permission to the dest dir.
The part should be like this.

[code]

[2020-04-19 10:28] cbluth commented on #567
@H34V33N i dont know how to fix the problem

[2020-04-19 14:14] zhuangh7 opened #587 "How to use Go template to fetch data from ignite inspect output?"
Hi there, I'm not familar with Go template and I try to use '-t' of ignite inspect command.
I used to use Go template in docker inspect, and I can use command like:
docker inspect --format {{.NetworkSettings.Networks.bridge.IPAddress}} 1564bdd87437
to get the ip of the container

But when I use command like:
sudo ignite inspect -t '{{.status.ipAddresses}}' vm 24
it just response with an error:
FAT

[2020-04-19 20:22] darkowlzz commented on #535
#526 was merged along with some more related fixes in #577 . This should work now.

[2020-04-19 20:46] darkowlzz commented on #587
Hi, thanks for opening an issue for this. It may be a good idea to add some examples in the command help, similar to the example usage in ignite ps command for using filters.

Ignite APIs are based on k8s api machinery. The API definition can be found [here](https://github.com/weaveworks/ignite/blob/fd8cd298126ffc5e14ed7e45b258e5176600b16c/pkg/apis/ignite/types.go#L133). Based on that, since it's

[2020-04-20 03:49] zhuangh7 commented on #587
Thanks for your help, the command works well. It is amazing that it can not work correctly if I just put the '-t' before specific the vm I want to inspect.
After all, thank you.

[2020-04-20 03:49] #587 closed

[2020-04-20 04:20] kobayashi commented on #489
`make autogen tidy` command [described in docs](https://github.com/weaveworks/ignite/blob/master/CONTRIBUTING.md#contributing-your-code) seems to call `tidy` in both docker and local, right? `autogen` run `tidy` inside a container then,`tidy` is called in local.
If this is collect, just running `make autogen` is fine for `tidy` in docker container. Then, we can remove `tidy-in-docker`.
I would lik

[2020-04-20 12:31] nbrownuk commented on #535
Thanks. After I worked out how to build a local copy of ignite to test, it works just fine.

[code]

[2020-04-20 12:31] #535 closed

[2020-04-20 15:53] stealthybox commented on #585
Fixed by #586

[2020-04-20 15:53] #585 closed

[2020-04-20 15:53] stealthybox commented on #585
Thank you for fixing this!
I've had to edit these commands many times.

[2020-04-20 15:57] stealthybox commented on #587
@zhuangh7 We're going to open a bug and patch the command to add some examples in the command help text.

Thanks for opening this up and asking :)

(Yes, the flag ordering thing with cobra style CLI's and **positional args** can be funky to use. I struggle with this when editing commands with docker and kubectl as well which have the same usage)