[2020-04-20 15:58] stealthybox opened #589 "Add go template examples for `ignite {vm ,}inspect -t`"
See https://github.com/weaveworks/ignite/pull/587
https://github.com/weaveworks/ignite/issues/587#issuecomment-616222524

[2020-04-20 16:00] stealthybox commented on #82
Thanks @lskillen -- We'll take a look at your service :)

[2020-04-20 16:02] stealthybox commented on #82
Cloudsmith's CLI, API, and wide package support looks very cool!

[2020-04-20 16:05] zhuangh7 commented on #587
Thanks for your contribution, it can be really helpful :>

[2020-04-20 16:27] stealthybox commented on #567
@cbluth I think you're missing `udev` in your image.

I pulled `cbluth/kali:latest` and was able to replicate the issue.
These are the important bits from the systemd log that cause the init to fail:
[code]
[code]

[code]

I built this Dockerfile based on `./images/ubuntu/Dockerfile` and the machine booted.
I was able to attach to it by logging in.
The automatic SSH feature did not work with my qu

[2020-04-27 05:50] #589 closed

[2020-04-27 05:51] stealthybox commented on #509
This could be related to and potentially fixed by #581

[2020-04-29 13:38] kobayashi commented on #527
Could you show us the exact step to reproduce this issue?

[2020-04-29 13:54] kobayashi commented on #504
Which ignite version are you using? For my environment, stop/start tasks are working fine.

[code]

[2020-05-07 12:36] rugwirobaker commented on #509
I'm going to see it works this weekend.

[2020-05-07 20:42] kosmonavtika commented on #484
Is this still an issue? Seems to be a quite breaking bug.

[2020-05-07 20:44] kosmonavtika opened #593 "Roadmap"
Is there a roadmap for this project? How well supported is it by Weaveworks? Should it be considered a future foundational project at Weaveworks, or is it just an experimental implementation of a Firecracker microVM manager?

[2020-05-11 15:40] stealthybox commented on #509
Excellent -- thanks and good luck!
Let us know if you get it working

[2020-05-19 00:19] stealthybox commented on #504
Thanks for confirming on recent versions of ignite @kobayashi.

I think this issue may be related to firecracker's special handling of os `reboots`.
If I recall correctly, reboots simply shutdown the guest.

It would be nice if you could `ignite vm start` these guests again.
That doesn't look to work right now using a build off of master, although the error message I get is about IP allocation whi

[2020-05-19 01:21] stealthybox commented on #489
@kobayashi, it's true that the `autogen` normally runs in a container (overrideable via `GO_MAKE_TARGET`).

However, a dev may not want to run `autogen` every time they needed to `tidy-in-docker`.

Unfortunately, `tidy`'s interaction with `go mod` as we've upgraded through different go versions has given us different results in and out of the container and has been the source of broken CI and buil

[2020-05-28 02:20] tetsuya28 opened #600 "Cannot Import Docker Image"
I built a container image with this Makefile locally.
https://github.com/weaveworks/ignite/blob/master/images/Makefile

And, I tried to import to ignite but I got following error.
Someone can help me?

[code]

[code]

[code]

[code]

[code]

[2020-05-28 15:28] mehstg commented on #574
Having exactly the same issue here on arm64. Running ignite on Ubuntu 20.04 on a Raspberry Pi 4

`root@ubuntu:~# ignite run ubuntu:18.04 --log-level trace
TRAC[0000] Populating providers...
TRAC[0000] Initializing the containerd runtime provider...
TRAC[0000] Initializing the CNI provider...
DEBU[0000] Ensuring image ubuntu:18.04 exists, or importing it...
TRAC[0000] Client.Find; GVK: ignite.weave

[2020-05-30 21:22] leakingtapan commented on #593
Have the same question. And when is this project going to reach beta? I see there is a road map here: https://github.com/weaveworks/ignite/blob/master/docs/roadmap.md

[2020-05-31 09:52] darkowlzz commented on #574
Hi, thanks for trying ignite. ARM support was added recently in https://github.com/weaveworks/ignite/pull/511 and is not part of release v0.6.3 or before. We have a new document about [Using Ignite on ARM](https://github.com/weaveworks/ignite/blob/master/docs/arm.md) but it doesn't goes into details about how to build all the container images for arm64. You can run the make targets in the `images/

[2020-05-31 10:33] darkowlzz commented on #600
Hi, can you provide more information about how you built the image?

I tried this:

[code]

Imported the image using ignite v0.6.3:

[code]

Seems to work well.
There was an issue with docker image import in v0.6.3 when pulling the image from a remote image repository which was fixed in https://github.com/weaveworks/ignite/pull/564 , but the error in your logs are different from that.

[2020-05-31 11:54] mehstg commented on #574
Excellent. Thanks for the help

[2020-06-02 15:08] stealthybox commented on #574
@mehstg We are looking to release ARM support this week.

[2020-06-02 23:33] mehstg commented on #574
That's great. I will be looking out for it!

[2020-06-05 13:42] twelho opened #613 "VMs have too low entropy, causes long delays"
Ignite VMs currently have no (fast enough) way of gathering entropy from the hardware to fill `/dev/random`, which causes hangs in e.g. the boot process and SSH connections (see [here](https://wiki.debian.org/BoottimeEntropyStarvation)).

Experiment with forwarding `/dev/hwrng` to the Ignite container and adding `random.trust_cpu=1` to the `cmdline` (for host and for VM), Firecracker might pick it

[2020-06-05 13:49] twelho opened #614 "Clean up the containerd namespace after image removal"
Currently when an image is removed, the cleanup takes care of the exported `ext4` image file and metadata in `/var/lib/firecracker`, but doesn't remove the OCI source image from the `firecracker` namespace in containerd. This eventually causes a buildup of OCI images in that namespace.

We could remove OCI images from containerd when no exported images depend on them anymore.
 - Benefit: prevents

[2020-06-07 14:53] tetsuya28 commented on #600
one of maintainers told me by following commands to import docker image from host machine to ignite via containerd, and it worked.
[code]

[2020-06-07 14:53] #600 closed

[2020-06-08 17:16] stealthybox commented on #593
Thanks all for the interest in ignite.
We just cut a very big release:
https://github.com/weaveworks/ignite/releases/tag/v0.7.0

Ignite is very user-driven, so we'll all get what we put into it.

Some @weaveworks projects have ignite as a dependency, so we are certainly interested in maintaining and improving it.

A member of the @StorageOS team, @darkowlzz, has joined as an external maintainer, s

[2020-06-08 17:18] stealthybox commented on #574
@mehstg all of the images and binaries are pushed.
Let us know if you end up trying again :)
https://github.com/weaveworks/ignite/releases/tag/v0.7.0

[2020-06-09 21:31] jmcdonagh opened #616 "VMs start and show running, but are unreachable and can't attach to them either"
Hi, I have firecracker v0.21.1 running on Ubuntu 20.04 LTS on a VMware Fusion machine (yes I know this is kind of weird, but I don't have any extra hardware laying around). Ignite version info:

`Ignite version: version.Info{Major:"0", Minor:"7", GitVersion:"v0.7.0", GitCommit:"0e3459476130fa360fcd058d4cf8a8ef7fdb68a0", GitTreeState:"clean", BuildDate:"2020-06-02T23:22:10Z", GoVersion:"go1.14.2",

[2020-06-10 09:31] gaetanww commented on #129
I've been able to use kvm with WSL2 with the last windows insider build. But ignite is not working when running the command:
[code]
I also get the error ` command ["dmsetup" "create" "ignite-2686ebc1815eb94c"] exited with "device-mapper: reload ioctl on ignite-2686ebc1815eb94c  failed: No such device\nCommand failed.\n": exit status 1`.
@twelho I verified that CONFIG_DM_ZERO and CONFIG_DM_SNAPSHOT

[2020-06-11 10:59] luxas commented on #355
@darkowlzz could you please do this? when this is done, we can create a new `v1alpha3`, to which you can add the Config object, ref: #601

[2020-06-11 12:37] darkowlzz commented on #355
@luxas sure. Is it just removing the package `pkg/apis/ignite/v1alpha1` and updating any code that uses it to `v1alpha2`?

[2020-06-11 14:24] luxas commented on #355
Yes. After that we can duplicate v1alpha2 into v1alpha3, and then start modifying v1alpha3 to have the new things we want.

[2020-06-15 07:47] dholbach opened #618 "Link checking of ./site hits too many Github URLs"
Merging #573 (https://github.com/weaveworks/ignite/commit/aedb9cd47f4f1c2717befc8fac3a243ce83edc2f) link checking failed (https://github.com/weaveworks/ignite/runs/771426681) because of:

[code]

We simply hit too many Github URLs.

Here is the regex for links we ignore:

[code]

I feel URLs outside of Ignite's Github should be checked, so we should potentially look at checking some of Ignite's li

[2020-06-15 15:57] stealthybox opened #621 "Make hostname overridable"
[jun 15 ignite meeting notes](https://docs.google.com/document/d/1fv8_WD6qXfvlIq7Bb5raCGyBvc42dNF-l8uaoZzoUYI/edit#heading=h.dnt941xlft3f)

@darkowlzz suggested we use the vm name instead of the ID for hostname, so that it would be easier to identify Nodes in a kubernetes cluster.

We thought about the docker UX for hostname:
- container's hostnames are the container ID
- container's can be config

[2020-06-15 16:08] stealthybox opened #622 "Validate Object Meta for VM objects"
For VM objects, it seems to be possible to start VM's with invalid names:
[code]

Invalid names should fail Object Meta validation like so:
[code]

The validation for the VM object is already run as a final step before actually creating a VM, but we need to add Object Meta to the ValidateVM function.

We should also check our other Validate functions.

[jun 15 ignite meeting notes](https://docs.go

[2020-06-15 16:21] twelho opened #623 "Bump default kernel to 5.4 LTS"
The 5.4 LTS series is now the latest LTS release available and has had time to stabilize. It should work with all VM images available (Ubuntu 18.04 LTS has it available in the `linux-generic-hwe-18.04-edge` package, so it should work as well).

[2020-06-22 15:24] #355 closed

[2020-06-22 23:16] zicklag opened #626 "Is There a Way to Set the VM IP Address In a Weave Network?"
I'm considering using ignite to power a custom VM orchestrator and I was thinking of using Weave to create a network that spans multiple hosts and putting the VMs on different subnets to isolate them from each-other when required. Is there any way for me to set the VM's IP on the Weave network when creating the VM?

If there was a way just to put the VMs on *different* Docker networks, instead of

[2020-06-23 04:31] stealthybox commented on #566
Hi @alex-leonhardt, this is now configurable at runtime via flags and VM API Spec configs.

Fixed by #598 released in v0.7.0

[2020-06-23 04:31] #566 closed

[2020-06-23 04:47] stealthybox commented on #129
Thanks all for your comments. I began getting ignite working in WSL2.

Windows Fast Ring Build 19631+ is needed to use the undocumented `nestedVirtualization` option in `.wslconfig`:
https://github.com/microsoft/WSL/issues/4193#issuecomment-632732442

I'm using windows build 20150 on an Intel CPU. This build also supports AMD nested virt.

I'm able to build ignite in WSL2 using an Ubuntu distro an

[2020-06-24 14:47] stealthybox commented on #129
I've discovered that these `/dev/mapper` symlinks are maintained as a convenience by the userspace `udevd`.
This usually runs on the host, but you can also run it in containers (such as a WSL2 distro).

While looking at removing our dependency on these symlinks, I discovered that we call `dmdetup` in the `ignite-spawn` sandbox and our capabilities and LSM config may not be allowing that to work, s

[2020-06-26 16:28] morancj opened #627 "Documentation for apiVersion is inconsistent"
The example in https://github.com/weaveworks/ignite/blob/master/docs/installation.md#ignited-daemon uses `apiVersion: ignite.weave.works/v1alpha3`, while the example in readthedocs [Run Ignite VMs declaratively](https://ignite.readthedocs.io/en/stable/declarative-config/) uses `apiVersion: ignite.weave.works/v1alpha2`.

[2020-06-27 13:47] mdundek opened #628 "Two VMs on 2 separate hosts, how to make networking work with Ignite and WeaveNet?"
Hello weaveworks team,

I am trying to spin up 2 independant k8s clusters, each having one respective worker node using ignite. I have 2 machines for this test:

[code]

Therefore, I want to set up a WeaveNet CNI network on both hosts using the instructions provided from your documentation:

[code]

I removed the file `rm -rf /etc/cni/net.d/10-ignite.conflist`, then started my `Master-1` on `Host-

[2020-06-28 09:33] darkowlzz commented on #627
Hi, thanks for going through the docs. We added v1alpha3 API recently, after v0.7.0 release. The docs at https://ignite.readthedocs.io/en/stable/declarative-config/ are of the stable release. The latest, unreleased docs have the new API https://ignite.readthedocs.io/en/latest/declarative-config/ .
Hope that clears the confusion.

[2020-06-28 19:21] lukemarsden opened #629 "AMI from ignite vm?"
Hey folks, awesome project!

How hard would it be to create an AMI from an ignite VM? (more specifically, from the docker image that is used to spawn ignite VMs)

The use case is that VM images can be created in dev- and test-friendly ignite world, and then spun into fully fledged EC2 instances for production (managed by terraform).

[2020-06-29 11:53] morancj commented on #627
Understood, thanks!

[2020-06-29 11:53] #627 closed

[2020-06-29 12:36] morancj opened #630 "Running ignite on ZoL (ZFS on Linux) fails with: failed to mount /tmp/containerd-mount"
Using containerd:

[code]

Using Docker:

[code]

Config:

[code]

[2020-06-29 12:37] morancj commented on #630
This looks like a problem with containerd, or my config for it:

[code]

[2020-06-29 13:34] twelho commented on #630
Thanks for reporting! Ignite has not been tested on ZFS before, so it might also be some configuration mistake on our end :sweat_smile: Just to paint a more complete picture for reference, could you also post the output of your `ignite run` command with `--log-level trace` set?

[2020-06-29 13:56] morancj commented on #630
Sure:

[code]

[2020-06-29 14:02] morancj commented on #630
ZFS config:

[code]

Since I currently use [zfs-auto-snapshot](https://github.com/zfsonlinux/zfs-auto-snapshot), and don't want snapshots containing `/var` getting hugely bloated with added/removed images.

[2020-06-30 08:18] mdundek commented on #628
Is it possible to get some clarification on this issue please? Ignite is a fantastic tool if this works as expected (well done to the weaveworks team by the way), but I am not sure if it has been designed for those use cases to begin with.
Is this a bug, a limitation or simply a miss configuration, in which case could you point me towards some documentation or guidance to enable this scenario plea

[2020-06-30 17:44] luxas commented on #628
Hi :wave:!

I will try to debug this some time during this week. Sorry, I've been heads-down on some other projects and work efforts.
It's been a while since I looked at this specifically so there might be some docs that are out of date.
Thanks for you patience.

[2020-07-01 10:11] twelho opened #631 "Make Ignite use containerd's `devmapper` snapshotter"
containerd has (re)gained a [device mapper snapshotter](https://github.com/containerd/containerd/issues/2988), courtesy of the Firecracker team for their `firecracker-containerd` project. This allows containerd to store the image/container layers (snapshots) as block devices managed by [device mapper](https://en.wikipedia.org/wiki/Device_mapper). Internally the solution uses the `thin` target to c

[2020-07-01 12:03] mdundek commented on #628
Thanks Luxas! I appreciate it very much. Looking forward to using this for some fun projects I have in mind.

[2020-07-01 15:32] 30350n opened #632 "Running ignite inside a docker container (failed to extract layer ...)"
Hello people, i'm currently trying to setup a docker container, which internally runs ignite to create a bunch of microvms, to run usercode. The purpose of running ignite in a docker container, is mainly to make it easily deployable.
Does anyone have experiences with this? Or got this working before?

I'm currently stuck, because whenever i try to actually run a vm via `ignite run weaveworks/ignit

[2020-07-03 15:52] twelho commented on #616
We've now identified the issue, the `ignite-spawn` container has multiple interfaces used for bridging sharing the same MAC address. The cause of this is still unkown, a quick fix is to (unsuccessfully) ping the __previous__ IP address given a VM by CNI and after that ping the __current__ IP address. This will open communications both ways (now you can ping the VM and the VM can access the outside

[2020-07-03 15:55] twelho opened #633 "`ignite-spawn` container has multiple interfaces with same MAC, networking (randomly) broken"
We've now identified the issue, the `ignite-spawn` container has multiple interfaces used for bridging sharing the same MAC address. The cause of this is still unknown, a quick fix is to (unsuccessfully) ping the __previous__ IP address given a VM by CNI and after that ping the __current__ IP address. This will open communications both ways (now you can ping the VM and the VM can access the outsid

[2020-07-03 16:17] luxas commented on #616
See #634 for a possible (atm very hacky) fix

[2020-07-03 16:17] luxas commented on #628
See #634 for a possible (atm very hacky) fix. Also #633 for an explanation.

[2020-07-05 10:54] alizowghi commented on #482
How we can implement this in own nodes?

[2020-07-05 12:27] alizowghi opened #635 "Multi node networking"
Hi
This instruction is not clear that how can be implement.
https://ignite.readthedocs.io/en/stable/networking/#multi-node-networking-with-weave-net

[2020-07-05 12:34] 30350n commented on #632
Fixed by using a different container (https://hub.docker.com/_/docker) as a base image.

[2020-07-05 12:34] #632 closed

[2020-07-07 09:02] mazzy89 opened #637 "Containerd plugin for Firecracker VMS"
I'd like to write down a Containerd plugin to spin up Firecracker VMs. However asking here before if there are any progresses with this

My idea would be to leverage this plugin and run it with the Kubelet so having containerd spawning Firecracker VMS.

Differently by https://github.com/firecracker-microvm/firecracker-containerd, I would like to use containerd to spin up Firecracker VM and not to

[2020-07-07 15:12] twelho commented on #633
Duplicate MAC address issue figured out (does not fix networking on its own). We're calling `netlink.LinkSetMaster` here (and again some lines below that): https://github.com/weaveworks/ignite/blob/52a0fce1789d454d31af3862a8c918616582e4f7/pkg/container/network.go#L135

This is to bind the container-given network interface as well as the virtual VM interface to the bridge. If `netlink.LinkSetMaster

[2020-07-09 12:00] twelho commented on #633
`own address as source address` issue figured out: Linux bridge devices have an internal MAC address lookup table to optimize routes, but the bridge is not smart enough to realize it is inside a container which seems to prevent it from looking up MACs from the outside world (or the VM for that matter). This causes the lookups to relay back for both the VM TAP device and the container's `eth0` devi

[2020-07-09 18:21] #628 closed

[2020-07-09 18:21] #633 closed

[2020-07-13 15:08] mdundek opened #642 "Multi host ignite VMs networking based on WeaveNet not working as expected (reopening issue #628)"
Hello WeaveWorks team,

I am reopening issue [#628](https://github.com/weaveworks/ignite/issues/628), the applied fix did make things slightly better but it did not fix the underlying issue.
Two Hosts, on both I run the WeaveWorks CNI docker image as described in issue #628.
I then installed `ignite` on both hosts and started a Ignite VM on each host with the flag `--network-plugin cni` respective

[2020-07-14 15:23] twelho commented on #642
Hi @mdundek :wave:

Your Weave Net setup looks correct, but it seems like the Ignite VMs are not attaching to it at all. The `10.61.0.0/16` address space is the default bridge of Ignite, if the VMs have these addresses they each are using the host-local CNI bridge, not Weave Net.

Have a look at what you have in `/etc/cni/net.d/`, there should be a file named `10-weave.conflist` (created by Weave

[2020-07-14 17:20] xabru opened #644 "How to implement Firecracker Snapshotting in ignite"
Is the snapshooting feature active in Ignite?

[2020-07-14 18:45] mdundek commented on #642
Hello twelho,

thanks for your quick response, I started from 2 fresh VMs to test this again, but this time I started the WeaveNet CNI first before I installed Ignite and the Ignite default CNI plugin. This time I do have the file `/etc/cni/net.d/10-weave.conflist` instead of the `10-ignite.conflist` one, so that is great news. Strange, because before it did recreate the `10-ignite.conflist` every

[2020-07-15 11:27] twelho commented on #642
Could you post the Docker logs for the weave-kube containers on both hosts, so the output of `docker logs <container_name>`? They both should state that Weave Net has discovered the other peer. I'll try to replicate this scenario on two separate hosts shortly.

[2020-07-15 15:17] mdundek commented on #642
IP of host one is: `192.168.68.148`, IP of host 2 is `192.168.68.131`. Here is the log output from Host 1:

[code]

Host 1 & host 2 can talk to each other, host 1 can talk to VM 1 (running on host 1), but host 1 can not talk to VM 2 (running on host 2).

Thank you twelho for helping me out on this, much appreciated !

[2020-07-15 16:45] twelho commented on #642
Yes, from your log output it seems like the two Weave Net instances are able to connect to each other. I just replicated the same setup with two physical hosts on the same LAN, just to end up at the same conclusion – the Weave Net instances pair just fine and the VMs connect to their respective instances, but no traffic flows in the CNI network. The VMs reach their own CNI provider but cannot conn

[2020-07-15 19:10] mdundek commented on #642
Thanks twelho, appreciate your efforts in helping me out on this. I am very much looking forward to your Flannel based solution, I believe it makes a lot of sense to get multi-host networking work with Ignite, especially when using Ignite with Kubernetes where each node should be running on it's own host when not using it purely for testing purposes.
While I have your attention, could you tell me

[2020-07-16 16:26] twelho commented on #642
The scripts (and docs) are ready in https://github.com/weaveworks/ignite/pull/645, go ahead and give them a go, it would be good to know if they work on your end as well. Thanks for bringing up the static IPs, I've added a chapter to the docs in that same PR, the tl;dr of which being that it's possible but you need to configure it for your CNI provider. For Flannel it might be doable using [leases

[2020-07-17 07:51] mdundek commented on #642
Helo twelho,

thanks, I tested your scrips, it works great! I do have a couple of comments for you:

- The script tries to create the file `/etc/cni/net.d/10-flannel.conflist`, on a fresh system, the directory `/etc/cni/net.d/` does not exist and this command fails. You should add the command `sudo mkdir -p /etc/cni/net.d` on line 159 & 184.
- In my tests, I managed to ping all IPs, including from

[2020-07-17 09:29] mdundek opened #646 "Mounting volume device using the `--volumes` flag not working"
Hello Weaveworks team,

I am trying to start a VM that uses the `--volume` flag to mount a disk device inside a VM, but all attempts to make this work are futile. Here is what I do:

[code]

Here is the output of the command:

[code]

There is no documentation on how to use the `--volumes` flag, I did try all sorts of variations to make this work, but nothing helps. Can someone help me out on this

[2020-07-17 10:46] twelho commented on #642
Hi,
- Good catch on the `/etc/cni/net.d`, thanks! I've updated the PR.
- Apparently I had my routes misconfigured by all the testing, I tried it now with a clean environment on both hosts and it does indeed seem to be possible to cross-ping VMs from different hosts. Docs updated, thanks!
- The static IPs would definitely need more investigation/work put in. Currently Ignite has no means to enable

[2020-07-20 15:28] #642 closed

[2020-07-20 16:10] stealthybox commented on #644
This feature is not yet supported by firecracker, but they do have a roadmap issue for it: https://github.com/firecracker-microvm/firecracker/issues/1184

Ignite is dependent on firecracker for support of hardware/virt level features such as VM runtime snapshots.

[2020-07-20 16:12] stealthybox commented on #644
I'm curious about your use-case here.
Ignite makes it possible to bake properly pre-configured images and re-create fresh VM's quickly.
How would you want to use snapshots or imagine how it would work?

[2020-07-20 16:18] stealthybox commented on #635
We've got some new, working documentation for Flannel on the `latest` tag of our docs:
https://ignite.readthedocs.io/en/latest/networking/#multi-node-networking-with-weave-net

Hopefully, using Flannel as a CNI meets your use-case.
Let us know if you try it and it works for you!

Weavenet is currently not functioning with ignite multi-node.
If you'd like to help us debug the issue with Weavenet, f

[2020-07-24 09:57] xabru commented on #644
I would like to be in control of being able to create a snapshot at runtime and be able to automate it from the backend as an alternative backup method.

[2020-07-25 05:55] lukemarsden commented on #204
I'm very interested in this. Does the PoC still work with latest Ignite? I might play with it. I guess it doesn't work multi-host yet, is that the main limitation?

[2020-07-26 13:19] #345 closed

[2020-07-26 17:59] darkowlzz commented on #646
Hi, thanks for reporting this. I tried this and I can confirm that this works with docker as the runtime but fails with containerd (default). If you pass `--runtime docker` and `--network-plugin docker bridge` to the `run` command, it works.

[code]

Doing the same with defaults:

[code]

We don't have any test coverage for this feature at the moment, so we weren't aware of the issue.

If you woul

[2020-07-27 11:43] morancj commented on #629
Hi @lukemarsden,
I know this doesn't answer your question, but have you considered [HashiCorp Packer](https://www.packer.io/) as a workaround?

[2020-07-27 18:26] darkowlzz commented on #646
Some updates after a debugging session for this issue in the weekly developer meeting:

The issue seems to be because of the device that's attempted to be mounted is not available in the VM container, maybe due to some missing containerd option. ignite-spawn skips the volume:

[code]

Due to this, when the VM starts up, it tries to load the device but since the device isn't available, it waits for

[2020-07-29 01:24] stealthybox opened #649 "v1alpha3 commit breaks existing install"
I noticed recent builds are not working on my Ubuntu 20 dev machine and a bisect found d44db2f65 to be the problem:
[code]
[code]

Looks like something we added with the new API machinery may not be forward compatible with existing installs.

[2020-07-30 00:06] darkowlzz commented on #649
Hi, I tried this on a new machine, cloned the repo, checked out to tag v0.7.0 and ran `make`, create a VM, deleted it. And then I checked out to the latest and ran `make` again, created a VM, and everything seemed fine.
As per the commands pasted above, it looks like only the ignite binary is being build again, not ignite-spawn. While adding the new API, I remember I had to rebuild ignite-spawn as

[2020-07-30 10:39] morancj commented on #630
I know you're very busy with other projects: if I can be of further help (perhaps you want me to create and mount an ext4 filesystem somewhere), let me know.

[2020-07-30 11:40] twelho commented on #649
I ran the following bisect successfully:
[code]
So I think even though you updated the ignite-spawn image with `bin/amd64/Dockerfile` (which also exports it to containerd), using that target doesn't actually _build_ the ignite-spawn binary. So you are just repackaging the ignite-spawn you had on your system for each bisect. @stealthybox

[2020-07-30 17:54] stealthybox commented on #649
Thanks for calling that out.
I haven't reproduced it, on this commit range, but I noticed this issue with my make target when working on the udev ignite-spawn changes yesterday.
I'm pretty sure that's the issue

The arch specific target I changed to is:
`make bin/amd64/{ignite,ignite-spawn,Dockerfile}`

[2020-07-30 17:54] #649 closed

[2020-08-02 20:22] dyusupov opened #650 "Documentation on adding second CNI networking interface needed"
It would be great if such documentation would exists. Currently it is not clear what NS path to use...

[2020-08-10 16:09] stealthybox opened #657 "Fix dependency docs Other Binaries tree + add `blkid`"
https://ignite.readthedocs.io/en/latest/dependencies/#other-binaries

Followup #652

[2020-08-10 16:21] stealthybox opened #658 "TODO Fix `ignite stop --runtime=docker` related CI test failure"
See the commented out `TestVolumeWithDockerAndDockerBridge` from #653 for the unrelated test failure.

@darkowlzz mentions that this test passes on his digital ocean machine.
One guess is that this failure is timing or race related.
We suppose that this could be resolved in the docker runtime client.

[2020-08-10 16:29] stealthybox commented on #618
We have merged #656 which reduces the burden on PR's and moves to a weekly periodic check on master.

We should still follow this up with PR checks for links in diffs.

[2020-08-10 17:00] MarcoPolo opened #659 "ignited fails to start/create vm (ignite works)"
Hi! Thanks for the project. It's very cool.

I'm trying to get ignite working on NixOS for a fully declarative system, but I'm running into some issues with `ignited`. It seems like it doesn't fetch the vm image.

When following this: https://ignite.readthedocs.io/en/stable/installation/

after creating the file `/etc/firecracker/manifests/smoke-test.yml`

`ignited` picks up the changes, but doesn

[2020-08-10 17:23] #646 closed

[2020-08-10 17:26] stealthybox commented on #646
@mdundek Thank you for your bug report!
We fixed this in #653

You can build from `master` or wait for the next release :)

[2020-08-11 21:01] slimsag commented on #24
Question: Would this mean having the ability to operate without access to hardware-level virtualization, too? Or is that out of scope for this issue?

[2020-08-15 15:58] innobead opened #660 "Failed to restart a stopped VM caused by `a handled signal`"
When a VM stopped by a handled signal, `ignite-spawn` will update the VM running status to `false` but it does not handle the VM networking correctly to cause the VM unable to start due to `duplicated IP allocation error`.

## Steps to reproduce:
- `ignite run` starts a VM
- `kill -2 <ignite spawn/VM PID>`
- `ignite stop <VM ID>` failed to forcibly stop the VM
[code]
- `ignite start <VM ID>` faile

[2020-08-17 14:53] darkowlzz commented on #659
Hi, thanks for trying ignite. I followed your instructions and reproduced the behavior you observed.
Populating the VM config with:

[code]

When ignited detects the new VM file, it creates a new VM object in stopped state. In daemon mode, this seems to be the correct behavior.

If you follow the instructions in https://ignite.readthedocs.io/en/stable/gitops/ , you'd see that a VM status is set to

[2020-08-17 17:50] #660 closed

[2020-08-17 18:12] stealthybox commented on #504
Containerd lifecycle is still failing with the most recent network lifecycle change. (c17a99c7bbff8b9d1e96594e5f6356de61bb98fd)
On the ignite dev call, we discussed checking in some e2e tests with the goal of fixing these issues.

`docker+docker-bridge` and `docker+CNI` are working better in most state changes so we can test against them already and identify behavioral differences.

### Ignite run

[2020-08-18 17:18] MarcoPolo commented on #659
Thanks, that made me realize I was doing a couple things wrong when using `ignited daemon`.

I was running it with `sudo ignited daemon` which will not preserve the $PATH if the process spawns sub processes.
I also didn't have `runc` available to the nix-shell path

The correct steps to run this are:

On a nix system:
1. Clone this repo https://github.com/marcopolo/ignite-nix.
2. Inside the repo,

[2020-08-18 17:18] #659 closed

[2020-08-20 12:33] lukemarsden commented on #629
Sure, that makes sense. Closing this. Thanks!

[2020-08-20 12:33] #629 closed

[2020-08-20 12:40] lukemarsden opened #664 "Gateway set incorrectly in VMs after 256 VMs created"
So I have a machine where I've been using `ignite` intensively, and it's interesting that the old IPs allocated to the VMs never seem to be cleaned up:

![Screenshot from 2020-08-20 13-27-20](https://user-images.githubusercontent.com/264658/90770600-ed04e600-e2e9-11ea-8840-b0de9e334ec8.png)

That's not really the issue, though, although it's contributed to it. Rather, outbound network connectivity

[2020-08-23 11:01] darkowlzz opened #668 "ignited in daemon mode deletes the VM config"
As per https://ignite.readthedocs.io/en/stable/installation/#ignited-daemon, ignited creates VMs declaratively.
But ignited seems to delete the VM config from `/etc/firecracker/manifests/` after creating a VM:

[code]

The VM is left behind in stopped state:

[code]

Refer https://github.com/weaveworks/ignite/issues/659#issuecomment-674929825 for more logs.

[2020-08-23 23:58] Khalian opened #670 "Installation instructions dont work for Amazon Linux 2 for docker ce"
I created an EC2 instance with an Amazon Linux 2 AMI on a r5.metal instance since I dont have a box lying around with kvm and VT-x virt lying around.

I was looking at the instructions for installing the pre reqs here.

https://github.com/weaveworks/ignite/blob/master/docs/installation.md

Now there are no instructions for installing ignite on Amazon Linux (or RHEL for that matter) so I tried the

[2020-08-24 00:17] Khalian commented on #670
This should cover it : https://github.com/weaveworks/ignite/pull/671

[2020-08-24 00:22] Khalian commented on #406
This is not fixed

ignite version

[code]
and usage.

[code]
0.7.1 is the latest version as per the releases page.

[2020-08-24 00:26] Khalian opened #672 "Basic ignite commands require root"
ignite help
[code]

The only command that seems to be working is verison

[ec2-user@ip-172-31-10-187 ~]$ ignite version
[code]

I see this issue

https://github.com/weaveworks/ignite/issues/406

But it does not seem to work for other commands. Help should not require root.

[2020-08-24 15:43] #664 closed

[2020-08-24 15:52] stealthybox commented on #659
Thanks for writing up such a detailed issue @MarcoPolo :)

[2020-08-24 19:17] Khalian opened #673 "Instructions for running ignite using ECR (AWS Elastic Container Registry), or really anything that is not docker."
Hi

I am trying to use ECR as our OCI image repository, and I cannot get ignite working with images from ECR (the reason for this is that I cant just be using docker hub as is, since we need to put some sensitive proprietary code in there).

I tried the following

1. Ran the instructions on https://docs.aws.amazon.com/AmazonECR/latest/userguide/docker-pull-ecr-image.html. Then ran docker images an

[2020-08-24 21:12] Khalian commented on #673
Ok, I think I made some progress

I was looking at https://github.com/weaveworks/ignite/pull/564

And I managed to provide the ECR Image URI and import the image, so something like this

sudo /usr/local/bin/ignite image import myaccountId.dkr.ecr.us-west-2.amazonaws.com/prototype:lates --runtime=docker

And it seems the thing is now visible under sudo /usr/local/bin/ignite image import

So that wo

[2020-08-25 01:12] Khalian opened #674 "Support for public facing AMI setting up ignite"
Its quite a slog basically inventing these EC2 instances to go install ignite and then setup docker CE and stuff properly.

Ideally I would prefer public facing AMIs owned by weaveworks that have this sorted out, along with instructions on how to use them.

[2020-08-25 19:30] stealthybox commented on #670
Sorry -- I missed this issue when reading your PR.
It looks like this require is failing:
[code]

Here's the fix, I'll update the PR suggestion
https://github.com/aws/containers-roadmap/issues/614#issuecomment-559619366

[2020-08-26 14:32] stealthybox commented on #673
We recently added the option for a global config file which supports setting runtime among other defaults:
https://ignite.readthedocs.io/en/latest/ignite-configuration/

[2020-08-26 23:24] Khalian opened #675 "Cant import kernel from docker runtime"
So I tried running kernel import using the docker runtime from ECR.

[code]

And I cant seem to get that to work

[code]

[2020-08-27 02:41] Khalian commented on #672
This is for starters : https://github.com/weaveworks/ignite/pull/676

But I dont know what can or cannot be run as root right now. I would appreciate if I could have a list right now so as not to have to deal with this going forward.

[2020-08-27 02:59] #670 closed

[2020-08-27 04:39] Khalian commented on #673
Ah awesome that helps quite a bit.

However, I think I should still invest in writing documentation on how to handle registries other than docker hub.

There seems to be this implied contract (correct me if I am wrong) that these OCI images are vended by docker hub.

Its not self evident how I should interact with these other registries. For instance I am trying to use ECR, and for ECR you have to

[2020-08-31 08:47] darkowlzz opened #679 "flaky volume e2e test when using docker + CNI"
The volume e2e test is observed to fail frequently with Docker + CNI :

[code]

It passes on restarting the test, mostly.

Docker + CNI never worked on my development machine (ubuntu 18.04) but it works on TravisCI for all of the other e2e tests.

[2020-08-31 16:09] stealthybox commented on #673
Yes, thanks.
This is the heart of the issue, and we haven't addressed it yet.

I presume you could use the `containerd` runtime, as long as `containerd` was properly authenticated for your ECR repo.
I know this is possible via kubernetes, but I'm not knowledgeable yet on how to configure a raw `containerd` install.

If you would like to contribute a doc for "Image repos and container runtimes", I

[2020-09-02 04:53] lukemarsden opened #685 "Support terminal resize"
Would be really nice if terminal resizes after `ignite ssh` or `ignite exec` started got propogated down the SSH connection. I guess https://github.com/weaveworks/ignite/blob/5da6ea4100dbef5b49ee86229bc7981a696fb60b/cmd/ignite/run/ssh.go#L128-L132 has something to do with this.

[2020-09-03 20:44] urbien commented on #644
@stealthybox for us FireCracker snapshot is needed to decrease the cold starts in serverless. This would be good not only to reduce VM start, but to remove Node.js startup time. This is especially important for applications with that use Java VM, like Lucene. I am curious as to what delays we will incur on restoring from the snapshop (I understand it is highly dependend on I/O in a particular setu

[2020-09-08 00:47] #672 closed

[2020-09-14 15:13] #622 closed

[2020-09-14 15:19] networkop opened #690 "Ignite CNI leaves stale portmappings"
**Description**: when running ignite with default (CNI) plugin, portmappings are not being cleanup after VM removal.

**Environment**:
baseOS: `Linux 2020 5.7.17-2-MANJARO #1 SMP PREEMPT Sat Aug 22 14:58:17 UTC 2020 x86_64 GNU/Linux`
ignite: `v0.7.1`
CNI: `v0.8.7`

**How to reproduce**:
1. On a Linux VM, install ignite and CNI plugin binaries, following the steps outlined in the [release notes](ht

[2020-09-14 16:46] stealthybox commented on #690
Hi @networkop 👋
Thanks so much for looking into this -- we got really excited when we saw this in our triage/maintenance meeting.
The fact that you have a proposed code-fix is awesome.

Your change to the `RemoveContainerNetwork()` signature/logic look good to me.
The patch won't apply directly to the most recent commits on `master`, but the diff is not that big.

If you'd like to propose the PR,

[2020-09-14 20:04] networkop commented on #690
Hi @stealthybox ,
yeah, I'm happy to do the PR together with e2e test :+1: . What branch should it be against if not master?

[2020-09-14 20:40] stealthybox commented on #690
@networkop `master` is the proper branch to PR.

Was pointing out your suggested patch is against `v0.7.1` which is older, and the fn signature has changed 👍

[2020-09-14 23:03] araman18 commented on #489
Hello, I am a student from the University Of Texas At Austin and as a part of my virtualization class assignment I wanted to ask if I would be allowed to work on this issue, I was wondering if I could be assigned to this issue. Thanks.

[2020-09-14 23:07] Nit123 commented on #229
Hello, I am a student from the University of Texas at Austin. I wanted to know if a group of my colleagues and I could work on this issue as part of an assignment for my virtualization class. Thanks in advance!

[2020-09-14 23:08] Nit123 commented on #440
Hello, I am a student from the University of Texas at Austin. I wanted to know if a group of my colleagues and I could work on this issue as part of an assignment for my virtualization class as well as a recap on any work that's been done on the issue so far. Thanks in advance!

[2020-09-14 23:16] gpauloski commented on #440
My group focused on some other open issues so we did not end up doing any work on this.

[2020-09-15 01:09] Nicholas227 commented on #449
Hello, I am a student from the University Of Texas At Austin and as a part of my virtualization class assignment I wanted to ask if I would be allowed to work on this issue, I was wondering if I could be assigned to this issue. Thanks.

[2020-09-15 01:09] Nicholas227 commented on #449
Hello, I am a student from the University Of Texas At Austin and as a part of my virtualization class assignment I wanted to ask if I would be allowed to work on this issue, I was wondering if I could be assigned to this issue. Thanks.

[2020-09-15 01:09] Nicholas227 commented on #449
Hello, I am a student from the University Of Texas At Austin and as a part of my virtualization class assignment I wanted to ask if I would be allowed to work on this issue, I was wondering if I could be assigned to this issue. Thanks.

[2020-09-16 18:22] networkop commented on #690
Hi @stealthybox , can you check out #691 ? It fails on one of the e2e pre-existing tests but I'm not sure if it's supposed to fail like that or not.

[2020-09-20 11:49] anirudh-goyal commented on #301
Hello, I am a student from the University of Texas at Austin. I wanted to know if a group of my colleagues and I could work on this issue as part of an assignment for our virtualization class. Thank you!

(We don't have experience with virtualization so we chose an issue with the label `good first issue`)

[2020-09-21 17:15] #690 closed

[2020-09-28 15:39] stealthybox commented on #301
Hi @anirudh-goyal, we would welcome your contributions

This is definitely an approachable issue.
It's related to the api's we use to describe VM's

The code that needs to change starts here:
https://github.com/weaveworks/ignite/blob/9c9c4db/pkg/apis/ignite/validation/validation.go#L21-L22

Also, feel free to join our development calls on Monday.

[2020-10-01 23:02] EmeraldShift commented on #329
Hi! @doracgp and I are students at the University of Texas at Austin, and we are interested in virtualization and containerization. We'd like to tackle this issue. Can it be assigned to us?

To be sure, what does this issue entail, beyond adding a functional k3s image to `images/`?

[2020-10-05 15:22] stealthybox commented on #329
@EmeraldShift just the new image + some edits to the Makefile should be perfect.
If you'd like to update or author some related documentation, that could be a beneficial second step.

Feel free to take this one!  It'd be a great addition :+1:

[2020-10-05 15:22] stealthybox commented on #329
Feel free to join our dev call on Mondays if you need help :)

[2020-10-12 12:36] darkowlzz opened #711 "Concurrent VM creation failure"
We have concurrent VM creation issue again. It was fixed in #524 . But due to some recent changes in device mapper interactions, we have a regression.

[code]

Previously, it was fixed by introducing a lock file to make device mapper interactions serial. No test was added due to lack of testing tools back then. We should setup an e2e test for it this time.

[2020-10-12 16:03] stealthybox commented on #711
We've deduced this needs a lock when removing the snapshot.
This should probably be on the same lockfile for all dmsetup operations.

[2020-10-26 18:04] lukemarsden opened #721 "ignite ps stopped working"
I have a system where, after a reboot, `sudo ignite ps -a` has stopped working, it's just returning an empty response:

[code]

This is despite ignite VMs running:
[code]

I can even SSH into them:
[code]

Where should I start to look at what went wrong?

[2020-10-26 20:34] stealthybox commented on #721
Is /var/lib/firecracker/ still available?
Is that mounted over a network by chance?

What's the return code for the command?

Also, try `--log-level=debug` or `trace`

[2020-10-27 21:40] lukemarsden opened #723 "Host deadlock under load"
I have an ignite host that's routinely hanging under load. Host becomes completely unresponsive, doesn't ping, no messages on ipmi console. Ubuntu 20.04. AMD EPYC CPU, 24 cores (I think) with 128GB RAM.

How do you advise to diagnose the issue? I'd enable kdump but the kernel never panics, just hangs...

[2020-11-03 00:39] urbien commented on #659
had the same problem. Also using the `/etc/firecracker/manifests/smoke-test.yml`
Changed `status` to `running: true` and upon saving the file ignited daemon immediately picked it up. Then another problem occured:

[code]

[2020-11-06 13:28] chanwit opened #724 "Pre-flight check prevents Ignite to start (`strings` not found in PATH)"
A pre-flight check prevents Ignite to start a vm (`strings` not found in PATH)

https://github.com/weaveworks/wks-quickstart-firekube/issues/90

[2020-11-09 03:51] davxiao opened #726 "fail to start second ignite vm in ubuntu 20.04 running as a KVM guest os"
ignite fails to start second ignite vm in ubuntu 20.04 running as a KVM guest os. It hangs.
The first microvm runs with no issues.

ignite is deployed in ubuntu 20.04 which is running as a KVM guest os. The hypervisor is Proxmox 5.0.15 (based on Debian)

The ubuntu 20.04 has following spec:
Memory 8G
Processor 8 core (host)  # CPU is AMD Zen2 Ryzen 3700
Bios: OVMF(UEFI)
Machine: q35

[2020-11-09 20:09] stealthybox commented on #129
These patches remove the main blockers/caveats with running ignite under containers (like WSL2 distros):
- #652
- #653
- #654

We will work on making the experience of booting a modified WSL2 kernel easier (either by publishing a build or maintaining sources) and work on documenting the setup more fully.

The gist is that you currently need:
- Fast Ring Windows Build for nestedVirt /w WSL2
- Updat

[2020-11-12 13:31] lukemarsden commented on #644
This feature is available in dev preview now: https://github.com/firecracker-microvm/firecracker/blob/v0.23.0/docs/snapshotting/snapshot-support.md

Would be great to see Ignite add subcommands which support this, in particular which make resumed VMs work with newly allocated CNI addresses, and any other issues that come up.

[2020-11-16 17:05] stealthybox commented on #724
`binutils` contains the `strings` tool
This is listed in the ignite install docs for Ubuntu:
https://ignite.readthedocs.io/en/stable/installation/#installing-dependencies

Are there any other places where we're missing this documentation?

It doesn't look like we are pointing people to install the proper dependencies for KVM and ignite when getting started with Firecracker.

[2020-11-16 18:09] stealthybox commented on #723
Just noting from our previous convo in slack a few weeks ago:

Reducing the concurrent vm startup or runtime seems to have resolved some of this deadlock problem

[2020-11-16 18:10] stealthybox commented on #721
From Slack:

even better would be great to have a new release please, even if you have to do it manually :sweat_smile:

would have been really nice to have release notes like ignite rm no longer taking --runtime and the change in ignite inspect output (IPAddresses is now under Network)

but overall things are looking more solid now which is great :slightly_smiling_face:

I'm fairly sure we can clo

[2020-11-16 18:11] #721 closed

[2020-11-18 08:52] neith00 opened #734 "ambiguous kernel query: "weaveworks/ignite-kernel:4.19.125" matched the following IDs/names: weaveworks/ignite-kernel:4.19.125, weaveworks/ignite-kernel:4.19.125"
When running:
[code]
I always get:
```FATA[0000] ambiguous kernel query: "weaveworks/ignite-kernel:4.19.125" matched the following IDs/names: weaveworks/ignite-kernel:4.19.125, weaveworks/ignite-kernel:4.19.125 ```

I ran ```sudo ignite images -q | xargs sudo ignite image rm``` to clean local images but still happens

[2020-11-18 10:45] neith00 commented on #734
seems like ignite can pull concurrently the same image and affect different uuid.
running `sudo ignite kernels -q |xargs sudo ignite kernel rm && sudo ignite images -q | xargs sudo ignite image rm` then pulling the images before starting concurrently the VMs solves the issue.

[2020-11-23 16:18] stealthybox commented on #734
Sorry, yes, this currently is a known limitation.
We added locks free up contention on devicemapper and some other runtime resources for the VM, but the design for concurrent image pull has a few more open questions.

We've discussed how to support concurrent image pull in detail on the development call.
If you're interested and able to join, we're happy to discuss this again.

If we hashed the im

[2020-11-23 16:19] stealthybox commented on #734
The workaround for this is as you mentioned -- please pre-pull any shared images before you start your VM's concurrently  (OS and kernel)

[2020-11-23 16:30] stealthybox commented on #734
Also, we may be able to improve this failure mode.
It's a bit unfortunate that pulling concurrent images creates an ambiguous store that breaks even all future non-concurrrent runs.

Maybe we could just pick the newest matching image?

[2020-11-23 17:34] stealthybox commented on #614
This issue is slightly related to #734
This would not be a consideration if we were able to use a native containerd snapshotter that met our devicemapper needs.

Is there a sensible answer to this question? ^
Ignite ext4 snapshots don't have any idea of dependencies or shared OCI image "layers"

We could provide a helper to manage the source OCI images that back ignite ones.
We could also provide

[2020-11-24 18:50] EmeraldShift commented on #24
My impression of this issue is for the `ignite` CLI _only_, is that right? I think the daemon will always be using Firecracker under the hood, which implements KVM, and thus requires root.

[2020-11-24 22:49] OlegJakushkin opened #736 "Is there a python API or compatible with Docker SDK for Python?"
Is there a python API or compatible with Docker SDK for Python? A fork or something way to connect Ignite API and use it instead of Docker one in Docker SDK for Python?

[2020-11-29 22:10] EmeraldShift opened #740 "Malformed syntax & outdated/invalid `jq` argument in kubeadm image README"
`images/kubeadm/README.md` fetches the IP address of the `master-0` VM with the following line:
[code]

This seems to be problematic, since there's an extra `$` before `ignite`, which (unless set) evaluates to an empty string, causing the shell to run `inspect ...`, to no avail.

Additionally, the JSON path `.status.ipAddresses[0]` seems either invalid or outdated, as the correct path appears to b

[2020-11-30 14:56] darkowlzz commented on #740
Hi, thanks for opening an issue for this. We changed the location of `ipAddresses` recently in v0.8.0 and weren't aware of it being used here. `.status.network.ipAddresses[0]` should be the new path.
`$ignite` might have been a local variable on the machine the doc was tested and written on. We should fix it.
If possible, a patch fixing these would be of great help. 🙂

[2020-11-30 16:26] stealthybox commented on #736
There is currently no ignite equivalent to dockerpy.
dockerpy uses the Docker HTTP based API (either over a standard TCP or UNIX socket).

ignite does not have an HTTP or ttrpc/gRPC API for the `ignited` daemon mode.
This would likely be necessary and it's been discussed before, but no WIP on it right now.

If you want to program against ignite from python, you could make some progress on it via o

[2020-12-01 23:45] EmeraldShift commented on #329
This issue can be closed, as #739 resolves this.

[2020-12-07 16:16] #740 closed

[2020-12-09 11:57] lukemarsden opened #744 "race condition in downloading kernels"
My ignite host got into this state just by starting some VMs concurrently:

[code]

Then of course no VMs can start because of this error:
[code]

Ignite really shouldn't allow multiple kernels to be created with the same name, nor images, even if they are being downloaded/injected simultaneously (overlapping/in parallel with eachother).

[2020-12-09 14:55] hunhoffe commented on #744
I've seen similar states (ambiguous kernel, and ambiguous image) emerge from concurrent commands with v0.7.1 (I haven't updated to 0.8.0 yet). I would be very grateful if this behavior was fixed, because it was causing me some grief!

[2020-12-11 15:25] lukemarsden opened #745 "running microk8s inside an ignite vm causes it to stop (!)"
[code]
[code]
A few moments later, the VM just terminates (goes into `Stopped` state).
[code]
`journalctl -u &` shows the following suspicious looking lines:
[code]
I found https://github.com/systemd/systemd/issues/3374#issuecomment-288882355 and tried adding the following lines:
[code]
But the issue still occurs. What on earth is going on?

[2020-12-13 13:57] darkowlzz commented on #745
Hi, thanks for reporting the issue. I tried reproducing it by creating a new VM, as per the docs at https://microk8s.io/docs, with 4GB memory and 20GB storage. In the VM, I installed snapd and using snap, installed microk8s as per the same docs.

[code]

I didn't install docker. microk8s ran its own containerd as the container runtime.

[code]

I deployed a simple pod with busybox to ensure that t

[2020-12-13 14:16] darkowlzz commented on #744
Thanks for reporting this issue. This is a known issue and a limitation of ignite's client only model. In the past, we discussed about this issue in the weekly dev calls. For other concurrency related issues, for example, where a resource that's required to create VM is busy, we create a lock file to coordinate multiple VM creation processes. But in case of images, if we follow the same model, we'

[2020-12-14 16:10] stealthybox commented on #744
Just to state things clearly, the current workaround for this is to import all dependent OS and kernel images before you start your concurrent workloads.

ex:

[code]

[2020-12-14 16:28] stealthybox opened #746 "Investigate LSM kernel configs for SELinux and Apparmor"
While @darkowlzz was debugging #745, we noticed that the default ignite-ubuntu setup has some selinux traps.
The default kernels are configured with SELinux, but there are no userspace packages installed, and it is enabled by default.

We should consider if disabling SELinux for the Ubuntu image specifically is the propoer behavior.

In addition, it looks like AppArmor may not be enabled in the ke

[2020-12-16 18:56] bboreham opened #748 "Crash on network device with no gateway"
Stack trace:
[code]

This was achieved with the following network config:
[code]

(turns out ipvlan won't work even with this crash fixed, but that's another story)

[2020-12-16 19:00] bboreham opened #750 "Crash in ServeDHCP after boot"
Stack trace:
[code]

I haven't investigated yet.

[2020-12-17 10:19] bboreham opened #751 "ignite rm -f fails on dead/crashed container"
I was having issues which meant things had crashed; however I expect that there is some way to remove all reference to a VM rather than just complaining it can't be done.

[code]

[2020-12-21 12:02] mojojoji opened #754 "Running Firecracker VMs in Kubernetes with Ignite"
I came across the Ignite project when I was researching ways to run and manage VMs using Kubernetes. I had experimented with KubeVirt to run VMs using Kubernetes but wanted the speed of starting that Firecracker provides. Is there a way to run the ignite spawn and Firecracker in a Kubernetes Pod?

If this functionality doesn't exist then I would like to propose a way to implement this.

As per the

[2020-12-22 10:51] bsideup opened #755 "Duplicated images"
Hi!

It looks like parallel `ignite run`s with an image that wasn't pulled yet would cause multiple image downloads, and end up creating duplicated images, causing later `run`s to fail.

[code]

[2020-12-22 14:08] fire-ant opened #756 "ignite hangs when starting/running firecracker vm's using a CNI which is misconfigured/unhealthy"
#### Issue description

whilst testing ignite using the weave CNI I came across an issue which may be of interest.

It appears that ignite is dependent  on a functioning CNI but has no way to inform the end user as to whether the status of the CNI is known in the event that it is not functioning correctly. This leads to any attempt to start a VM silently hanging whilst ignite attempts to connect/i

[2020-12-23 11:59] bboreham commented on #679
Similar failure in `TestVMLifecycleWithDockerAndDockerBridge` https://travis-ci.com/github/weaveworks/ignite/builds/210384312

[2020-12-23 14:58] bboreham opened #764 "Stop double-building every PR"
As noted in the Travis docs: https://docs.travis-ci.com/user/pull-requests/#double-builds-on-pull-requests

I suggest that one or other should be turned off because they are identical in most cases.

[2020-12-27 12:29] supra08 commented on #440
Is anyone working on this? I would like to take a stab at this.

[2021-01-02 04:52] techknowlogick opened #765 "Archlinux AUR distribution"
I've just packaged ignite(d) for archlinux via their AUR package repository. More info here: https://aur.archlinux.org/packages/ignite/

[2021-01-04 06:24] darkowlzz commented on #755
Thanks for reporting the issue. This is realted to #744 and #559 .

[2021-01-04 06:55] darkowlzz commented on #764
This is usually not a problem if the PR is created from a fork. Since we usually create PRs from our forks, we don't notice this issue. Maybe restricting the builds to the main branch only should be good enough https://docs.travis-ci.com/user/customizing-the-build/#safelisting-or-blocklisting-branches .
I've noticed the same behavior in github actions when a PR is created from the same repo, not f

[2021-01-04 07:20] bboreham commented on #764
I tried a couple of settings but couldn’t find one that suited. Maybe me opening a fork would be ok.

However Weaveworks is now out of Travis credits so might be moot.

[2021-01-04 14:48] bboreham commented on #764
Now it appears that Travis is not being kicked off either from PRs or from merges to master.

At https://travis-ci.com/plans it says "upon validated request placed with our Support Team you may receive free OSS credits for your public builds", but I am unclear how to place such a request.  If I try to create an account on Travis it asks for permission to write every repo, which I'm not going to gi

[2021-01-04 20:09] stealthybox commented on #765
@techknowlogick thanks for adding this to the AUR!

Would you want to PR our install docs mentioning pacman/Arch support and the necessary install commands?

@darkowlzz and I looked at some PKGBUILDS and it looks like AUR does support building from a cached/persistent git-repo.
That could be a good alternative to just downloading the tarball.

Also, for our next tag, we've fixed that `*-dirty` ldf

[2021-01-04 20:12] stealthybox commented on #440
@supra08, nobody is working on this to our knowledge.
Feel free to join our [dev call](https://docs.google.com/document/d/1fv8_WD6qXfvlIq7Bb5raCGyBvc42dNF-l8uaoZzoUYI/edit) on Mondays if you want help getting started!

[2021-01-04 23:01] supra08 commented on #440
Sure, that would be great!

[2021-01-05 10:55] casibbald commented on #440
Do we have the same support for IPv4?

One would expect we should have this in place first, and is in fact valuable for another piece of work we have.

Charles Sibbald
Customer Success Engineer

charles.sibbald@weave.works
+44 7903 781 536

[2021-01-09 23:47] matti opened #768 "where to get wireguard kernel with k3s ubuntu 20.04"
error: Module wireguard not found in directory /lib/modules/5.4.43

[code]

[code]

[code]

[code]

[2021-01-09 23:57] matti commented on #768
where are these `weaveworks/ignite-kernel` (last push 7 months ago) built, where is the dockerfile?

[code]

[2021-01-12 18:45] stealthybox commented on #768
@matti This is an awesome use-case!
The kernel builds run within docker containers and are pretty quick:
https://github.com/weaveworks/ignite/tree/master/images/kernel

You'll want to add your CONFIG_ options to the config-patches file.
The Makefile patches these options for a matrix of configs, so the build is a bit unorthodox.
Check out the README for more info.

Please post back if you need mor

[2021-01-12 18:50] stealthybox commented on #440
@casibbald yep, the ignite-spawn sandbox uses a temporary, in-process DHCPv4 server to do a one-time configuration of the firecracker linux guest for any needed IPv4 addresses.

[2021-01-14 16:27] bboreham opened #771 "Flaky test TestConcurrentVMCreation"
Seen [here](https://weaveworks-foss.semaphoreci.com/jobs/77bb6c48-912a-484a-842a-ffa67f6697ab) for instance:

[code]

Another failure [here](https://travis-ci.com/github/weaveworks/ignite/builds/210388539) but that was when we had less logging info.

May be fixed by https://github.com/nightlyone/lockfile/pull/34

[2021-01-14 19:13] bboreham commented on #679
I drilled into this a bit on SemaphoreCI - can't get the test to fail reliably on my own machine.
It appears to be a race inside `ContainerStop()` whereby the container is removed before the operation completes.
Container removal is expected since Ignite sets `AutoRemove` (unless debug is on).

Evidence: I ran `docker events` in background and manually executed the `ignite` commands from the test:

[2021-01-15 09:57] bboreham commented on #658
Isn't this the same problem as in #679 ?

[2021-01-18 16:36] darkowlzz commented on #658
Yes, they are all docker related with the same container stop issue. The fix in #773 should solve this.
Great job on that 🥇

[2021-01-18 16:42] darkowlzz commented on #771
A few months ago, we saw this failure related to the lockfile only once and were never able to reproduce it. We also tried tracing the code in the lockfile project but couldn't determine exactly what was causing it.
We can use your fix of the lockfile and see if we encounter this issue again. With the docker container stop and this issue resolved, I guess all of our test flakes will be fixed. It'd

[2021-01-18 17:07] #679 closed

[2021-01-20 14:42] morancj commented on #630
## Workaround

Use an ext4 filesystem for `/var/lib/containerd`:
- Stop `containerd`
- Change `snapshotter` from `zfs` to `overlayfs`
- Create a ZFS volume, format as ext4, mount at `/var/lib/containerd`
- Restart `containerd`
- Verify `snapshotter` is `overlayfs`
- Create VM with `ignite`

### Example

[code]

`sudo ignite run ...` now runs as expected. Let me know if you want me to switch back t

[2021-01-22 10:19] casibbald commented on #751
additionally
Ignite still seems to keep an entry somewhere of a VM even after being killed by ctr.

`vagrant@ignite-dt-poc:~$ sudo ignite ps
VM ID			IMAGE				KERNEL					SIZE	CPUS	MEMORY		CREATED	STATUS	IPS		PORTS	NAME

af99123d59c0fbec	weaveworks/ignite-ubuntu:latest	weaveworks/ignite-kernel:4.19.125	4.0 GB	1	512.0 MB	10m ago	Up 10m	172.16.128.5		test112
`

`vagrant@ignite-dt-poc:~$ sudo ignite rm

[2021-01-23 04:02] #748 closed

[2021-01-25 16:16] stealthybox commented on #771
Thanks for this. I do remember seeing this issue and having trouble reproducing.
Hopefully the lockfile pkg maintainer responds to your issue.

If we can't get that change worked through, we can start using the fork here to see if it changes the behavior in CI.

I don't recall if our existing lock logic is defensive enough that it would retry if the first lock failed.

[2021-01-26 21:29] kellen-dunham opened #775 "Support CNI Network Name & Multiple Networks"
Ideally ignite would operate similar to docker or podman via support for attaching multiple networks to a container. Currently ignite only supports 1 CNI by the name "ignite-cni-bridge". It would be great if these hard-coded values could be at least configurable per ignite run (via flags or config yaml), or even better if more than 1 network could be attached to a VM.

[2021-02-01 09:39] Xanderux opened #777 "unit for flag --memory is in B, not in MB as shown in the README video"
Hello everyone,
I have encountered an issue with the --memory flag.
I did the same steps as :
https://asciinema.org/a/252221 in the README.md 'Getting Started'
I dit this command :
`sudo ignite run weaveworks/ignite-ubuntu --cpus 2 --memory 1024 --ssh --name my-vm6`
I had this error :
`FATA[0061] Tried connecting to SSH but timed out dial tcp 10.61.0.28:22: i/o timeout`
Contrary to the previous vi

[2021-02-08 16:07] darkowlzz commented on #777
Hi, thanks for reporting this. It looks like the video maybe outdated. The behavior looks right to me. The help text of the run command also includes a proper unit.

[code]

[2021-02-11 12:47] rdezavalia commented on #616
I'm having this same problem on ignite 0.8.0 on Archlinux. Is there any work around that I could try? Not sure how to debug this. Is there a way to get logs from the container?

[2021-02-17 08:30] pbajno opened #783 "Arm version"
When you will provide arm version for this? I see firecracker is compliant with arm and I am still waiting for this app to be working in this architecture.

[2021-02-17 11:02] dholbach opened #784 "Move off of peter-evans/link-checker GH action"
Move off of peter-evans/link-checker GH action, it's been replaced with https://github.com/lycheeverse/lychee-action

[2021-02-21 20:07] pbajno commented on #583
I have similar question, that would be if this can run on a KVM VPS server. Hmm, seems not at this point.

[2021-02-28 15:12] darkowlzz commented on #783
Hi @pbajno , ignite already has supports arm. We release arm binaries and docker image manifest list to automatically use the right image for arm. There's also a docs page describing how to use it https://ignite.readthedocs.io/en/stable/arm/ .
Hope that's helpful.

[2021-03-01 08:22] #783 closed

[2021-03-01 08:24] pbajno opened #788 "Failed to resolve docker.io"
Hey, I have this error which is appearing from multiple ISPs.

Ping does not work and mtr returns all nodes except the last one. Is it some kind of network filtering docker did for ddos protection? Do I have to login to get this container? Anybody have similar issue?

![image](https://user-images.githubusercontent.com/18303501/109470490-2926b980-7a78-11eb-8501-8317a69c6457.png)

[2021-03-01 16:45] darkowlzz commented on #788
Hi, the image `weaveworks/ignite:dev` is the ignite sandbox image and is used by ignite when you build it locally. The local build created the image with `dev` tag and stores in the local container image store. If you're using the latest release binary of ignite, that'll use the image `weaveworks/ignite:v0.8.0` by default.

While doing local builds, you can run `make` to build the ignite binary an

[2021-03-01 18:11] pbajno opened #790 "Failed to open netns "/proc/24720/ns/net": failed to Statfs "/proc/24720/ns/net" & Timeout waiting for ignite-spawn startup"
Maybe somebody else will also have this problem.

[code]

![image](https://user-images.githubusercontent.com/18303501/109539116-99116000-7ac9-11eb-84a2-3842a10dde64.png)

So I found solution from stack overflow https://stackoverflow.com/questions/31265993/docker-networking-namespace-not-visible-in-ip-netns-list

`sudo ln -s /var/run/docker/netns  /var/run/netns `

But then again I got this. I had

[2021-03-01 18:12] pbajno commented on #788
That helped. Thank you.

[2021-03-01 18:12] #788 closed

[2021-03-01 18:22] stealthybox opened #792 "Investigate test flake where ignite-spawn fails to add default route for VM net device"
See CI for more details:
https://weaveworks-foss.semaphoreci.com/jobs/5a909c1b-babc-4bf1-b3e4-aa43a9a113e2#L632/
[code]

[2021-03-01 18:41] darkowlzz commented on #790
Hi @pbajno , thanks for sharing about the above issue.
Regarding the ignite-spawn startup failure, can you share more information about it by running ignite run with `--log-level=trace`? Hopefully the trace logs will help us know what failed.

[2021-03-01 18:48] pbajno commented on #790
Nothing new here
![image](https://user-images.githubusercontent.com/18303501/109543817-74b88200-7acf-11eb-8021-c840e850b112.png)

[2021-03-01 19:05] darkowlzz commented on #790
I've seen similar issues when there's a mismatch between the ignite cli version and the sandbox (ignite-spawn) version. Since you reported using the `dev` sandbox in #788, there's a possibility that you built the ignite cli from the master branch and using the sandbox image v0.8.0. If that's true, the failure is because the latest ignite cli is using a different VM API that v0.8.0 sandbox is incom

[2021-03-01 19:16] pbajno commented on #790
Okay, it worked so then we close it.

[2021-03-01 19:16] #790 closed

[2021-03-01 19:18] pbajno opened #793 "Supposedly starts with ssh agent, but ignite ps returns nothing"
Supposedly starts with ssh agent, but ignite ps returns nothing.

`INFO[0007] Waiting for the ssh daemon within the VM to start...
`
![image](https://user-images.githubusercontent.com/18303501/109546941-7d12bc00-7ad3-11eb-9038-ad8144e722b3.png)

[2021-03-02 09:25] hellocloudnative opened #794 "Pull images from private registries"
ignite 无法拉取私有仓库的镜像嘛。

我执行ignite image import    我的私有仓库镜像
会报错

INFO[0000] containerd image "harbor.sh.deepin.com/amd64/golang:uos" not found locally, pulling...
FATA[0000] failed to resolve reference "harbor.sh.deepin.com/amd64/golang:uos": pull access denied, repository does not exist or may require authorization: server message: insufficient_scope: authorization failed

[2021-03-03 21:31] onatm opened #795 "Declarative port mappings and copy files values are getting cleared while CLI flags are empty"
The title is self-explanatory but I should give more details.

I start an ignite VM using the below declarative configuration by executing `ignite run --config ubuntu.yaml`:

[code]

When I run `ignite ps` I don't see any port mappings on the VM.

I've done some debugging and found where the issue is and it also showed me that `copyFiles` suffers the same problem.

Here's the offending line: https

[2021-03-04 05:38] gaby commented on #754
👍🏻 I'm also interested in this!

[2021-03-04 18:58] #795 closed

[2021-03-04 19:10] darkowlzz commented on #793
Hi @pbajno , can you provide some more information?
Are you able to use the VM? `ignite ssh <vm-name>`.
Do you not see any VM listed if you do `ignite ps -a` ? If not, can you check if `/var/lib/firecracker/vm/` contains any files associated with the VM UID?
You can also check if the underlying container runtime is actually running the VM.
For containerd: `sudo ctr -n firecracker t ls` should show

[2021-03-04 19:26] darkowlzz commented on #794
Hi, if I understand it correctly, you're running `ignite image import` and it's failing to pull the image due to authorization issue.
Ignite uses containerd (default) or docker internally. Depending on the container runtime you're using, you can configure them by following their respective docs:
* containerd - https://github.com/containerd/cri/blob/release/1.4/docs/registry.md
* docker - https://d

[2021-03-05 03:00] gaby commented on #623
@twelho I was wondering the same thing, it seems all the kernels/images from ignite are outdated.

[2021-03-08 16:29] stealthybox opened #803 "Track footloose ignite inspect API change"
https://github.com/weaveworks/footloose/issues/259

[2021-03-15 16:44] #751 closed

[2021-03-15 16:44] stealthybox commented on #751
:)

[2021-03-15 21:13] stealthybox commented on #794
This could be a common thing to trip over.
Most people will use Docker to build/push/pull images from their registry -- their containerd will not be configured to auth to the registry directly, especially for the firecracker namespace.

We should have a section in the setup docs that accounts for setting up the proper containerd namespace.

It's hard to recommend changing the default runtime for o

[2021-03-16 20:12] #623 closed

[2021-03-16 20:16] stealthybox commented on #616
@rdezavalia are you able to attach to your ignite VM's?
[code]

You can get a shell through that tty and debug inside out from there.

[2021-03-16 20:17] stealthybox commented on #616
If you can't attach, there's either something wrong with the container runtime (containerd/docker) or the firecracker VM within the ignite sandbox

[2021-03-17 00:37] #489 closed

[2021-03-17 01:20] gaby commented on #768
@matti Now that Kernel 5.10.x has been added, can you try this with `--kernel-image weaveworks/ignite-kernel:5.10.21` ? It's my understanding that Kernel 5.6.x is the one that introduced Wireguard.

[2021-03-21 20:28] gaby opened #810 "Support for ipvlan or macvlan?"
I was wondering if there's way to run ignite microVM's using Docker ipvlan/macvlan?

Usually the way I go about this is:

[code]

No only this setup gives you static-ips on each container, you also get L2 isolation via vlan trunking. Looking at the help menu from ignite the only option is "network-plugin" which only supports "docker-bridge".

[2021-03-22 16:06] stealthybox commented on #810
@luxas and @bboreham are currently pairing on a macvlan implementation.
Some of the bits and pieces are working.

The tricky bits here are how the network namespace and device nodes are setup in the ignite-spawn sandbox container because a character device needs to be passed through the firecracker config if we are not using TAP's with `/dev/net/tun`.

Keeping in mind the Docker network-plugins, w

[2021-03-22 16:22] stealthybox commented on #784
Should also check how many links we are checking and whether we need a 1,000 or 5,000 req/hr rate limit `GITHUB_TOKEN`.
https://docs.github.com/en/rest/overview/resources-in-the-rest-api#rate-limiting

If we need more than 5,000 req/hr, we need to run multiple jobs for every sub-folder

[2021-03-29 02:57] gaby commented on #810
I'm not sure how doable it would be but, attaching an ignite vm's to a docker networks? Ignite currently supports using the docker-bridge, would it be much different to use an *user-created* network?

[2021-03-29 10:13] ruishawn opened #813 "Cannot start after shutting down the Firecracker microVM"
Hi, We cannot start after shutting down the Firecracker microVM. Do Ignite restart and shutdown commands take effect for microvm？Can anyone help us, thanks！

Here are the steps performed

1. Create a firecracker microVM
   execute command: ignite run weaveworks/ignite-amazonlinux  --name micro-vm  --cpus 2  --ssh  --memory 4GB  --size 10G

2. SSH enter microVM, then execute shutdown or reboot comm

[2021-03-30 13:55] bboreham commented on #810
Small clarification: we were working on _macvtap_.

Ipvlan will not work with the current code; it expects that you give it a device which can has its own L2 identity.  I made #761 to fix the obvious crash but I suspect it won't work even after that.

As for using Docker network, I don't see any fundamental obstacle - it's doing roughly what the current CNI-based code does - but for these things t

[2021-03-31 19:01] ztmr commented on #399
Can we at least make the CNI path configurable in the meantime?

I am trying to run Ignite on NixOS which has CNI package but does not install it in the `/opt/cni`, so it would be great to be able to pass a CNI directory path to Ignite binaries explicitly, either via command line or env variable. Happy to raise a PR if we agree on the approach...

This would help me package and use Ignite on Nix p

[2021-04-02 16:13] ztmr commented on #399
One more thing: ignite is passing the paths to go-cni, so it would be nice if go-cni itself detected some kind of env var with overrides and this way, we would not need to do anything in ignite. However, it is still not nice to have these hardcoded!

[2021-04-03 10:09] darkowlzz commented on #813
Hi, thanks for reporting the issue. This was a known issue and was fixed in https://github.com/weaveworks/ignite/pull/735. It's not available in the released version of ignite yet. As a workaround, you can set the flag `--runtime containerd` for now.
We'll be releasing a new version soon which will have this fix.

[2021-04-05 17:19] stealthybox commented on #399
We've talked before about making CNI configurable in the Ignite Config API object that changes ignite's general behavior.

This would also have a key benefit in allowing a single ignite host to use multiple configurations for multiple different CNI networks on the same machine without relying on a CNI multiplexing solution like Multus:

https://github.com/weaveworks/ignite/issues/315#issuecomment-

[2021-04-05 17:26] stealthybox commented on #399
CNI confdir config can already be mutated at a host level while VM's (or even more generally, containers) are running.
That will affect the way the CNI plugins execute globally on the machine.

With this reasoning, it doesn't really feel any worse to add this at the ignite Config level rather than on the VM spec.
Adding this to Config improves the situation, because you can override the Config.

A

[2021-04-05 17:28] casibbald commented on #399
Sounds great if it can be overridden

On Mon, 5 Apr 2021 at 20:26, leigh capili ***@***.***> wrote:

[2021-04-06 01:20] ruishawn commented on #813
Ok, thank for your  reply.

[2021-04-13 12:10] borgez opened #820 "restart vm from /etc/firecracker/manifests"
when ignite stop vmid it wont start by ignite start

[2021-04-13 12:19] borgez commented on #820
#pull/735

[2021-04-13 12:19] #820 closed

[2021-04-21 16:42] talhazubairbutt commented on #794
@stealthybox just running `ignite image import --runtime=docker` does not work if the registry needs credentials even when your docker daemon is authenticated. An authentication error is thrown, however `docker pull image_name` and then running `ignite image import --runtime=docker` works as the image is locally fetched instead of being downloaded from remote with credentials. The issue that can b

[2021-04-21 16:52] MikePadge commented on #614
I assume this is what I'm experiencing here?

![Screen Shot 2021-04-21 at 11 48 03 AM](https://user-images.githubusercontent.com/22322602/115591223-7f092800-a297-11eb-93f8-9741afcb7272.png)

All with their corresponding /dev/loops

I currently have zero ignite images on my machine, I just noticed that these weren't getting cleaned up when removing the ignite instances.

Is there a recommended way

[2021-04-21 17:22] stealthybox commented on #794
@talhazubairbutt It looks like you are right.

The docker client does not pass any auth credential options.
I'm guessing this was assumed to be defaulted, but it may not be.
We should determine the right way to ocnfigure this:
https://github.com/weaveworks/ignite/blob/8c289b4/pkg/runtime/docker/client.go#L50

Have we tested that containerd works with private auth configs?
https://github.com/weavew

[2021-04-21 17:31] stealthybox commented on #614
@MikePadge
Your issue of leftover disks is unrelated to @twelho's observation of OCI images in the firecracker containerd namespace.
These end up here because we use the container runtime to import images to the ext4 disks, but they are not actually needed for runtime, just caching.
To list ignite's containerd images, do:
[code]

WRT leftover disks:
Have you been using ignite for several versions?

[2021-04-21 19:32] MikePadge commented on #614
No, I just started introducing myself to ignite recently, so I doubt I'm mixing versions. I did recently bump the latest 8 to 9 though.

It could also have something to do with me handjamming this (below) for cleaning. I'll add the vm rm command in there (or just use the cleanup script in the quickstart repo) to see if that alleviates

[code]

Either that, or I've been having a lot of trouble with

[2021-04-21 19:32] MikePadge commented on #614
No, I just started introducing myself to ignite recently, so I doubt I'm mixing versions. I did recently bump the latest 8 to 9 though.

It could also have something to do with me handjamming this (below) for cleaning. I'll add the vm rm command in there (or just use the cleanup script in the quickstart repo) to see if that alleviates

[code]

Either that, or I've been having a lot of trouble with

[2021-04-26 20:59] MikePadge opened #826 "Unknown Network Plugin "flannel""
Using the test script located here
https://github.com/weaveworks/ignite/blob/main/tools/ignite-flannel.sh

I added flannel to my test host, but attempting to run ignite with the config fails

Note: I'm purposefully testing on debian with minimal configs to break things, if this is not helpful please let me know, and I can swap to Ubuntu
`Linux 4.19.0-14-amd64 #1 SMP Debian 4.19.171-2 (2021-01-30)

[2021-04-27 02:10] MikePadge commented on #768
It looks like the problem might be when trying to create the wireguard interface @gaby I added the 5.10 kernel, but if you go to manually create a wireguard interface (or really any ip link interface it looks like)

`ip link add dev wg0 type wireguard`

Error: Unknown device type.

I've seen this type of error before with wireguard when missing kernel headers in debian, but even adding the headers

[2021-04-27 15:27] lukemarsden opened #827 "extremely slow vm networking?"
Has anyone seen VM networking being very slow and flaky? This is with ignite 0.8.0.

Speed test (python speedtest-cli package) outside the VM is 1gig+
[code]

Speed test inside the VM is like 14mbit...
[code]

Possibly related, there are 100k+ files in `/var/lib/cni`. But I'm seeing networking flakiness and slowness even when I clean out `/var/lib/cni`. Starting VMs does speed up again when `/var/

[2021-05-01 15:48] xiaoxianx opened #828 "CANT ignite ps -f {{.ObjectMeta.Name}}= prefixname to filter vms have specific prefix name"

[2021-05-01 15:52] xiaoxianx commented on #828
in docker  can use   docker  ps -f  name=^/prefix

[2021-05-01 16:01] #828 closed

[2021-05-01 16:01] xiaoxianx commented on #828
- "=~" for the contains

[2021-05-03 16:07] stealthybox commented on #826
Awesome that you're trying this out @MikePadge :+1:

The issue with your ignite config is that `flannel` isn't a valid ignite config string.
Ignite doesn't know anything specific about Flannel, only the general CNI interface.

Flannel is a CNI plugin so you want to configure ignite to call CNI (it already does this by default)
[code]

So if you want to have an explicit runtime/network config, it s

[2021-05-03 16:17] stealthybox commented on #768
Perhaps we need to enable WIREGUARD in the kernel build:
[code]
[code]

[2021-05-03 16:20] stealthybox commented on #768
See the README for https://github.com/weaveworks/ignite/blob/main/images/kernel.
This is the relevant config patch file: https://github.com/weaveworks/ignite/blob/main/images/kernel/config-patches

example patch: #497

[2021-05-03 16:22] stealthybox commented on #768
I know sometimes building a kernel can sound intimidating.
The kernel build is containerized and very repeatable, so you should be able to make your own and test.
If you need help doing this, please say so!

@darkowlzz and I would certainly be comfortable adding wireguard to the kernel build.
This is very in-line with other k8s related networking primitives like VXLAN.

[2021-05-03 16:24] stealthybox commented on #768
The Gentoo guide mentions this:
[code]
gentoo-source: https://wiki.gentoo.org/wiki/Wireguard

[2021-05-03 17:06] stealthybox commented on #827
That's really peculiar.
When the VM's "speed up again", how is the performance?

With just a small number of VM's on my WSL2 ignite host, I'm seeing effectively native bandwidth on my gigabit uplink using the CNI bridge.

Maybe @bboreham or CNI bridge-plugin maintainer would know how extensive usage could cause the host kernel to slow down WRT bridge networking?

[2021-05-04 03:58] lukemarsden commented on #827
Came back to this because I saw the issue again. There are a great many files in `/var/lib/cni` again, `iptables` is using a lot of CPU as the system adds new VMs, and `iptables --list` is slow and returns a lot of of results.

There are only 15 VMs running on this system. VMs are terminating normally using `ignite rm`. Why isn't their networking being cleaned up?

This issue seems to be stopping

[2021-05-04 04:02] lukemarsden commented on #827
Inside VM:
[code]
Outside VM:
[code]

[2021-05-04 04:03] lukemarsden commented on #827
Any ideas @bboreham? Hi btw :-) :wave:

[2021-05-04 07:03] lukemarsden commented on #827
https://github.com/weaveworks/ignite/pull/442#issuecomment-533439114 indicates that iptables rules were once cleaned up, but I'm seeing them not being cleaned up on `stop` or `rm`:

[code]

[code]

[2021-05-04 07:05] lukemarsden commented on #827
same behaviour with newer CNI as well:
[code]

[2021-05-04 07:49] lukemarsden commented on #827
to see what was going on, I moved `/opt/cni/bin/bridge` to `/opt/cni/bin/bridge.real` and dropped this debug script into `/opt/cni/bin/bridge`

[code]

I am seeing both ADD and DEL commands:
[code]

[2021-05-04 08:01] lukemarsden commented on #827
this seems to be operating correctly, so my assumption is now that ignite is doing something with iptables rules itself that it's failing to clean up. I'm not sure though. I'm not sure why the CNI bridge plugin doesn't release the IP addresses though, very many files in `/var/run/cni` still strike me as suspicious.

[2021-05-04 08:11] lukemarsden commented on #827
possibly related, i am running `ignite run --runtime docker`, i.e. using the legacy docker runtime (so that i can use docker images that are built locally by docker)

[2021-05-04 08:11] lukemarsden commented on #827
i guess actually we are using the firewall plugin in CNI to create the iptables rules that aren't being cleared up? and host-local plugin for IPAM?

[2021-05-04 08:17] lukemarsden commented on #827
adding instrumentation to `firewall` and `host-local`, looks like they all think they are succeeding, so why are we leaking IPs and iptables rules??

[code]

[2021-05-04 08:19] lukemarsden commented on #827
for reference:
[code]

[code]

[2021-05-04 18:17] networkop opened #829 "Examples of mounting volumes"
I was trying to find a good example of e2e UX for mounting volumes.  I've only been able to find this https://github.com/weaveworks/ignite/blob/main/e2e/run_volume_test.go#L17
Is there a better, user-friendly example?

[2021-05-05 06:35] lukemarsden commented on #827
I've worked around this for now by writing my own code which interacts with `iptables` and `/var/lib/cni` to do the cleanup that ignite + docker + CNI fails to do.

[2021-05-05 06:36] lukemarsden opened #830 "ignite ps misses vms!"
vms are running. `ignite ps` doesn't notice them! but `ignite inspect` is able to see them.

compare docker's view of what's running:
[code]

to `ignite ps`'s view:
[code]

[2021-05-05 06:37] lukemarsden commented on #830
[code]

[2021-05-05 14:39] networkop opened #831 "Consider adding support for bridge-less networking"
Hi 👋 , would you consider adding support for bridgeless networking using [tc redirect](https://github.com/awslabs/tc-redirect-tap), similar to what [kata containers](https://github.com/kata-containers/documentation/blob/master/design/architecture.md#networking) and [fircracker-containerd](https://github.com/firecracker-microvm/firecracker-containerd/blob/main/docs/networking.md#a-preferred-traffic

[2021-05-07 08:56] networkop commented on #827
I'm not sure if ignite forces docker runtime to use CNI (it's not trivial) but wouldn't it make sense to use  `--runtime docker` together with  `--network-plugin docker-bridge`? In this case I don't see any stale entries in my iptables

[2021-05-07 10:09] networkop opened #832 "Re-work network connectivity"
Hi again 👋 ,
I've been looking at how network plumbing has been done and I think it can be improved slightly.
Right now networking is setup _after_ the container is started.
[code]
Followed by the `ignite-spawn` 's call to `SetupContainerNetworking` which waits for at least one interface to be connected.

The problem is that, in theory, this could lead to non-deterministic networking setup. Let's

[2021-05-07 13:24] lukemarsden commented on #827
--runtime docker together with --network-plugin docker-bridge worked when I
ran it manually but mysteriously failed (couldn't ping VMs) when running it
from the code which wraps ignite in our project

On Fri, May 7, 2021 at 9:56 AM Michael Kashin ***@***.***>
wrote:

--
lukemarsden.net
***@***.***
@lmarsden <https://twitter.com/lmarsden>

[2021-05-09 08:04] dit7ya commented on #829
Have you found something? I am trying to figure this out and its so confusing. Following the link above what I got was one directional mount only - changes in the VM reflected in host but not the other way round.

[2021-05-09 09:20] networkop commented on #829
nope and it looks like the host mounts are not supported at all. I think I've read somewhere that this is by (FC's) design. But it'd be nice to at least document what's possible and what are the limitations.

[2021-05-09 09:41] dit7ya commented on #829
Apparently this is a feature?
I am not sure if this PR does what we are talking about>

https://github.com/weaveworks/ignite/pull/275

[2021-05-09 18:56] networkop commented on #829
I was referring to this https://github.com/weaveworks/ignite/issues/76#issuecomment-510665743
The way I read it is that 2-way mounts are not supported. is that how you understand it as well?

[2021-05-09 20:02] darkowlzz commented on #794
@talhazubairbutt hi, I've created #833 to address this issue. It would be of great help if it's possible for you to try it out and provide some feedback.

[2021-05-09 20:10] darkowlzz commented on #830
@lukemarsden hi, in ignite v0.9.0, we added some improvements to help with this in #787 and #808 .
Can you try ignite v0.9.0 and run `ps` with `-a` and check if this is still an issue?
And also, to improve the warning in the output to be more helpful any feedback would be of great help.

[2021-05-09 20:29] darkowlzz commented on #829
Hi, currently, we only support exposing block volumes inside a VM as mentioned in #76 and shown in the e2e volume test. Mounting the VM block file on host and writing to it does not work, maybe because it's managed by the device mapper snapshotter when the VM is active.

@networkop and @dit7ya can you explain more about your requirements, what are you looking for or trying to do? Maybe we can disc

[2021-05-09 23:45] talhazubairbutt commented on #794
Sure, ill test this out tomorrow and get back to you

[2021-05-10 06:02] dit7ya commented on #829
@darkowlzz My requirement is this - The VM can both read and write to a persistent directory in the host - which the host can also read and write to at the same time - keeping them both in sync.

To explain my use case better - I am creating an API for executing arbitrary code. I want the code to be run in a secure environment but want the API server out of the VM (to keep it stable in case the VM

[2021-05-11 11:22] networkop commented on #827
not sure why you'd have a problem doing this via API, it should work the same way.

But as for the IPT leaking with docker runtime, I think I've found the issue -- IPT rules are setup by the CNI plugin using proper docker container ID as the "id" in IPT rule comments, however, when they are being removed, the call to `RemoveContainerNetwork` is made with `vm.PrefixedID()`, which is docker containe

[2021-05-11 21:26] #392 closed

[2021-05-12 03:11] MikePadge commented on #768
I made changes in https://github.com/weaveworks/ignite/blob/main/images/kernel/config-patches to add what looks to be the only missing config option from what https://wiki.gentoo.org/wiki/Wireguard lists as needed for wireguard post 5.6.

config-patches
...
[code]

Then rebuilt the docker kernel image, and ran into the issue of ignite not wanting to pull that docker image and trying to match whate

[2021-05-16 19:33] MikePadge commented on #826
Thanks, I could have sworn I stumbled on a Weave doc somewhere that had that network plugin listed as flannel in the ignite config, or else I wouldn't even have bugged yall about this.

[2021-05-16 19:33] #826 closed

[2021-05-17 18:13] #794 closed

[2021-05-17 19:01] stealthybox commented on #829
@dit7ya while there are technical limitations for this right now.

Here are some options you could explore:

You could create an ext4 loopback device with losetup that contains a copy of the source code you're intending to run. This device would mount into the VM and you could read/write it internally.
You could also inspect the loopback file system from the outside while or after the VM is done r

[2021-05-18 15:54] MikePadge commented on #830
Just noting "ps -a" from Dockerland expected behavior is to see images that exist but aren't running. This really confused me when I noticed that that ps vs ps -a was giving me hidden machines that were in fact in a running state.

[2021-05-21 09:53] lukemarsden commented on #827
thanks @networkop good spot. Any chance we could get this fix into a release please?

[2021-05-23 13:21] networkop opened #843 "timeout waiting for ignite-spawn startup"
I'm seeing this error every time when I try to re-start a stopped VM. Noticed it when E2E tests failed.

Here are the steps to reproduce:

[code]

The logs from the container runtime seem to suggest it's a storage/devmapper issue:

[code]

I can see that the /dev/mapper device is passed to the container runtime:

[code]

And it's definitely present when I try to restart the VM:

[code]

I'm not re

[2021-06-28 09:26] darkowlzz commented on #831
Implemented in #836

[2021-06-28 09:26] #831 closed

[2021-06-28 09:27] darkowlzz commented on #832
Addressed in #836

[2021-06-28 09:27] #832 closed

[2021-06-30 14:26] networkop commented on #843
I can't seem to reproduce this anymore. Closing for now.

[2021-06-30 14:26] #843 closed

[2021-06-30 14:30] networkop opened #851 "Change dhcp.hostname value"
[At the moment](https://github.com/weaveworks/ignite/blob/main/pkg/container/dhcp.go#L31) VM's hostnames are set to the value of their UUID which is not human-readable.

[code]

How about we change this to `vm.Name` instead to make things more human-friendly?

[2021-07-02 13:29] networkop opened #852 "Pass vm.Labels to runtime containers"
Right now VM labels only exist on a VM itself. The only labels that's propagated to the containers is `ignite.name`
https://github.com/weaveworks/ignite/blob/main/pkg/operations/start.go#L77

It'd be nice to propagate the full set of labels to the underlying container as well. wdyt?

[2021-07-04 19:57] darkowlzz commented on #852
Sounds good to me. We'll have to add some validation in the labels to prevent the user provided VM labels from overwriting the ignite set labels like `ignite.name`.

[2021-07-05 15:13] darkowlzz commented on #851
I believe this behavior is based on docker's behavior
[code]

[2021-07-05 15:41] networkop commented on #851
ok, makes sense

[2021-07-05 15:41] #851 closed

[2021-07-09 10:43] lukemarsden opened #853 "kernel headers in base images"
what's the easiest way to get kernel headers into base images?

out of the box, with ignite this fails like this:
[code]

presumably because you're compiling a custom kernel? is there an option to use the stock ubuntu kernel?

[2021-07-09 10:43] lukemarsden commented on #853
(use case: running sysdig in ignite, see https://docs.sysdig.com/en/steps-for-kubernetes--vanilla-.html)

[2021-07-12 15:51] stealthybox commented on #852
Notable that k8s api machinery dictates labels be dns-1123 subdomains.
That means that labels should be small and in a fairly restricted schema that should be compatible with most or all container runtimes.
  (currently, docker and containerd are supported by ignite.)

Should be okay to just pass down all VM labels to container runtime, with the exception of ignite runtime necessities like `ignite

[2021-07-12 16:32] stealthybox commented on #853
Our builds are fairly plain, so existing kernel-headers for the same major version would likely be operable, but it's not ideal to pretend to rely on that.
A symlink can be used to make the upstream header files match your ignite kernel's version name?

Are you able to get unblocked even though that's not an ideal solution?

One thing we could do is publish debs and rpms alongside the kernel build

[2021-07-12 16:40] stealthybox commented on #853
This is how to build the raw header files:
https://unix.stackexchange.com/a/424982

This is how to produce the apt/deb pkgs:
https://stackoverflow.com/a/19497460/5957101

We would modify our `ignite/images/kernel/` build to produce these artifacts.

[2021-07-19 20:46] stealthybox opened #859 "OpenSUSE Dockerfile does not build: `chpasswd` command not found"
When releasing the v0.10.0 images, our OpenSUSE Leap OS image build [failed](https://github.com/weaveworks/ignite/runs/3107948135).
The root of the problem may be that upstream SUSE removed `chpasswd` from their base container image.
The solution is hopefully simple: find the package(s) containing missing binaries so that we can make the build succeed again.

This is how you can build the image lo

[2021-08-02 17:26] darkowlzz commented on #859
I spent some time on this today, was curious about the failure, and found that it fails on tumbleweed only. leap has `chpasswd` installed by default. Installing `shadow` package installs `chpasswd` and the image build succeeds. :slightly_smiling_face:

[2021-08-03 06:34] #859 closed

[2021-08-08 19:01] tech2secure opened #862 "unable to start docker service inside ignite vm"
![image](https://user-images.githubusercontent.com/88575772/128642889-cde9f882-41c3-4708-89fd-02342cb3b6f5.png)

[2021-08-09 06:29] codesiddhant commented on #754
I'm also interested in this

[2021-08-09 17:22] stealthybox commented on #754
@darkowlzz and I would love to see a POC of this.
Some other users have also had success running nested KVM inside of ignite VM's.

The init-container design sounds like a pretty cool way to expose some status information using the native Pod API.
It does add some latency to the VM start, so there is a trade-off there.
Potentially, we could expose some of that structured status in a Custom Resourc

[2021-08-09 17:39] darkowlzz commented on #862
Hi, can you provide more information to reproduce this issue?
I tried using `weaveworks/ignite-ubuntu` OS image, installed docker using `apt install docker.io`, started the docker service with `systemctl start docker` and got docker working:

[code]

[2021-08-10 17:11] mojojoji commented on #754
Since I didnt get any response here for a long time, I had built something similar using firecracker without using ignite.
To build root filesystem from container image (Ahead of time): https://github.com/anyfiddle/firecracker-rootfs-builder
Init container to pull the root filesystem and make it ready for firecracker: https://github.com/anyfiddle/kubecracker-init
The container that runs firecracke

[2021-08-14 14:39] Mulham-Raee opened #864 "Enable nested-virtualization"
Is Nested Virtualization supported, where we can start VMs inside ignites' microVMs? If yes how can it be enabled?

[2021-08-16 15:59] stealthybox commented on #864
@Mulham-Raee yes, nested KVM does work.
We had a use in Slack talking about this very recently.
https://weave-community.slack.com/archives/CL1A4S5UJ/p1627835730000600

It looks like all that is required is to enable the KVM kernel config options in ignite's kernel build.
See the docs [here](https://github.com/weaveworks/ignite/tree/main/images/kernel#kernel-config-parameters-we-care-about).

We do

[2021-08-16 17:07] Mulham-Raee commented on #864
@stealthybox thanks for the info. Could you please invite me to the slack community (mulham.raee@gmail.com). the link https://slack.weave.works/ is broken and doesn't allow me to request an invitation.

[2021-08-16 22:53] stealthybox commented on #864
Ah!
does this app get you an invite?
I just got it a few links down on Google:
https://weaveworks.github.io/community-slack/

[2021-08-17 07:39] Mulham-Raee commented on #864
Also not working, I get `Error! 'error'` when I click Join :)

[2021-08-17 18:18] darkowlzz commented on #864
@Mulham-Raee Can you try this https://join.slack.com/t/weave-community/shared_invite/zt-u6mn5bdh-kapvABTU7Lfzw0FZM7WWAA - this invite may be valid for 24 days only.

[2021-08-17 21:34] Mulham-Raee commented on #864
Thank you, I managed to get in :)

[2021-08-18 05:58] rarkins opened #865 "Slack / help"
Hi, I was looking to ask some questions, and the advice seemed to be "Invite yourself to the Weave Users Slack". That link takes me here:

![image](https://user-images.githubusercontent.com/6311784/129845005-0b5fae69-c2b7-4671-adc7-e88f041b97e0.png)

Which links to https://weave-community.slack.com/

But there does not appear to be a way to *invite myself* into that workspace. If I try to log in w

[2021-08-18 09:00] chanwit commented on #865
@morancj could you please help us with setting up a new Slack invite for this project?

[2021-08-18 10:33] morancj commented on #865
@chanwit we (actually, DX) use https://communityinviter.com/ for self registration via https://slack.weave.works/. communityinviter.com seems to be breaking for several sites ([example](https://github.com/talos-systems/talos/issues/4031)) recently.

[2021-08-18 10:38] rarkins commented on #865
The form showed for me just now and I submitted. Thanks!

[2021-08-28 06:25] lukemarsden commented on #827
I guess this made it into https://github.com/weaveworks/ignite/releases/tag/v0.10.0?

[2021-09-01 05:53] davxiao opened #867 "ignited daemon mode crash due to empty status runtime"
I got the error when following the [guide](https://ignite.readthedocs.io/en/stable/installation/) under the section `Verify the micro-VM is accessible (username: root, password: root)`

Version information as follows:

Ubuntu 20.04.3 LTS
ignite and ignited installed latest version

[code]

[code]

[2021-09-03 10:04] darkowlzz commented on #827
@lukemarsden yes, it did https://github.com/weaveworks/ignite/commit/2f840ad44c39dcb31c53ce3865d28d15b162c90c .

[2021-09-03 13:46] darkowlzz commented on #867
Hi @davxiao , thanks for reporting this issue. ignited isn't well tested at the moment due to which we weren't aware of this issue. I was able to reproduce it and created a fix for it in #868 . Also added an e2e test so that we get to know the next time it breaks due to some API changes.
If you could try the patch in #868 and provide any feedback, that would be very helpful in making ignited bette

[2021-09-10 13:09] GrigoriyMikhalkin opened #869 "proposal: cmd: add -a(all) flag to ignite image rm command"
Currently, to remove all images user needs to specify each image ID or name by hand, which is quite inconvenient. It would be useful to have flag `--all(short: -a))` that would allow to remove all existing images.

[2021-09-10 16:31] #867 closed

[2021-09-10 16:32] stealthybox commented on #867
Thank you for the detailed report :+1:

[2021-09-10 16:58] stealthybox commented on #869
The docker equivalent way to do this is:
[code]

This also works for ignite:
[code]

How does that solution look to you?
It's not as simple as a single flag, but it's been that way with docker for a long time.

Another related docker command that we would consider adding would be `docker image prune --all`

[2021-09-10 17:35] GrigoriyMikhalkin commented on #869
@stealthybox  IMO, it's a little bit complex(i.e. needs memorization). I usually use `docker image prune -a` command, as you mentioned.

If it's ok, i would like to work on adding `ignite image prune` command (with `--all` flag). Question is, would `prune` command be identical to `rm` command in context of `ignite`(besides `--all` flag)?

[2021-09-11 14:02] darkowlzz commented on #869
Hi @GrigoriyMikhalkin , the prune command in docker is used to remove dangling images by default and `-a` is a special case. In case of ignite, I don't think we have dangling images. So the behavior of image prune in ignite would likely be to just remove the unused images. I don't think we'd like to implement `-a` to remove all the image, even the ones in use by VMs.
To get started, I would recomm

[2021-09-15 11:16] networkop opened #870 "DHCP sending corrupt UDP checksum"
Hi friends 👋 ,
how you are all doing well. It's me again with a minor bug we've picked up recently.
It looks like the tap interfaces that we create for FC VM have checksum offloading enabled by default, which leads to DHCP reply packets reaching the `eth0` inside a VM with incorrect checksum.

For some reason, older kernel versions do not ignore this and drop the DHCP replies instead of accepting

[2021-10-08 10:52] srbala opened #872 "Adding OSs `AlmaLinux` and `Rocky Linux` in images"
It would be nice to add `AlmaLinux` and `Rocky Linux` in images, any objection. If acceptatble I can work on a PR

[2021-10-09 14:53] milahu opened #873 "load container image from file"
in docker we have `docker load`

[code]

how does this work with ignite?

[2021-10-16 10:19] reshefsharvit opened #874 "Is there a way to run the OCI image entrypoint/cmd/app automatically?"
I may be missing something, but the farthest I managed to get was having the VM boot properly, and then need to do ```ignite exec $COMMAND``` or SSH to it to run my application.

the command I use:
```ignite run my-image:latest --ssh --size 5GB --runtime docker --ports 8888:8888 --network-plugin docker-bridge```

I am using the latest ignite-ubuntu image, which I added stuff to obviously.

[2021-10-19 06:55] darkowlzz commented on #874
Hi, thanks for trying ignite.
Unfortunately, there's no way to do that. You have to exec separately to run the command you want to run. OCI image is used for the rootfs of the VM. Unlike containers, run in this case is to run the machine. Individual processes have to be run separately. You should be able to run startup jobs if you configure it in the filesystem correctly, depending on the OS.

[2021-10-19 22:32] jeffmcaffer opened #875 "Basic scenario files on `umount` error"
With a fresh download of ignite 0.10 on Ubuntu 20.04 (amd64) and run the first line of the README example. Fails on umount.
[code]
I get the same thing using ignited and following the getting started example with smoke-test.yml

I tried building from source and that didn't help. Also poked around in the code to find [the failing `umount`](https://github.com/weaveworks/ignite/blob/main/pkg/dmlegacy

[2021-10-19 23:04] jeffmcaffer commented on #875
I went through the code and found everywhere that `resize2fs` is called and it DOES appear that `e2fsck -pf is being run. However, in all cases it appears any errors it may be giving are being skipped.

It seems that when I run `e2fsck -pf` from the command line I get the following error.
[code]
So perhaps skipping the errors masking this issue and there is in turn some other more fundamental issu

[2021-10-21 16:31] #875 closed

[2021-10-21 22:16] darkowlzz commented on #658
Yes, that solved the issue and since then we have been running `TestVolumeWithDockerAndDockerBridge` test without any issue.
Closing this issue. Feel free to ask any related questions if you have any. Thanks :)

[2021-10-21 22:16] #658 closed

[2021-10-22 01:40] jhult commented on #768
Any updates on this?

[2021-10-25 22:51] jhult opened #880 "docs: FAQ updates related to Docker runtime"
This section seems outdated (specifically in regards to Docker being the only available runtime): https://github.com/weaveworks/ignite/blob/main/docs/FAQ.md#q-why-is-docker-containers-neededused

   process under `systemd`, but this was in many ways suboptimal. Attaching to the serial console, fetching
   logs, and 2. and 3. were very hard to achieve. Also, we'd need to somehow install the Firecra

[2021-10-31 18:28] #872 closed

[2021-11-12 05:54] stealthybox commented on #874
If you add a systemd unit file to the proper directory within the Docker container, it will start your service on boot.
This is the case for most packages you install that run their own server (apache/nginx/mysql/postgres).

If you're running you're own app, you will write your unit file yourself.

[2021-11-12 06:13] stealthybox commented on #768
The kernel-config and kernel builds definitely had some confusing structure.
@darkowlzz and I recently just refactored it and make it possible to run single versions.

Specifically, when you update `config-patches`, you need to run `make upgrade` for all the supported kernel versions or at least run the specific ones you intend to build: `make upgrade-${KERNEL_VERSION}`.
This will patch the kernel

[2021-11-12 07:37] subzero112233 commented on #874
The. What’s the point in supporting docker if you cannot run their commands?

[2021-11-13 04:13] stealthybox commented on #768
Made a personal branch to patch all the versions:
branch: https://github.com/stealthybox/ignite/tree/wg-kernels
commit: https://github.com/stealthybox/ignite/commit/b6510125c60feca20f01e77a3a157c8bb35c1311

Only the 5.10 and 5.14 kernels have any changes when this is patched in.
Need to verify if unknown options affect the lower version kernel-config builds negatively in any way.

Talked to @darko

[2021-11-14 19:46] darkowlzz commented on #768
Hi, here's some update about wireguard support in ignite kernel and the results of my testing.
I built the 5.10 kernel from @stealthybox's branch mentioned above for both amd64 and arm64.
- `darkowlzz/ignite-kernel:5.10.77-amd64-wg`
- `darkowlzz/ignite-kernel:5.10.77-arm64-wg`

I followed the demo from https://www.wireguard.com/quickstart/ to test it out in two ignite VMs.

On trying the demo inst

[2021-11-19 19:06] darkowlzz commented on #768
#884 added support for wireguard in kernel 5.10 and 5.14, thanks to @stealthybox .
The kernel images are now available to use:
- `weaveworks/ignite-kernel:5.10.77`
- `weaveworks/ignite-kernel:5.14.16`

Using any ignite OS image with these kernel images should now have wireguard support.

Closing this issue for now. Please open another issue for further discussions around it.

[2021-11-19 19:06] #768 closed

[2022-01-02 08:34] #765 closed

[2022-01-05 06:51] mrgleeco opened #889 "task-based VM lifecycle"
hello - i'm wondering if there's any prior art or docs about using ignite run for jobs in a VM. I'm new here so unclear if ignite is suitable or this is unsupported and antipattern.

related: it looks like docker `ENTRYPOINT` is moot. Is there docs or advice to starting up? Just roll your own with systemd?

[2022-01-05 06:52] mrgleeco opened #890 "GPU support?"
Looking for advice or guidance on how to use GPUs in the VM. Is this supported?

[2022-01-05 22:05] mrgleeco commented on #890
relevant: https://github.com/firecracker-microvm/firecracker/issues/1179

[2022-01-15 21:50] matti commented on #874
this.

[2022-01-16 06:23] subzero112233 commented on #874
It just doesn’t make sense to have to run the container “anonymously” and then execute the command externally.
There is a huge potential in this project, but it it just too cumbersome to get up and running.

[2022-01-26 12:39] michaeldbianchi opened #891 "Port mapping without protocol fails to modify iptables"
Hey there 👋
Trying ignite out because I love the concept of a declarative lightweight KVM based VM system.

When trying to run a VM declaratively and specifying a port mapping without a protocol results in an `iptables` error signifying a missing protocol. The [docs](https://ignite.readthedocs.io/en/stable/declarative-config/) state the protocol should be optional and default to `tcp`, but that do

[2022-02-22 08:49] Sfinx opened #895 "Smoke test failed at Ubuntu 20.04"
[code]

[code]

And there no way to stop or remove the running image:

[code]

[2022-03-15 08:13] runvnc opened #904 "Can't start with Docker runtime: /var/lib/firecracker: read-only filesystem"
With containerd, kept saying 'waiting for sshd to start'.. so I decided to try Docker.

[code]

[2022-04-21 07:46] mvgijssel commented on #668
I'm running into a similar problem where the `ignited` daemon removes the config whenever I make a change to a vm template within the ` /etc/firecracker/manifests/` directory.

These are the logs of `ignited` when I try to update the ip address of the vm

[code]

[2022-04-30 21:46] darkowlzz commented on #904
Hi, thanks for reporting this issue. Can you share some details about your environment and maybe also some details about containerd and docker in your machine? I suspect it's failing due to some container runtime configuration. Are they running in some rootless mode?

[2022-04-30 21:51] darkowlzz commented on #895
Hi, can you share more details for reproducing this issue? Looks like you're using flannel. I suspect some flannel related failure resulted in a partially initialized VM with unknown runtime. There are some docs in https://ignite.readthedocs.io/en/stable/networking/ regarding using flannel with ignite.

[2022-05-03 08:58] Sfinx commented on #895
Hi, I do not use flannel - it even do not installed. But thanks for hint - there was stale /etc/cni directory at my system. Removing it fixed the issue.

[2022-05-03 08:58] #895 closed

[2022-05-12 08:50] Giles2000 opened #927 "vm hang up at load kernel on AMD CPU"
it happend as the title at yesterday,
but the interesting thing is it works well at inter cpu。
we are try to find what's wrong with it.

[code]

[code]

and  works properly  vm at inter cpu log is :
[code]
and `[    0.041659] x86/cpu: User Mode Instruction Prevention (UMIP) activated` is a questionable message

[2022-05-26 02:54] #927 closed

[2022-06-28 17:44] NiklasRosenstein opened #939 "VM doesn't start up (or shuts down immediately)"
I'm trying to run an ignite VM on my dedicated server. I've followed the guide on https://ignite.readthedocs.io/en/stable/installation/.

[code]

The only thing that appears off to me here is that `ignite version` does not show a line with the `Runtime`.

__Observed behavior__

In one session:

[code]

In a parallel session:

[code]

There is no output from the `ignited` daemon while trying to sta

[2022-07-14 06:55] simon1tan1 commented on #939
@chrisyalamov, looks like you are missing files.
My /opt/cni/bin/ directory:
bandwidth*  bridge*  dhcp*  firewall*  flannel*  host-device*  host-local*  ipvlan*  loopback*  macvlan*  portmap*  ptp*  sbr*  static*  tuning*  vlan*  vrf*

Perhaps reinstall

[2022-08-02 21:26] chrisyalamov opened #942 "Unable to access MMDS from inside guest OS"
I'm not sure if this question is best suited to this repository or [firecracker-microvm/firecracker](https://github.com/firecracker-microvm/firecracker) but I'm hoping someone might be able to help out.

Using the socket (in `/var/lib/firecracker/vm/{vm-id}/firecracker.sock`, I'm able to successfully write to the metadata store. However, attempting to access this from inside the guest OS isn't beh

[2022-08-04 17:23] solarkraft commented on #583
See https://github.com/weaveworks/ignite/issues/864

[2022-08-04 17:26] solarkraft commented on #874
Why not add this as an option to a VM's configuration file?

[2022-08-04 17:39] solarkraft commented on #829
Is it planned at all? This might be a reason for me to go with Kata containers even though I'd really like to use Ignite.

[2022-08-09 12:58] lennybakkalian opened #944 "Is an SDK or a "cmd and logic separation" planned?"
Is a proper separation between cmd and logic in planning? This would allow developers to use ignite as sdk.

For example:
If you want to [execute a command programmatically](https://github.com/weaveworks/ignite/blob/84f4c84ae5b3f1b924ad5ba7521328de1a1c0f89/cmd/ignite/run/exec.go#L35) in the container (because entrypoints are unfortunately [not supported](https://github.com/weaveworks/ignite/issues

[2022-10-02 11:38] srikantpatnaik commented on #675
@Khalian any success with this? I'm facing the same in 2022!

[2022-10-05 10:38] networkop opened #949 "Dependencies upgrade"
Hey friends👋 ,
We've recently discovered that the ignite runtime in https://containerlab.dev is broken because of k8s.io/apimachinery (some details in this PR https://github.com/srl-labs/containerlab/pull/1037)

I see there are a few PRs with dependency upgrades but they don't get merged. I understand this may require a substantial amount of work not only in this project but others, e.g. libgitops

[2022-10-13 05:12] Khalian commented on #675
@srikantpatnaik No sorry. Never got this to work. Plus I have not tried it around this year.

[2022-11-21 22:48] kochia4 opened #956 "Build Kernels with additional modules"
How can I build kernels with some additional features and use them when I run `ignite run`?
I build them from `ignite/images/kernel` via `make` but couldn't find where are compiled files are located?

after that how can I use the generated kernel with `ignite run`?

Some examples would be useful